.link {
  position: absolute;
  background: #fff;
  z-index: 1001;
  border: 1px solid #ccc;
  padding: 0 20px;
  width: 500px;
}
.insert_link {
  color: #888;
  margin-right: 20px;
}
.insert_link:hover {
  color: #e12d34;
}
.show_link {
  height: 100%;
  width: 100%;
}
.show_link .left {
  width: 100px;
  height: 100px;
  /*line-height: 100px;*/
}
.show_link .right {
  margin-left: 20px;
  width: 300px;
}
.show_link .right a {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}
.show_link .right .des {
  color: #999;
  line-height: 20px;
}
