/* public*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}
ul{
    margin-right: 4rem!important;
}
html{
    font-size: 10px;
}
h2{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.8rem;
}
.col-md-12{
    padding: 0!important;
}
.btn-primary{
    background-color: #299ecf!important;
}
body{
    font-family:  "Microsoft YaHei";
    font-size: 1.4rem;
    color: #4b4b4b;
    background-color: #fafafa;

}
a:hover,a:active,a:focus{
    text-decoration: none;
    transition: .5s;
}
form>*{ 
    resize: none;
    margin: 1.5rem 0;
}
.form-signin£¬{
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}
.btn{
    padding: 0.4rem 1rem;
    margin-top: 0;
}
input{
    border: .2rem solid #e7e6e6
}
input,.btn{
   max-height: 3rem;

}
input,textarea{
    border-radius:0!important; ;
}

form{
    zoom: 1;
    max-width: 33rem;
    margin: 0 auto;
}
.form-max-none{
    max-width: none;
}
form:after{
    display: block;
    width: 0;
    height: 0;
    content: ".";
    clear: both;
    overflow: hidden;
}
form h3{
    color: #299ecf;
}
/* Login Reg getPassword... */
.form-logo{
    border-image: none;
    border: 0!important;
    width: 100%;
    height: 8rem;
    background: url("../image/logo-1x.png")  no-repeat center center;
}
.text-center>h3{
    font-size: 1.6rem;
}
@media (min-width: 768px) and (max-width: 991px){
    .form-logo{
        width: 100%;
        height: 16rem;
        background: url("../image/logo-2x.png")   no-repeat center center;
    }
}
@media (min-width: 992px) {
    .form-logo{
        width: 100%;
        height: 24rem;
        background: url("../image/logo-3x.png")   no-repeat center center;
    }
}

/* head*/
.navbar-brand{
    padding: 0 1.5rem;
}

.navbar-header a{
    font-size: 2.4rem;
    display: block;
    height:6rem;
    line-height: 5rem;
}
.navbar-head ul{
    margin: 0!important;
}
.navbar-head {
    line-height: 5rem;
    font-size: 1.6rem;
}
.navbar-head-color {
    background-color: #299ecf;
}
.navbar-head-color a{
    color: #fff!important;
    transition: .3s;

    ;
}
.navbar-head a{
    display: block;
    width: 100%;
    height: 100%;
    /* margin-left: 2rem; */
}
.navbar-head li a:hover,
.navbar-head li a:active,
.navbar-head li a:focus{
    background-color: rgba(222, 217, 230, 0.26);
}
.navbar-head li{
    padding: 0!important;
}
.navbar-head li>a{
     padding-left: 1rem!important;
     padding-right: 1rem!important;
}

/* mobile nav*/
.mobile-nav{
    margin-top: 5rem;
    background-color: #fff;
}
.mobile-nav .container{
    padding: 0!important;
}
.mobile-nav ul{
    width: 100%;
    text-align: center;
    margin: 0!important;
}
.mobile-nav li{
    width: 32%;
    padding: .5rem 0!important;
    text-align: center;
    border-bottom:.3rem solid #ffffff;
}
.mobile-nav li:nth-last-child(1){
     float: right;
 }
.mobile-nav li:nth-child(1){
    float: left;
}
.mobile-nav li>a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    color: black;
}
.mobile-nav .active{
    border-bottom:.3rem solid #ff0000;
}

/* framework */
.framework-content{
    margin-top: 8.55rem;
}
.delete-float{
    zoom: 1;
}
.delete-float:after {
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
section>.delete-float>*{
    margin-top: 0.5rem;
}
section>.delete-float h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.4rem;
    font-size: 1.8rem;
}
section>.delete-float>*:nth-last-child(1){
    margin-right: 1.5rem;
}
article {
    padding: 1rem 1.2rem;
    background-color: #fff;
    border: .1rem solid #e7e6e6;
    margin: 1rem;

}
article:nth-child(2){
    margin-top:0;
}

article h3,article h3>*{
    color: #32393d;
    font-size: 1.6rem;
}
article h3{
    margin-top: 0!important;
}
article>div{
    margin: 1rem 0;
}

/* container*/
.container-img {
    width: 12%;
    height: auto;
}
.container-img img{
    width: 100%;
    height: auto;
    margin: 0.5rem;
}
.container-content{
    width: 87%!important;
    height: 4.4rem;
    overflow: hidden;
    font-size: 1.4rem;
}



/*  aside*/
.top-ic {
    margin: 0 2rem!important;
}
.top-ic li{
    zoom: 1;
}
.top-ic li:after {
    display: block;
    clear: both;
    overflow: hidden;
    width: 0;
    height: 0;
    content: ".";
}
.top-ic li{
    width: 100%;
    margin: .5rem;
    padding: .5rem 1rem;
    background-color: #fff;
    border: .1rem solid #e7e6e6;
}
.top-ic li:nth-child(1){
    margin-top: 0;
}
.top-ic li>*{
    float: left;
}
.top-ic li>*:nth-last-child(1){
    margin-top: 1rem;
}
.top-ic li img{
    margin-left: 1rem;
    width: 6rem;
    height: 6rem;
}
.top-ic li>*:nth-last-child(1){
    margin-left: 2rem;
}



/* reply-list*/
.reply-list>div{
    margin: 1rem 0;
    border-bottom: .1rem solid #e6e6e6;
}
.reply-list>div:nth-child(1){
    border-top: .1rem solid #e6e6e6;
}
.reply-list>div:nth-last-child(1){
    border-bottom: none;
}


/* page-nav*/
.page-nav .container{
    padding: 0!important;
}
.page-nav ul{
    width: 100%;
    text-align: center;
}
.page-nav li{
    width: 32%;
    padding: 0.5rem 0!important;
    text-align: center;
    color: #999898;
}
.page-nav a{
    color: #bfbfbf;
}
.page-nav li>a{
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    /* border-radius: .5rem; */
    /* border: 0rem solid #8fcfe6; */
}

/* foot*/
.footer {
    margin-top: 1rem;
    color: #7b7b7b;zoom:1;
}
.footer *{
    font-size: 1.2rem;
}
.footer a{
    color: inherit;
}
.footer a:hover,.footer a:focus,.footer a:active{
    color: rgb(30, 166, 221);
}
.footer:after {
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
/* text */
.text-16{
    font-size: 1.6rem;
}
.text-15{
    font-size: 1.5rem;
}
.text-20{
    font-size: 2rem;
}