<extend name="Base/mob_common"/>
<block name="mob_body">


    <div class="store-container ">
        <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
        <link rel="stylesheet" href="__CSS__/amazeui.min.css"/>
        <link rel="stylesheet" href="__CSS__/store.css"/>
        <link rel="stylesheet" href="__CSS__/app.css"/>

        <div>
            <a href="{:U('store/search')}" style="margin-top: 0px">
                <input type="text" class="am-form-field am-input-sm "
                       placeholder="搜索宝贝、店铺">
            </a>
        </div>
        <!--此组件根据图片尺寸生成 后端固定尺寸-->
        <div data-am-widget="slider" class="am-slider am-slider-default"
             data-am-slider='{animation:slide,slideshow:false}'>
            <ul class="am-slides">
                <volist name="adv" id="vo">
                    <li>
                        <a href="{$vo.link}"><img src="{$vo.image|getThumbImageById=222,222}"></a>

                        <!--                <div class="am-slider-desc">
                                            <a class="am-slider-more" href="{$vo.link}">了解更多</a>
                                        </div>-->
                    </li>
                </volist>

            </ul>
        </div>
        <!--店铺街链接-->

        <div class="am-g">
            <div class="am-u-sm-12 am-text-center" style="border: dashed 1px #f5f5f5">
                <a href="{:U('store/shop')}" style="line-height: 200px">店铺街</a>
            </div>
        </div>
        <!--热门商品与热门店铺链接-->
        <div class="am-g">
            <div class="am-u-sm-6 am-text-center" style="border: dashed 1px #f5f5f5">
                <a href="{:U('store/goods')}" style="line-height: 200px">最新上架</a>
            </div>
            <div class="am-u-sm-6 am-text-center" style="border: dashed 1px #f5f5f5">
                <a href="{:U('store/shop',array('hotShop'=>1))}" style="line-height: 200px">热门店铺</a>
            </div>
        </div>
    </div>


    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" id=""style="font-size: 14px">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="{:U('store/index')}">
                    微店首页
                </a>
            </li>
            <li>
                <php>
                    $shopId=D('StoreShop')->where(array('uid'=>is_login()))->find();
                    if($shopId){
                </php>
                <a href="{:U('store/shopDetail',array('id'=>$shopId['id']))}" class="">
                    我的店铺
                </a>
                <php>}else{     if (!check_auth('Store/Center/createShop')){</php>
                <a href="javascript:void(0);" onclick="toast.error('您无创建店铺权限');">
                    创建店铺
                </a>
                <php>}else{</php>
                <a href="{:U('mob/store/createshop')}" class="">
                    创建店铺
                </a>
                <php>}}</php>
            </li>
            <li>
                <a href="{:U('store/mycar')}" class="">
                    我的购物车
                </a>
            </li>

                   <php>
                        if (!is_login()) {
                    </php><li>
                    <a href="javascript:void(0);" onclick="toast.error('请登陆后再进行操作');" >
                                个人中心
                        </a></li>
                    <php>}else{</php>
            <li>
                <a href="{:U('mycenter')}" class="">
                    个人中心
                </a>
            </li>
              <php>}</php>
        </ul>
    </div>

</block>