<extend name="Base/mob_common"/>

<block name="mob_body">
    <link rel="stylesheet" href="__CSS__/apps/store.css"/>
    <div class="center-container ">
        <div class="user-box am-text-center" style="padding: 10px;">
            <img class="avatar-img am-img-thumbnail am-circle" style="width:64px;"
                 src="{$center['avatar64']}">
            <a href="{$center['space_mob_url']}" >{$center['nickname']}</a>
            <p>账户余额：{$center['money']['score4']}元</p>
<!--            <a href="{:U('recharge/index/recharge')}">充值</a>
            <a href="{:U('recharge/index/withdraw')}">提现</a>-->
        </div>
        <div class="line-box " style="padding: 10px">
            <ul class="am-avg-sm-4 am-avg-md-5">
                <li><a class="am-icon-file-text-o" href="{:U('mob/store/mycar')}">
                    我的购物车
                </a></li>
                <li><a class="am-icon-file-text-o" href="{:U('mob/store/mycollect')}">
                    我的收藏
                </a></li>
                <li><a class="am-icon-file-text-o" href="{:U('mob/store/soldbuy')}">
                    买到的宝贝
                </a></li>
<!--                <li><a class="am-icon-file-text-o" href="{:U('mob/store/evaluation')}">
                    评价管理
                </a></li>-->
                <li><a class="am-icon-file-text-o" href="{:U('mob/store/response')}">
                    评价管理
                </a></li>
                <li><a class="am-icon-file-text-o" href="{:U('mob/store/search')}">
                    查找商品
                </a></li>
                <li><a class="am-icon-file-text-o" href="{:U('mob/store/goodscate')}">
                    查看分类
                </a></li>

                <php>
                    $shopId=D('StoreShop')->where(array('uid'=>is_login()))->find();
                    if($shopId){
                </php>
                <li><a class="am-icon-file-text-o" href="{:U('mob/store/soldsell')}">
                    订单管理
                </a></li>
                <li><a class="am-icon-file-text-o" href="{:U('store/shopDetail',array('id'=>$shopId['id']))}">
                    我的店铺
                </a></li>
                <li><a class="am-icon-file-text-o" href="{:U('mob/store/addgoods')}">
                    发布宝贝
                </a></li>
                <li><a class="am-icon-file-text-o" href="{:U('mob/store/createshop',array('id'=>$shopId['id']))}">
                    基本设置
                </a></li>
                <php>}else{</php>
                <li><a href="{:U('mob/store/createshop')}" class="">
                    创建店铺
                </a></li>
                <php>}</php>
            </ul>

        </div>

    </div>

</block>