<extend name="Base/mob_common"/>
<block name="mob_body">
    <div class="shop-container ">
        <link rel="stylesheet" href="__CSS__/apps/store.css"/>
        <script src="__JS__/store.js"></script>
        <div class="am-panel am-panel-default" style="border-bottom: none">
            <div class="am-panel-hd am-g">
                <div class="am-u-sm-6" style="font-size: 13px;padding: 0px">
                    已入驻的小店
                </div>
                <div class="am-u-sm-6 am-text-right" style="font-size: 13px;padding: 0px">
                    已有{$shopCount}家小店入驻
                </div>

            </div>
            <div class="am-panel-bd" style="padding: 5px;border-bottom: none">
                <ul class="shop-box shoplist" >
                    <volist name="shop" id="vo">
                        <include file="_shoplist"/>
                    </volist>
                </ul>

            </div>
            <if condition="$pid['count'] eq 1">
            <div class="am-list-news-ft">
                <a class=" am-btn am-btn-secondary am-btn-block look-more add-more-shop" data-url="{:U('mob/store/addMoreShop')}" data-type="{$type}">查看更多 &raquo;</a>
            </div>
            </if>
        </div>

    </div>

    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-4">
            <php>
                $shopId=D('StoreShop')->where(array('uid'=>is_login()))->find();
                if($shopId){
            </php>
            <li>
                <a href="{:U('store/shopDetail',array('id'=>$shopId['id']))}" class="">
                    我的店铺
                </a>
            </li>
            <php>}else{</php>
            <li>
                <a href="{:U('store/createshop')}" class="">
                    我要开店
                </a>
            </li>
            <php>}</php>
        </ul>

    </div>
    <script>
        add_more_shop();
    </script>

</block>