<php>
    if(ACTION_NAME=='information'){ $tabClass['user_data'] = 'active'; }
    elseif(ACTION_NAME=='fans'||ACTION_NAME=='following'){ $tabClass['user_fans'] = 'active'; }
    elseif(ACTION_NAME=='rankverify'||ACTION_NAME=='rank'||ACTION_NAME=='rankverifyfailure'||ACTION_NAME=='rankverifywait'){ $tabClass['user_rank'] = 'active'; }
    else{ $tabClass[$type] = 'active'; }
</php>
        <style>
            .nav.navbar-nav li a.active{
                background-color: #ffffff;
            }
        </style>
<nav class="navbar navbar-default uc_navbar" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <volist name='appArr' id='vo'>
                <li><a href="{:U('appList',array('type'=>$key,'uid'=>$uid))}"  class="{$tabClass[$key]}">{$vo.title}</a></li>
            </volist>
            <li>
                <a href="{:U('information',array('uid'=>$uid))}" class="{$tabClass.user_data}">资料</a>
            </li>
            <li>
                <a href="{:U('rank',array('uid'=>$uid))}" class="{$tabClass.user_rank}">头衔</a>
            </li>
            <li>
                <a href="{:U('following',array('uid'=>$uid))}" class="{$tabClass.user_fans}">关注/粉丝</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>