<extend name="Public/base"/>

<block name="body">

    <div class="main-title">
        <h2>安装新主题<span style="font-size: 16px;color: red;"> (上传主题版前请确保系统中不存在同名主题文件名，如果存在，会合并两个主题)</span></h2>
    </div>
    <form action="{:U('Admin/Theme/add')}" enctype="multipart/form-data" method="post">
        <div style="padding: 15px">
            <div class="clearfix"></div>
            <div class="controls">
                <span id="upload_button" style="width: 100px;height: 30px;background: #B5B5B5;color: #fff;line-height: 30px;text-align: center;cursor: pointer;margin: 10px 0 20px;display: inline-block">上传主题压缩包</span>
                <br/>
                <span id="show_info" style="margin: 15px 30px 20px 0px;display: block;"></span>
                <input type="file" name="pkg" style="display: none" onchange="$('#show_info').html($(this).val())">
            </div>
            <div class="clearfix"></div>
            <div class="form-item">
                <button class="btn submit-btn" id="submit" type="submit" target-form="form-horizontal">安 装</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</block>

<block name="script">
    <script>
        $('#upload_button').click(function () {
            $('input[type=file]').click();
        })
    </script>
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Theme/tpls')}');
    </script>
</block>




