<extend name="Public/base"/>

<block name="body">
    <div class="clearfix common_block_border">
        <div class="row group_block_title">
            <div class="col-md-8 col-sm-8 col-xs-8" style="margin-top: 5px;">
                <php>if($tip){</php>{$tip|get_nickname}的帖子<php>}else{</php>查找结果 —— 关键词 <span style="color: red">{$_REQUEST.keywords}</span><php>}</php>
            </div>



        </div>
        <div class="col-xs-12">
            <section id="contents">
                <if condition="!$list">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-muted" style="text-align: center; font-size: 3em;">
                                <br/><br/>
                                暂时没有帖子～
                                <br/><br/><br/>
                            </p>
                        </div>
                    </div>
                </if>
                <volist name="list" id="document">
                    <include file="Public/post-item"/>
                </volist>
                <div class="pull-right">
                    {:getPagination($totalCount)}
                </div>
            </section>
        </div>
    </div>
</block>
