<%- include base/headerMobile.ejs %>
        <div class="add-planet-header">
            <div class="add-planet-headItems">
                <div class="add-planet-headItem add-planet-head-goback">
                    <div class="goback-label">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-goback_blue">
                            </use>
                        </svg>
                    </div>
                </div>
                <div class="add-planet-headItem add-planet-headIcon">
                    <img></img>
                </div>
                <div class="add-planet-headItem add-planet-headPlanet">影视分享</div>
                <div class="add-planet-headItem add-planet-headAbout">
                    <span>成员 1234</span>
                    <span class="dot">
                        .
                    </span>
                    <span>话题 9996</span>
                </div>
                <div class="add-planet-headItem add-planet-headJoin">
                    <button id="joinBtn" type="button">
                        加入
                    </button>
                </div>
            </div>
        </div>
        <div class="add-planet-private-body">
            <div class="body-tip">
                <span>加入该星球后方可浏览内容</span>
            </div>
        </div>
 
<%- include base/baseJSMobile.ejs %>

<script>
	(function() {
		var index = {
            joinbtn : $('#joinBtn'),

			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {
                var that = this;
                that.joinbtn.on('touchend',function(e){
                    e.preventDefault();
                    global.subData('/addPlanetPrivate',{
                        userId : 58,
                        groupId : 1,
                        text : '让我加入吧',
                    },function(data){
                        if(data.data && data.data.code == 1){
                            swal('成功','加入成功，请等待球主验证','success');
                        }else{
                            swal('错误','加入失败，请重试','error');
                        }
                    });
                });
			},
			init: function() {
                var that = this;
				that.bindEvent();
                
			}
		}
		index.init();
	})();
</script>
<%- include base/footerMobile.ejs %>