<%- include base/headerMobile.ejs %>
        <div class="add-planet-header">
            <div class="add-planet-headItems">
                <div class="add-planet-headItem add-planet-head-goback">
                    <div class="goback-label">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-goback_blue">
                            </use>
                        </svg>
                    </div>
                </div>
                <div class="add-planet-headItem add-planet-headIcon">
                    <img></img>
                </div>
                <div class="add-planet-headItem add-planet-headPlanet">影视分享</div>
                <div class="add-planet-headItem add-planet-headAbout">
                    <span>成员 1234</span>
                    <span class="dot">
                        .
                    </span>
                    <span>话题 9996</span>
                </div>
                <div class="add-planet-headItem add-planet-headJoin">
                    <button id="joinBtn" type="button">
                        加入
                    </button>
                </div>
            </div>
        </div>
        <div class="add-planet-body">
            <div class="add-planet-bodyItems">
                <div class="add-planet-bodyItem">
                    <div class="add-planet-bodyItem-header">
                        <div class="bodyItem-header-content">
                            <img></img>
                            <span class="bodyItem-header-user">名字起这么长可以吗</span>
                            <span class="bodyItem-header-date">2017-01-28 22:41</span>
                        </div>
                    </div>
                    <div class="add-planet-bodyItem-content">
                       <div class="add-planet-bodyItem-title">
                            <p>Ubuntu开荒笔记</p>
                       </div>
                       <div class="add-planet-bodyItem-brief">
                            <div class="bodyItem-brief-content">
                                <p>安装后。终端操作：sudo apt updatesudo apt upgrade重启，执行上述update命令一次，然后执行：sudo apt install ***常用的软件...</p>
                            </div>
                       </div>
                        <div class="bodyItem-brief-img">
                            <img></img>
                            <img></img>
                            <img></img>
                        </div>
                    </div>
                    <div class="add-planet-bodyItem-footer">
                        <div class="bodyItem-footer-comment">
                            <div class="bodyItem-footer-comment-detail">
                                <div class="footer-comment-detail-commnent">
                                    <span>
                                        <svg aria-hidden="true" class="icon">
                                            <use xlink:href="#icon-talk">
                                            </use>
                                        </svg>
                                    </span>
                                    <span class="footer-comment-detail-number">999+</span>
                                </div>
                            </div>
                            <div class="bodyItem-footer-comment-fence"></div>
                            <div class="bodyItem-footer-comment-detail">
                                <div>
                                    <span class="footer-comment-detail-praise">
                                        <svg aria-hidden="true" class="icon">
                                            <use xlink:href="#icon-good">
                                            </use>
                                        </svg>
                                    </span>
                                    <span class="footer-comment-detail-number">999+</span>
                                </div>
                            </div>
                            <div class="bodyItem-footer-comment-fence"></div>
                            <div class="bodyItem-footer-comment-detail">
                                <div>
                                    <span class="footer-comment-detail-collect">
                                        <svg aria-hidden="true" class="icon">
                                            <use xlink:href="#icon-star">
                                            </use>
                                        </svg>
                                    </span>
                                    <span class="footer-comment-detail-number">999+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="add-planet-bodyItem">
                    <div class="add-planet-bodyItem-header">
                        <div class="bodyItem-header-content">
                            <img></img>
                            <span class="bodyItem-header-user">淘淘</span>
                            <span class="bodyItem-header-date">2017-01-28 22:41</span>
                        </div>
                    </div>
                    <div class="add-planet-bodyItem-content">
                       <div class="add-planet-bodyItem-title">
                            <p>Ubuntu开荒笔记</p>
                       </div>
                       <div class="add-planet-bodyItem-brief">
                            <div class="bodyItem-brief-content">
                                <p>安装后。终端操作：sudo apt updatesudo apt upgrade重启，执行上述update命令一次，然后执行：sudo apt install ***常用的软件...</p>
                            </div>
                       </div>
                        <div class="bodyItem-brief-img">
                            <img></img>
                            <img></img>
                            <img></img>
                        </div>
                    </div>
                    <div class="add-planet-bodyItem-footer">
                        <div class="bodyItem-footer-comment">
                            <div class="bodyItem-footer-comment-detail">
                                <div class="footer-comment-detail-commnent">
                                    <span>
                                        <svg aria-hidden="true" class="icon">
                                            <use xlink:href="#icon-talk">
                                            </use>
                                        </svg>
                                    </span>
                                    <span class="footer-comment-detail-number">999+</span>
                                </div>
                            </div>
                            <div class="bodyItem-footer-comment-fence"></div>
                            <div class="bodyItem-footer-comment-detail">
                                <div>
                                    <span class="footer-comment-detail-praise">
                                        <svg aria-hidden="true" class="icon">
                                            <use xlink:href="#icon-good">
                                            </use>
                                        </svg>
                                    </span>
                                    <span class="footer-comment-detail-number">999+</span>
                                </div>
                            </div>
                            <div class="bodyItem-footer-comment-fence"></div>
                            <div class="bodyItem-footer-comment-detail">
                                <div>
                                    <span class="footer-comment-detail-collect">
                                        <svg aria-hidden="true" class="icon">
                                            <use xlink:href="#icon-star">
                                            </use>
                                        </svg>
                                    </span>
                                    <span class="footer-comment-detail-number">999+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="add-planet-additional">
            <div class="additional-container">
                <div class="additional-add pre"></div>
                <div class="additional-add last"></div>
            </div>
        </div>
 
<%- include base/baseJSMobile.ejs %>

<script>
	(function() {
		var index = {
            joinbtn : $('#joinBtn'),

			getServerData: function(param, cb) {
				
			},

            bindEvent: function() {
                var that = this;
                that.joinbtn.on('touchend',function(e){
                    e.preventDefault();
                    global.subData('/addPlanet',{
                        userId : 17,
                        groupId : 11,
                    },function(data){
                        if(data.data){
                            alert(data.msg);
                        }else{
                            swal('错误','加入星球失败，请重试','error');
                        }
                    });
                });
            },
			init: function() {
                var that = this;
				that.bindEvent();
			}
		}
		index.init();
	})();
</script>
<%- include base/footerMobile.ejs %>