<%- include base/headerMobile.ejs %>
        <div class="add-planet-header">
            <div class="add-planet-headItems">
                <div class="add-planet-headItem add-planet-head-goback">
                    <div class="goback-label">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-goback_blue">
                            </use>
                        </svg>
                    </div>
                </div>
                <div class="add-planet-headItem add-planet-headIcon">
                    <img></img>
                </div>
                <div class="add-planet-headItem add-planet-headPlanet">影视分享</div>
                <div class="add-planet-headItem add-planet-headAbout">
                    <span>成员 1234</span>
                    <span class="dot">
                        .
                    </span>
                    <span>话题 9996</span>
                </div>
                <div class="add-planet-headItem add-planet-headJoin">
                    <button>
                        加入
                    </button>
                </div>
            </div>
        </div>
        <div class="add-planet-body">
            <div class="body-tip">
                <span>加入该星球后方可浏览内容</span>
            </div>
        </div>
 
<%- include base/baseJSMobile.ejs %>

<script>
	(function() {
		var index = {


			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {

			},
			init: function() {
				this.bindEvent();
			}
		}
		index.init();
	})();
</script>
<%- include base/footerMobile.ejs %>