<%- include base/header.ejs %>
<div class="content">
	<div class="section">
		<div class="section-hd">
                <span>全部星球</span>
                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">
                </div> 
        </div>
        <div class="section-content">
        	<div class="allgroup-content">
        		<div class="allgroup-group">
        			<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        			<div class="allgroup-text">
        			  <h3>我们都是技术宅啊我们都是技术宅啊宅宅宅宅</h3>
        			  <span>我们都是技术宅啊宅宅我们都是技术宅啊宅宅我们都是技术宅啊宅宅我们都是技术宅啊宅宅我们都是技术宅啊宅宅</span>
        			</div>
        		</div>
        		<div class="allgroup-group">
        			<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        			<div class="allgroup-text">
        			  <h3>我们都是技术宅啊我们都是技术宅啊宅宅宅宅</h3>
        			  <span>我们都是技术宅啊宅宅我们都是技术宅啊宅宅我们都是技术宅啊宅宅我们都是技术宅啊宅宅我们都是技术宅啊宅宅</span>
        			</div>
        		</div>
        		<div class="allgroup-group">
        			<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        			<div class="allgroup-text">
        			  <h3>我们都是技术宅啊我们都是技术宅啊宅宅宅宅</h3>
        			  <span>我们都是技术宅啊宅宅我们都是技术宅啊宅宅我们都是技术宅啊宅宅我们都是技术宅啊宅宅我们都是技术宅啊宅宅</span>
        			</div>
        		</div>
        		<div class="allgroup-group">
        			<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        			<div class="allgroup-text">
        			  <h3>我们都是技术宅啊我们都是技术宅啊宅宅宅宅</h3>
        			  <span>我们都是技术宅啊宅宅我们都是技术宅啊宅宅我们都是技术宅啊宅宅我们都是技术宅啊宅宅我们都是技术宅啊宅宅</span>
        			</div>
        		</div>
        	</div>
        </div>
	</div>
</div>
<%- include base/baseJS.ejs %>
<%- include base/footerMobile.ejs %>