<%- include base/headerMobile.ejs %>
<nav class="personal-navbar">
                    <button class="personal-icon-back" type="button">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-goback">
                            </use>
                        </svg>
                    </button>
                    <div class="personal-navbar-brand">
                        <h1>
                            全部星球
                        </h1>
                    </div>
        </nav>
       <div class="allgroup-content">
           <div class="allgroup-group">
              <button type="button" style="background-image:url(../public/images/sadface_mobile.png);"></button>
              <h2>我们都是技术宅</h2>
              <span>介绍介绍介绍介绍介绍介绍介绍</span>
           </div>
           <div class="allgroup-group">
              <button type="button" style="background-image:url(../public/images/sadface_mobile.png);"></button>
              <h2>我们都是技术宅</h2>
              <span>介绍介绍介绍介绍介绍介绍介绍</span>
           </div>
           <div class="allgroup-group">
              <button type="button" style="background-image:url(../public/images/sadface_mobile.png);"></button>
              <h2>我们都是技术宅</h2>
              <span>介绍介绍介绍介绍介绍介绍介绍</span>
           </div>
           <div class="allgroup-group">
              <button type="button" style="background-image:url(../public/images/sadface_mobile.png);"></button>
              <h2>我们都是技术宅</h2>
              <span>介绍介绍介绍介绍介绍介绍介绍</span>
           </div>
       </div>
<%- include base/baseJSMobile.ejs %>
<%- include base/footerMobile.ejs %>