<%- include base/header.ejs %>
<h2 class="pensonal-title">修改密码</h2>
<div class="changepsw-content">
	<form id="passwordform">
      <div class="password-part">
       <label for="oldpswd">原密码</label>
       <input type="password" id="oldpswd" placeholder="*********" class="oldpswd" autocomplete="off">
       <label for="newpswd">新密码</label>
       <input type="password" id="newpswd" placeholder="*********" autocomplete="off">
       <label for="confirm">确认新密码</label>
       <input type="password" id="confirm" placeholder="*********" autocomplete="off">
       <button type="submit" id="savechanges">修改密码</button>
      </div>
   </form>
</div>
<%- include base/baseJS.ejs %>
<%- include base/footerMobile.ejs %>