<%- include base/headerMobile-default.ejs %>
<nav class="personal-navbar">
                    <button class="personal-icon-back" type="button">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-goback">
                            </use>
                        </svg>
                    </button>
                    <div class="personal-navbar-brand">
                        <h1>
                            修改密码
                        </h1>
                    </div>
</nav>
<div class="password-content">
   <form id="passwordform">
     <div class="password-part">
       <label for="oldpswd">原密码</label>
       <input type="password" id="oldpswd" placeholder="原密码" class="oldpswd" autocomplete="off">
       <input type="password" id="newpswd" placeholder="新密码" autocomplete="off">
       <input type="password" id="confirm" placeholder="确认密码" autocomplete="off">
       <button type="submit" id="savechanges">保存</button>
      </div>
   </form>
</div>
<%- include base/baseJSMobile-default.ejs %>

<script type="text/javascript">
  (function(){
    var users={
      oldpswd:$("#oldpswd"),
      newpswd:$("#newpswd"),
      confirm:$("#confirm"),
      passwordform:$("#passwordform"),
      verificate:function(){
        var self=this;
        var veriresult=true;
        $("input").each(function(){
          if($(this).val().length == 0){
            sweetAlert('格式错误', $(this).attr("placeholder")+'不能为空！', 'warning');
            veriresult=false;
          }
          if($(this).val().length < 6){
            sweetAlert('格式错误', '密码长度要大于6！', 'warning');
            veriresult=false;
          }
        });
        console.log(veriresult);
        if(!veriresult){
          return false;
        }
        if(self.newpswd.val()!=self.confirm.val()){
          sweetAlert('错误','新密码要一致！', 'warning');
          return false;
        }
        return true;
      },
      bindEvent:function(){
        var self=this;
        self.passwordform.submit(function(event){
          event.preventDefault();
          if(self.verificate()){
            global.subData('/changepassword',{
              password:self.oldpswd.val(),
              psw:self.newpswd.val(),
              check_psw:self.confirm.val(),
            },function(data){
                if (data.ret == 200 && data.data) {
                if (data.data.code == 1) {
                  //修改成功
                  sweetAlert('成功',data.msg,'success');
                  //待修改，将目标网址改为个人页面
                  var t=setTimeout("window.location.href = '/personal'",2000);
                } else {
                  sweetAlert('提示', data.msg, 'warning');
                }
                } else {
                  sweetAlert('错误', data.msg, 'error');
                }
            });
          }
        });
      },
      init:function(){
        this.bindEvent();
        wuanHeadFun.title("修改密码");
        //this.bindTabEvent();
      }
    };
    users.init();
  })()
</script>
<%- include base/footerMobile.ejs %>