<%- include base/headerMobile.ejs %>
<nav class="personal-navbar">
                    <button class="personal-icon-back" type="button">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-goback">
                            </use>
                        </svg>
                    </button>
                    <div class="personal-navbar-brand">
                        <h1>
                            创建星球
                        </h1>
                    </div>
</nav>
<div class="setgroup-content">
   <form id="group-infor">
   <span class="creatGroup-name">星球名称</span>
   <input type="text" value="" class="name-input" autocomplete="off"/>
   <div class="setgroup-img">
     <span>星球头像（选填）：</span>
     <div class="img-upload-progress"></div>
     <button type="button" style="background-image:url();" id="user-image-upload">
          <svg aria-hidden="true" class="icon">
              <use xlink:href="#icon-pitchon_not">
              </use>
          </svg>
     </button>
     <input type="hidden" name="g_image" value="" id="g_img" autocomplete="off">
   </div>
   <textarea class="setgroup-intro"></textarea>
   <div class="setgroup-join" id="set-private">
        <button type="button" data-private="0" id="choose-btn">
           <span>
           加入星球的方式
           </span>
           <svg aria-hidden="true" class="icon">
              <use xlink:href="#icon-right_black">
              </use>
          </svg>
        </button>
   </div>
   <div class="setgroup-choose">
     <button type="button" id="public">允许任何人加入</button>
     <button type="button" id="private">需申请方可加入</button>
   </div>
   <div class="setgroup-save">
     <button type="submit">
       创建星球
     </button>
   </div>
   </form>
</div>
<%- include base/baseJSMobile.ejs %>
<script type="text/javascript">
  (function(){
    var users={
      loading:HJLoading,
      g_name:null,
      g_image:null,
      g_introduction:null,
      private:null,
      verifi:function(){
        if($(".setgroup-intro").val().length>50){
          sweetAlert('格式错误','星球介绍不能超过50个字','warning');
          return false;
        }
        if($(".name-input").val().length<3 || $(".name-input").val().length>80){
          sweetAlert('格式错误','星球名称在3~80个字符之间','warning');
          return false;
        }
        if($(".name-input").val().length==0){
          sweetAlert('格式错误','请输入星球名称!','warning');
          return false;
        }
        return true;
      },
      //提交数据
      bindEvent:function(){
        var self=this;
        $("#group-infor").submit(function(e){
          e.preventDefault();
          if(self.verifi()){
            self.loading.start({
                loadingTPLId : 0,
                target : $(".setgroup-content"),
                loadingId : 'self'
              });
            self.g_name=$(".name-input").val();
            self.g_image=$("#g_img").val();
            self.g_introduction=$(".setgroup-intro").val();
            self.private=$("#choose-btn").data('private');
            global.getData('/createGroup/sub',{
              g_name:self.g_name,
              g_image:self.g_image,
              g_introduction:self.g_introduction,
              private:self.private
              },function(data){
              self.loading.stop('self');
              if(data.data.code==1){
                sweetAlert('成功',data.msg,'success');
                console.log(data.data.info.group_id);
                //成功后转到星球详情页面，现在是转到暂时页面
                var t=setTimeout(function(){
                  window.location.href="/group/"+data.data.info.group_id;
                },5000);
                
              }else{
                sweetAlert('提示', data.msg, 'warning');
              }
            });
          }
        });
      },
      //点击选择设置星球的私人属性，略乱
      setPrivate:function(){
        var self=this;
        $("#set-private").on('touchend',function(){
          if($(".setgroup-choose").css("visibility")=='visible'){
            $(".setgroup-choose").css("visibility","hidden");
            $("#choose-btn").find("use").attr("xlink:href","#icon-right_black");
          }else{
            $(".setgroup-choose").css("visibility","visible");
            $("#choose-btn").find("use").attr("xlink:href","#icon-down_black");
            $("#public").on('touchend',function(e){
              $("#choose-btn").data("private",0);
              $("#choose-btn").find("span").text("允许任何人加入");
              $(".setgroup-choose").css("visibility","hidden");
              $("#choose-btn").find("use").attr("xlink:href","#icon-right_black");
              return false;
            });
            $("#private").on('touchend',function(e){
              $("#choose-btn").data("private",1);
              $("#choose-btn").find("span").text("需申请方可加入");
              $(".setgroup-choose").css("visibility","hidden");
              $("#choose-btn").find("use").attr("xlink:href","#icon-right_black");
              return false;
            });
          }
        })
      },
      init:function(){
        this.setPrivate();
        this.bindEvent();
      }
    };
    users.uploader = Qiniu.uploader({
      runtimes: 'html5,flash,html4', //上传模式,依次退化
      browse_button: 'user-image-upload', //上传选择的点选按钮，**必需**
      uptoken_url: '/uptoken',
      //Ajax请求upToken的Url，**强烈建议设置**（服务端提供）
      // uptoken : '<Your upload token>',
      //若未指定uptoken_url,则必须指定 uptoken ,uptoken由其他程序生成
      unique_names: true,
      // 默认 false，key为文件名。若开启该选项，SDK会为每个文件自动生成key（文件名）
      // save_key: true,
      // 默认 false。若在服务端生成uptoken的上传策略中指定了 `sava_key`，则开启，SDK在前端将不对key进行任何处理
      domain: 'http://7xlx4u.com1.z0.glb.clouddn.com/',
      //bucket 域名，下载资源时用到，**必需**
      //container: containerId,           //上传区域DOM ID，默认是browser_button的父元素，
      max_file_size: '100mb', //最大文件体积限制
      flash_swf_url: '/javascripts/plupload/Moxie.swf', //引入flash,相对路径
      filters: {
        mime_types: [
          //只允许上传图片文件 （注意，extensions中，逗号后面不要加空格）
          {
            title: "图片文件",
            extensions: "jpg,gif,png,bmp"
          }
        ]
      },
      max_retries: 3, //上传失败最大重试次数
      dragdrop: true, //开启可拖曳上传
      //drop_element: 'editor-container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
      chunk_size: '4mb', //分块上传时，每片的体积
      auto_start: true, //选择文件后自动上传，若关闭需要自己绑定事件触发上传
      init: {
        'FilesAdded': function(up, files) {
          plupload.each(files, function(file) {
            // 文件添加进队列后,处理相关的事情
            //printLog('on FilesAdded');
          });
        },
        'BeforeUpload': function(up, file) {
          // 每个文件上传前,处理相关的事情
          //printLog('on BeforeUpload');
        },
        'UploadProgress': function(up, file) {
          // 显示进度条
          showUploadProgress(file.percent);
        },
        'FileUploaded': function(up, file, info) {
          // 每个文件上传成功后,处理相关的事情
          // 其中 info 是文件上传成功后，服务端返回的json，形式如
          // {
          //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
          //    "key": "gogopher.jpg"
          //  }
          //printLog(info);
          // 参考http://developer.qiniu.com/docs/v6/api/overview/up/response/simple-response.html

          var domain = up.getOption('domain');
          var res = $.parseJSON(info);
          var sourceLink = domain + res.key; //获取上传成功后的文件的Url

          // printLog(sourceLink);
          //console.log(sourceLink);
          var url = sourceLink + '?imageView2/1/w/100/h/100';
          //设置表单图片数据
          $("#g_img").val(url);
          var src = 'url(' + url + ')';
          // 设置图片为背景
          $("#user-image-upload").html("");
          $("#user-image-upload").css('background-image', src);
        },
        'Error': function(up, err, errTip) {
          //上传出错时,处理相关的事情
          sweetAlert('错误', errTip, 'error');
        },
        'UploadComplete': function() {
            //队列文件处理完毕后,处理相关的事情
            //printLog('on UploadComplete');

            // 隐藏进度条
            hideUploadProgress();
          }
          // Key 函数如果有需要自行配置，无特殊需要请注释
          //,
          // 'Key': function(up, file) {
          //     // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
          //     // 该配置必须要在 unique_names: false , save_key: false 时才生效
          //     var key = "";
          //     // do something with key here
          //     return key
          // }
      }
    });
    function showUploadProgress(progress) {
      var $progress = $(".img-upload-progress");
      var width = $(".personal-image").width();
      $progress.css('visibility', 'visible');
      $progress.width(progress*width/100);
    }
    function hideUploadProgress() {
      var $progress = $(".img-upload-progress");
      $progress.css('visibility', 'hidden');
    }
    users.init();
  })()
</script>
<%- include base/footerMobile.ejs %>