<%- include base/headerMobile.ejs %>
<div class="main">
    <div class="mask"></div>
    <div class="location clearfix">
        <h1>重置密码</h1>
    </div>
    <div class="login">
        <form class="login-form line-form" method="post" id="forget" action="/resetPassword">
            <div class="login-group line-fgroup">
                <label for="email" class="label-e"></label>
                <input type="email" name="email" placeholder="邮箱" id="email">
            </div>
            <button type="submit" id="subBtn">下一步</button>
        </form>
    </div>
</div>
<%- include base/baseJSMobile.ejs %>
<script type="text/javascript">
    (function() {
        var forget = {
            email: $("#email"),
            sendEform: $("#forget"),
            subBtn:$('#subBtn'),
            loading: $(".loading"),
            verificate: function() {
                var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
                if (!myreg.test(this.email.val())) {
                    sweetAlert('格式错误', '请填写正确的邮箱！', 'warning');
                    return false;
                }
                return true;
            },
            bindEvent: function() {
                var self = this;
                self.subBtn.on('click',  function(event) {
                    event.preventDefault();
                    /* Act on the event */
                    if (self.verificate()) {
                        self.loading.show();
                        self.sendEform.submit();
                    }
                });
            },
            init: function() {
                this.bindEvent();
            }
        }
        forget.init();
    })();
</script>
<%- include base/footerMobile.ejs %>