<%- include base/headerMobile.ejs %>
<nav class="group-nav">
	<button class="personal-icon-back" type="button">
        <svg aria-hidden="true" class="icon">
            <use xlink:href="#icon-goback_blue">
            </use>
        </svg>
    </button>
    <a>星球设置</a>
    <div class="group-img">
    	<button style="background-image:url();"></button>
    </div>
    <h2>影视分</h2>
    <div class="group-number">
    <span>成员 1111</span>.
    <span>话题 1111</span>
    </div>
</nav>
<div class="group-content">
	<div class="group-post">
		<div class="group-postmsg">
			<button></button>
			<div class="group-name">名字起这么长可以吗不可以啊啊啊啊啊啊</div>
			<div class="group-time">2017-01-01 22:44</div>
		</div>
		<h3>我是标题啊喂哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</h3>
		<div class="group-postcontent">
			优点：
			1. 同时支持块级和内联极元素
			2. 支持所有浏览器
			缺点：
			1. 只能显示一行
			2. IE中不支持等的居中
			要注意的是：
			1. 使用相对高度定义你的
		</div>
		<ul class="group-image">
			<li><button style="background-image:url();"></button></li>
			<li><button style="background-image:url();"></button></li>
			<li><button style="background-image:url();"></button></li>
		</ul>
		<div class="group-btn">
			<button class="btn-comment">
				<svg aria-hidden="true" class="icon">
		            <use xlink:href="#icon-talk_blue">
		            </use>
                </svg>  
                <span>999+</span>
			</button>
			<button class="btn-praise">
				<svg aria-hidden="true" class="icon">
		            <use xlink:href="#icon-good_blue">
		            </use>
                </svg>  
                <span>999+</span>
			</button>
			<button class="btn-collect">
				<svg aria-hidden="true" class="icon">
		            <use xlink:href="#icon-star_blue">
		            </use>
                </svg>  
                <span>999+</span>
			</button>
		</div>
	</div>
</div>
<%- include base/baseJSMobile.ejs %>
<%- include base/footerMobile.ejs %>