<%- include base/header.ejs %>
<div class="content">
	<div class="section">
		<div class="section-hd">
                <span></span>
                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">
                </div> 
        </div>
        <div class="section-content">
            <div class="group-msg">
            	<div class="group-img">
                        <button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
                </div>
                <h2 class="group-head">我们都是技术宅aaaaaa</h2>
                <div class="group-number">
                	<span>999+ 成员</span>
	                <span>999+ 话题</span>
                </div>
                <div class="group-intro">
                	我们是介绍啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                </div>
                <div class="group-creater">
                	星球主：三木
                </div>
                <button class="group-set">退出星球</button>
            </div>
        	<div class="group-post">
        		<div class="group-post-img">
        			<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        		</div>
        		<div class="group-post-msg">
        			<span class="creater-name">三mu111111</span>
        			<span> 发表于 </span>
        			<span class="group-name">三木三木啊啊啊啊</span> 
        			<span>2018-09-09 22:22</span>
        		</div>
        		<h3 class="group-post-title">孩子们</h3>
        		<div class="group-post-content">哔哩哔哩周边 联系我们 加入我们 官方认证 传送门 帮助中心 高级弹幕 活动专题页 侵权申诉 分院帽计划 活动中心 用户反馈论坛 壁纸站 名人堂 手机端下载 新浪微...哔哩哔哩周边 联系我们 加入我们 官方认证 传送门 帮助中心 高级弹幕 活动专题页 侵权申诉 分院帽计划 活动中心 用户反馈论坛 壁纸站 名人堂 手机端下载 新浪微...</div>
        		<div class="group-post-image">
        			<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        			<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        			<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        		</div>
        		<div class="group-post-btn">
        			<span>评论</span>
        			<span>999+</span>
        			<span>点赞</span>
        			<span>999+</span>
        			<span>收藏</span>
        			<span>999+</span>
        		</div>
        	</div>
        	<div class="group-post">
        		<div class="group-post-img">
        			<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        		</div>
        		<div class="group-post-msg">
        			<span class="creater-name">三mu111111</span>
        			<span> 发表于 </span>
        			<span class="group-name">三木三木啊啊啊啊</span> 
        			<span>2018-09-09 22:22</span>
        		</div>
        		<h3 class="group-post-title">孩子们</h3>
        		<div class="group-post-content">哔哩哔哩周边 联系我们 加入我们 官方认证 传送门 帮助中心 高级弹幕 活动专题页 侵权申诉 分院帽计划 活动中心 用户反馈论坛 壁纸站 名人堂 手机端下载 新浪微...哔哩哔哩周边 联系我们 加入我们 官方认证 传送门 帮助中心 高级弹幕 活动专题页 侵权申诉 分院帽计划 活动中心 用户反馈论坛 壁纸站 名人堂 手机端下载 新浪微...</div>
        		<div class="group-post-image">
        			<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        			<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        			<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        		</div>
        		<div class="group-post-btn">
        			<span>评论</span>
        			<span>999+</span>
        			<span>点赞</span>
        			<span>999+</span>
        			<span>收藏</span>
        			<span>999+</span>
        		</div>
        	</div>
        	<a href="#" class="group-public"><span>+</span></a>
        </div>
	</div>
</div>
<%- include base/baseJS.ejs %>
<%- include base/footerMobile.ejs %>