<%- include base/header.ejs %>
<div id="content">
    <div class="article">
        <div class="section mid-container">
            <% if (typeof user !== 'undefined') { %>
            <ul class="section-tab">
                <li class="on section-hd" id="myplanet-chart-hd">
                    <span>我的星球</span>
                </li>
                <li class="off section-hd" id="topic-chart-hd">
                    <span>最新话题</span>
                </li>

                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">

                </div>
            </ul>  
            <div id="myplanet" class="section-content margin-H-16px"> 
                <div id="demo1"></div>
            </div>
            <div id="topic" class="section-content display-none margin-H-16px">
                <div id="demo2"></div>
            </div>  
            <% } else { %>   
            <div class="section-hd">
                <span>最新话题</span>
                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">
                </div> 
            </div>
            <div id="topic" class="section-content">
                <div id="demo3"></div>
            </div>
            <% } %>      
        </div>
    </div>
    <% if (typeof user !== 'undefined') { %>
    <div class="aside">
        <div class="section big-container">
            <div class="section-hd">
                <span>我加入的星球</span>
                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">
                </div> 
            </div>
            <div class="section-content">
                <div class="aside-group-list">
                    <div class="aside-group-item">
                        <button id="aside-allgroup" class="aside-btn aside-btn-blue">全部星球</button>
                        <button id="aside-creatgroup" class="aside-btn aside-btn-blue">创建星球</button>
                    </div>                    
                </div>
            </div>     
        </div>
    </div>
    <% } %>
</div>
<%- include base/baseJS.ejs %>
<script type="text/html" id="index-entry-tpl">
    {{each posts as item i}}
    <div id="post-{{item.posts.post_id}}" class="index-entry">
        <div class="index-entry-header">
            <div class="index-entry-info">
                <img src="{{item.users.profile_picture}}">
                <p>{{item.users.user_name}}　发表于　{{item.groups.g_name}}</p>
            </div>
            <div class="index-entry-date">
                <p>{{item.posts.create_time}}</p>
            </div>
        </div>
        <div class="index-entry-content">
            <h1>{{item.posts.p_title}}</h1>
            <div class="index-entry-brief">
                <p>{{item.posts.p_text}}</p>
            </div>
        </div>
        <div class="index-entry-footer">
            <ul>
                <li id="{{item.posts.post_id}}-index-reply-btn" {{if item.posts.replied == 1}} class="done" {{/if}}>                        
                    <p>评论 {{item.posts.replied_num}}</p>
                </li>
                <li id="{{item.posts.post_id}}-index-approve-btn" {{if item.posts.approved == 1}} class="done" {{/if}}>
                    <p>点赞 {{item.posts.approved_num}}</p>
                </li>
                <li id="{{item.posts.post_id}}-index-collect-btn" {{if item.posts.collected == 1}} class="done" {{/if}}>
                    <p>收藏 {{item.posts.collected_num}}</p>
                </li>
            </ul>
        </div>
    </div>
    {{/each}}
</script>
<script type="text/html" id="group-item-tpl">
    {{each groups as item i}}
    <button id="group-{{item.group_id}}" class="aside-btn">{{item.g_name}}</button>
    {{/each}}
</script>
<script>
    (function() {
        //TODO: 改成面向对象的方式,这里需要重构
        //TODO: 收藏和取消收藏即使显示
        //TODO: 添加取消收藏
        //在绑定每个单项的按钮时使用,获取其操作的帖子的id
        var getEntryId = function(domNode) {
            if(domNode.tagName.toLowerCase() != "div" || domNode.className != 'index-entry') {
                return getEntryId(domNode.parentNode);
            } else {
                return parseInt(domNode.id.slice(5));
            }
        };
        var approve = function(id) {
            var li = $("#"+id.toString()+"-index-approve-btn");
            var p = $("#"+id.toString()+"-index-approve-btn > p");
            global.subData('/approve',{postid : id}, function(data) {
                var num = p.html().split(" ")[1];
                if (data.ret == 200 && data.data) {
                    //样式更新或者如何
                    if(li.hasClass('done')) {
                        swal('取消点赞成功');
                        li.removeClass('done');
                        num--;
                        p.html("点赞 " + num.toString());
                    } else {
                        swal('点赞成功');
                        li.addClass('done');   
                        num++;
                        p.html("点赞 " + num.toString());             
                    }

                } else {
                    sweetAlert('错误', '点赞失败', 'error');
                }                                   
            });            
        }
        var collect = function(id) {
            var li = $("#"+id.toString()+"-index-collect-btn");
            var p = $("#"+id.toString()+"-index-collect-btn > p");
            global.subData('/collect',{postid : id}, function(data) {
                var num = p.html().split(" ")[1];
                if (data.ret == 200 && data.data) {
                    //样式更新或者如何
                    if(li.hasClass('done')) {
                        swal('取消收藏成功');
                        li.removeClass('done');
                        num--;
                        p.html("收藏 " + num.toString());
                    } else {
                        swal('收藏成功');
                        li.addClass('done');    
                        num++;
                        p.html("收藏 " + num.toString());                                    
                    }

                } else {
                    sweetAlert('错误', '收藏失败', 'error');
                }                                   
            });            
        }

        var index = {
            indexEntries: $(".index-entries"),
            loadedpn: 1,

            getServerData: function(param, cb) {
                
            },
            bindEvent: function() {
                var self = this;   

            },
            init: function() {
                var self = this;
                //标签页
                $(".section-tab").on("click", ".section-hd[id]", function(e) {
                    var a = "fuck";
                    var targetid = e.currentTarget.id.split('-')[0];
                    //添加删除类
                    //头部部分
                    $(".section-hd[id]").addClass("off").removeClass("on");
                    $(e.currentTarget).addClass("on");
                    //content部分
                    $(".section-content[id]").addClass("display-none");
                    $("#"+targetid).removeClass("display-none");
                })

                var loadtype = window.location.pathname;
                var rebind = function() {

                    $(".index-entry").off("click");
                    //绑定每个index-entry的收藏操作
                    $(".index-entry").on("click","[id*='index-collect-btn']",function(e){
                        var indexid = getEntryId(e.target);
                        collect(indexid);
                    });
                    //绑定每个index-entry的回复操作
                    $(".index-entry").on("click","[id*='index-reply-btn']",function(e){
                        var indexid = getEntryId(e.target);
                        window.location.href = '/posts/' + indexid;
                    });
                    //绑定每个index-entry的点赞操作
                    $(".index-entry").on("click","[id*='index-approve-btn']",function(e){
                        var indexid = getEntryId(e.target);
                        approve(indexid);
                    });
                    $(".index-entry-content").on("click",function(e){
                        window.location.href = '/posts/' + e.currentTarget.parentElement.id.slice(e.currentTarget.parentElement.id.indexOf('-')+1);
                    });
                };
                <% if (typeof user !== 'undefined') { %>
                //登陆我的星球分页加载
                function demo1(curr){
                    global.subData(loadtype,{pn : curr || 1}, function(data) {
                        if((curr || 1)<=data.data.page_count){
                            result = template("index-entry-tpl",data.data);
                        }
                        //插入数据
                        $('#myplanet > .index-entry').remove();
                        $('#myplanet').prepend(result);   
                        laypage({
                            cont: document.getElementById('demo1'),
                            pages: data.data.page_count, //通过后台拿到的总页数
                            curr: curr || 1, //当前页
                            jump: function(obj, first){ //触发分页后的回调
                                if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                                    demo1(obj.curr);
                                }
                            }
                        });
                        rebind();
                    });
                };
                demo1();
                //登陆我的星球分页加载
                function demo2(curr){
                    global.subData(loadtype,{pn : curr || 1, loadlatest: true}, function(data) {
                        if((curr || 1)<=data.data.page_count){
                            result = template("index-entry-tpl",data.data);
                        }
                        //插入数据
                        $('#topic > .index-entry').remove();
                        $('#topic').prepend(result);   
                        laypage({
                            cont: document.getElementById('demo2'),
                            pages: data.data.page_count, //通过后台拿到的总页数
                            curr: curr || 1, //当前页
                            jump: function(obj, first){ //触发分页后的回调
                                if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                                    demo2(obj.curr);
                                }
                            }
                        });
                        rebind();
                    });
                };
                demo2();
                <% } else { %>
                //未登录情况获取最新的贴子
                function demo3(curr){
                    global.subData(loadtype,{pn : curr || 1}, function(data) {
                        if((curr || 1)<=data.data.page_count){
                            result = template("index-entry-tpl",data.data);
                        }
                        //插入数据
                        $('.index-entry').remove();
                        $('#topic').prepend(result);   
                        laypage({
                            cont: document.getElementById('demo3'),
                            pages: data.data.page_count, //通过后台拿到的总页数
                            curr: curr || 1, //当前页
                            jump: function(obj, first){ //触发分页后的回调
                                if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                                    demo3(obj.curr);
                                }
                            }
                        });
                        rebind();
                    });
                };
                demo3();
                <% } %>    

                // 登陆时获取用户星球列表
                <% if (typeof user !== 'undefined') { %>
                global.subData('/myplanet',{pn : 1}, function(data) { 
                    //插入数据 
                    result = template("group-item-tpl",data.data);
                    $('.aside-group-item').html(result + $('.aside-group-item').html());
                    //绑定事件
                    $('.aside-btn').on('click', function(e) {
                        window.location.href = '/groups/' + e.currentTarget.id.split("-")[1];
                    })
                    $('#aside-allgroup').on('click', function(e) {
                        window.location.href = '/allgroup/';
                    })
                    $('#aside-creatgroup').on('click', function(e) {
                        window.location.href = '/creategroup';
                    })
                });
                <% } %>    
                //self.bindEvent();    
            }
        }
        index.init();
    })();
</script>

<%- include base/footerMobile.ejs %>
