<%- include base/headerMobile-index.ejs %>
        <div class="tab-container">
            <div class="index-entries">
            </div>
        </div>
<%- include base/baseJSMobile-index.ejs %>



<script type="text/html" id="index-entry-tpl">
    {{each posts as item i}}
    <div id="post-{{item.posts.post_id}}" class="index-entry">
        <div class="index-entry-header">
            <div class="index-entry-info">
                <img src="{{item.users.profile_picture}}">
                <p>{{item.users.user_name}}　发表于　{{item.groups.g_name}}</p>
            </div>
            <div class="index-entry-date">
                <p>{{item.posts.create_time}}</p>
            </div>
        </div>
        <div class="index-entry-content">
            <div class="index-entry-title">
                <h1>{{item.posts.p_title}}</h1>
            </div>
            <div class="index-entry-brief">
                <p>{{item.posts.p_text}}</p>
            </div>
        </div>
        <div class="index-entry-footer">
            <ul>
                <li id="index-reply-btn" {{if item.posts.replied == 1}} class="done" {{/if}}>                        
                    <svg aria-hidden="true" class="icon">
                        {{if item.posts.replied == 1}}
                        <use xlink:href="#icon-talk_blue">
                        {{else}}
                        <use xlink:href="#icon-talk">   
                        {{/if}}
                        </use>
                    </svg>
                    <p>{{item.posts.replied_num}}</p>
                </li>
                <li id="index-approve-btn" {{if item.posts.approved == 1}} class="done" {{/if}}>
                    <svg aria-hidden="true" class="icon">
                        {{if item.posts.approved == 1}}
                        <use xlink:href="#icon-good_blue">
                        {{else}}
                        <use xlink:href="#icon-good">   
                        {{/if}}
                        </use>
                    </svg>
                    <p>{{item.posts.approved_num}}</p>
                </li>
                <li id="index-collect-btn" {{if item.posts.collected == 1}} class="done" {{/if}}>
                    <svg aria-hidden="true" class="icon">
                        {{if item.posts.collected == 1}}
                        <use xlink:href="#icon-star_blue">
                        {{else}}
                        <use xlink:href="#icon-star">   
                        {{/if}}
                        </use>
                    </svg>
                    <p>{{item.posts.collected_num}}</p>
                </li>
            </ul>
        </div>
    </div>
    {{/each}}
</script>
<script>
	(function() {
        //TODO: 改成面向对象的方式,这里需要重构
        //TODO: 收藏和取消收藏即使显示
        //TODO: 添加取消收藏
        //在绑定每个单项的按钮时使用,获取其操作的帖子的id
        var getEntryId = function(domNode) {
            if(domNode.tagName.toLowerCase() != "div" || domNode.className != 'index-entry') {
                return getEntryId(domNode.parentNode);
            } else {
                return parseInt(domNode.id.slice(5));
            }
        };
        var isReplied = function(domNode) {
            if(domNode.tagName.toLowerCase() != "ul" || domNode.className != 'index-reply-btn') {
                return isReplied(domNode.parentNode);
            } else {
                if(domNode.className == 'done') {
                    return true;
                } else {
                    return false
                }
            }            
        }
        var isApproved = function(domNode) {
            if(domNode.tagName.toLowerCase() != "ul" || domNode.className != 'index-approve-btn') {
                return isCollected(domNode.parentNode);
            } else {
                if(domNode.className == 'done') {
                    return true;
                } else {
                    return false
                }
            }            
        }
        var approve = function(id) {
            // if(isApproved())
            global.subData('/approve',{postid : id}, function(data) {
                if (data.ret == 200 && data.data) {
                    //样式更新或者如何
                    swal('点赞成功')

                } else {
                    sweetAlert('错误', '点赞失败', 'error');
                }                                   
            });            
        }
        var isCollected = function(domNode) {
            if(domNode.tagName.toLowerCase() != "ul" || domNode.className != 'index-collect-btn') {
                return isCollected(domNode.parentNode);
            } else {
                if(domNode.className == 'done') {
                    return true;
                } else {
                    return false
                }
            }            
        }
        var collect = function(id) {
            global.subData('/collect',{postid : id}, function(data) {
                if (data.ret == 200 && data.data) {
                    //样式更新或者如何
                    swal('收藏成功');

                } else {
                    sweetAlert('错误', '收藏失败', 'error');
                }                                   
            });            
        }


		var index = {
            indexEntries: $(".index-entries"),
            loadedpn: 1,

			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {
                var self = this;   

			},
			init: function() {
                var self = this;
				var loadtype = window.location.pathname;
                if(loadtype == '/discovery') {
                    wuanHeadFun.tabHighlight("tab-head-discovery");
                    wuanHeadFun.title("发现");      
                } else {
                    wuanHeadFun.tabHighlight("tab-head-myindex");
                    wuanHeadFun.title("首页");                    
                }


                var rebind = function() {

                    $(".index-entry").off("touchend");
                    //绑定每个index-entry的收藏操作
                    $(".index-entry").on("touchend","#index-collect-btn",function(e){
                        var indexid = getEntryId(e.target);
                        collect(indexid);
                    });
                    //绑定每个index-entry的回复操作
                    $(".index-entry").on("touchend","#index-reply-btn",function(e){
                        var indexid = getEntryId(e.target);
                        window.location.href = '/posts/' + indexid;
                    });
                    //绑定每个index-entry的点赞操作
                    $(".index-entry").on("touchend","#index-approve-btn",function(e){
                        var indexid = getEntryId(e.target);
                        approve(indexid);
                    });
                };

                //绑定下拉加载
                $('.tab-container').dropload({
                    scrollArea: window,
                    domDown:{
                        domClass : 'dropload-down',
                        domRefresh : '<div class="dropload-refresh">上面有更多精彩...</div>',
                        domLoad    : '<div class="dropload-load"><span class="loading"></span>正在努力加载中...</div>',
                        domNoData  : '<div class="dropload-noData">再看也没有了...</div>',
                    },

                    loadDownFn:function(me){
                        var result = '';
                        global.subData(loadtype,{pn : self.loadedpn}, function(data) {
                            if(self.loadedpn<=data.data.page_count){
                                result += template("index-entry-tpl",data.data);
                                self.loadedpn++;
                            }else{
                                me.lock();
                                me.noData();
                            }
                            //插入数据
                            $('.index-entries').append(result);
                            me.resetload();    
                            rebind();

                        });
                    }
                }); 
                //self.bindEvent();    
			}
		}
		index.init();
	})();
</script>
<%- include base/footerMobile.ejs %>