<%- include base/header.ejs %>
<div id="content">
    <div class="article">
        <div class="section mid-container">
            <ul class="section-tab">
                <li class="on section-hd" id="jd-book-chart-hd">
                    <span>我的星球</span>
                </li>
                <li class="off section-hd" id="dangdang-book-chart-hd">
                    <span>最新话题</span>
                </li>

                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">

                </div>
            </ul>  
            <div class="section-content margin-H-16px">
                <div id="post-2" class="index-entry">
                    <div class="index-entry-header">
                        <div class="index-entry-info">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493652669637&di=4ce34348511e978ed2d319e3ed3cf379&imgtype=0&src=http%3A%2F%2Fmvimg2.meitudata.com%2F55df129d14f895616.jpg">
                            <p>666 发表于 555</p>
                        </div>
                        <div class="index-entry-date">
                            <p>{{item.posts.create_time}}</p>
                        </div>
                    </div>
                    <div class="index-entry-content">
                        <h1>{{item.posts.p_title}}</h1>
                        <div class="index-entry-brief">
                            <p>{{item.posts.p_text}}</p>
                        </div>
                    </div>
                    <div class="index-entry-footer">
                        <ul>
                            <li id="index-reply-btn">                        
                                <p>{{item.posts.</p>
                            </li>
                            <li id="index-approve-btn">
                                <p>{{item.posts.</p>
                            </li>
                            <li id="index-collect-btn">
                                <p>{{item.posts</p>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
            <div class="section-content" style="display:none;">
                <p>fuuuuuuuuuuuuuuuuuuuck</p>
            </div>            
        </div>
    </div>
    <div class="aside">
        <div class="section big-container">
            <div class="section-hd">
                <span>我加入的星球</span>
                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">
                </div> 
            </div>
            <div class="section-content">
                <p>fuuuuuuuuuuuuuuuuuuuck</p>
            </div>     

        </div>
    </div>
</div>
<%- include base/baseJS.ejs %>

<%- include base/footerMobile.ejs %>
