<%- include base/headerMobile-index.ejs %>
        <div class="tab-container">
            <div class="index-entries">
            </div>
        </div>
<%- include base/baseJSMobile-index.ejs %>



<script type="text/html" id="index-entry-tpl">
    {{each posts as item i}}
    <div id="post-{{item.posts.post_id}}" class="index-entry">
        <div class="index-entry-header">
            <div class="index-entry-info">
                <img src="./images/authcode.png">
                <p>{{item.users.user_name}}　发表于　{{item.groups.g_name}}</p>
            </div>
            <div class="index-entry-date">
                <p>{{item.posts.create_time}}</p>
            </div>
        </div>
        <div class="index-entry-content">
            <div class="index-entry-title">
                <h1>{{item.posts.p_title}}</h1>
            </div>
            <div class="index-entry-brief">
                <p>{{item.posts.p_text}}</p>
            </div>
        </div>
        <div class="index-entry-footer">
            <ul>
                <li>                        
                    <svg aria-hidden="true" class="icon">
                        {{if item.posts.replied == 1}}
                        <use xlink:href="#icon-talk_blue">
                        {{else}}
                        <use xlink:href="#icon-talk">   
                        {{/if}}
                        </use>
                    </svg>
                    <p>{{item.posts.replied_num}}</p>
                </li>
                <li>
                    <svg aria-hidden="true" class="icon">
                        {{if item.posts.approved == 1}}
                        <use xlink:href="#icon-good_blue">
                        {{else}}
                        <use xlink:href="#icon-good">   
                        {{/if}}
                        </use>
                    </svg>
                    <p>{{item.posts.approved_num}}</p>
                </li>
                <li>
                    <svg aria-hidden="true" class="icon">
                        {{if item.posts.collected == 1}}
                        <use xlink:href="#icon-star_blue">
                        {{else}}
                        <use xlink:href="#icon-star">   
                        {{/if}}
                        </use>
                    </svg>
                    <p>{{item.posts.collected_num}}</p>
                </li>
            </ul>
        </div>
    </div>
    {{/each}}
</script>
<script>
	(function() {
		var index = {
            indexEntries: $(".index-entries"),
            pn: 1,

			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {
                var self = this;
                self.indexEntries.dropload({
                    scrollArea : window,
                    loadDownFn : function(me){
                        global.subData("/", {pn: self.pn}, function(data) {
                            var posts = data.data.info;
                            if (data.ret == 200 && data.data) {
                                swal("fuck");
                                var compiled = template("index-entry-tpl", data.data);
                                self.indexEntries.html(compiled);

                            } else {
                                swal("fuck");
                                sweetAlert('错误', '数据获取失败', 'error');
                            }
                        });
                    }
                });
			},
			init: function() {
                var self = this;
				self.bindEvent();

                wuanTabfun.tabHighlight("tab-head-myindex");
                wuanTabfun.title("首页");

                //加载动画
                HJLoading.start({
                    loadingId : 'loginLoading',
                });
                //请求初始数据
                global.subData("/", {pn: 1}, function(data) {
                    var posts = data.data.info;
                    HJLoading.stop('loginLoading');
                    if (data.ret == 200 && data.data) {
                        self.pn++;
                        var compiled = template("index-entry-tpl", data.data);
                        self.indexEntries.html(compiled);

                    } else {
                        sweetAlert('错误', '数据获取失败', 'error');
                    }
                });

			}
		}
		index.init();
	})();
</script>
<%- include base/footerMobile.ejs %>