<%- include base/headerMobile-index.ejs %>
        <div class="tab-container">
            <div class="index-entries">
                <div class="index-entry">
                    <div class="index-entry-header">
                        <div class="index-entry-info">
                            <img src="./images/authcode.png">
                            <p>陶陶　发表于　鬼扯天地</p>
                        </div>
                        <div class="index-entry-date">
                            <p>2017-12-20 22:44</p>
                        </div>
                    </div>
                    <div class="index-entry-content">
                        <div class="index-entry-title">
                            <h1>Ubuntu安装</h1>
                        </div>
                        <div class="index-entry-brief">
                            <p>asdfasidhfoaiewhfoiawehfoiawhefoihawoeighaowighaowrghaiorghaoirghoairhgoairhgoiarhgoirahgoiarhgoiarehgaoirgh</p>
                        </div>
                    </div>
                    <div class="index-entry-footer">
                        <ul>
                            <li>                        
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#icon-lightPlanet_blue">
                                    </use>
                                </svg>
                                <p>999+</p>
                            </li>
                            <li>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#icon-message_blue">
                                    </use>
                                </svg>
                                <p>999+</p>
                            </li>
                            <li>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#icon-me_blue">
                                    </use>
                                </svg>
                                <p>999+</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<%- include base/baseJSMobile-index.ejs %>


<script>
	(function() {
		var index = {


			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {

			},
			init: function() {
				this.bindEvent();

                wuanTabfun.tabHighlight("tab-head-myindex");
                wuanTabfun.title("首页");
			}
		}
		index.init();
	})();
</script>
<%- include base/footerMobile.ejs %>