<%- include base/header.ejs %>
<div id="content">
    <div class="article">
        <div class="section mid-container">
            <ul class="section-tab">
                <li class="on section-hd" id="jd-book-chart-hd">
                    <span>我的星球</span>
                </li>
                <li class="off section-hd" id="dangdang-book-chart-hd">
                    <span>最新话题</span>
                </li>

                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">

                </div>
            </ul>  
            <div id="myplanet" class="section-content margin-H-16px"> 
                <div id="demo1"></div>
            </div>
            <div class="section-content" style="display:none;">
                <p>fuuuuuuuuuuuuuuuuuuuck</p>
            </div>            
        </div>
    </div>
    <div class="aside">
        <div class="section big-container">
            <div class="section-hd">
                <span>我加入的星球</span>
                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">
                </div> 
            </div>
            <div class="section-content">
                <div class="aside-group-list">
                    <div class="aside-group-item">
                        <button class="aside-btn">我日啊</button>
                        <button class="aside-btn">我日啊</button>
                        <button class="aside-btn">我日啊</button>
                        <button class="aside-btn">我日啊</button>
                        <button class="aside-btn">我日啊</button>
                        <button class="aside-btn aside-btn-blue">全部星球</button>
                    </div>                    
                </div>
            </div>     

        </div>
    </div>
</div>
<%- include base/baseJS.ejs %>
<script type="text/html" id="index-entry-tpl">
    {{each posts as item i}}
    <div id="post-{{item.posts.post_id}}" class="index-entry">
        <div class="index-entry-header">
            <div class="index-entry-info">
                <img src="{{item.users.profile_picture}}">
                <p>{{item.users.user_name}}　发表于　{{item.groups.g_name}}</p>
            </div>
            <div class="index-entry-date">
                <p>{{item.posts.create_time}}</p>
            </div>
        </div>
        <div class="index-entry-content">
            <h1>{{item.posts.p_title}}</h1>
            <div class="index-entry-brief">
                <p>{{item.posts.p_text}}</p>
            </div>
        </div>
        <div class="index-entry-footer">
            <ul>
                <li id="index-reply-btn" {{if item.posts.replied == 1}} class="done" {{/if}}>                        
                    <p>{{item.posts.replied_num}}</p>
                </li>
                <li id="index-approve-btn" {{if item.posts.approved == 1}} class="done" {{/if}}>
                    <p>{{item.posts.approved_num}}</p>
                </li>
                <li id="index-collect-btn" {{if item.posts.collected == 1}} class="done" {{/if}}>
                    <p>{{item.posts.collected_num}}</p>
                </li>
            </ul>
        </div>
    </div>
    {{/each}}
</script>
<script>
    (function() {
        //TODO: 改成面向对象的方式,这里需要重构
        //TODO: 收藏和取消收藏即使显示
        //TODO: 添加取消收藏
        //在绑定每个单项的按钮时使用,获取其操作的帖子的id
        var getEntryId = function(domNode) {
            if(domNode.tagName.toLowerCase() != "div" || domNode.className != 'index-entry') {
                return getEntryId(domNode.parentNode);
            } else {
                return parseInt(domNode.id.slice(5));
            }
        };
        var isReplied = function(domNode) {
            if(domNode.tagName.toLowerCase() != "ul" || domNode.className != 'index-reply-btn') {
                return isReplied(domNode.parentNode);
            } else {
                if(domNode.className == 'done') {
                    return true;
                } else {
                    return false
                }
            }            
        }
        var isApproved = function(domNode) {
            if(domNode.tagName.toLowerCase() != "ul" || domNode.className != 'index-approve-btn') {
                return isCollected(domNode.parentNode);
            } else {
                if(domNode.className == 'done') {
                    return true;
                } else {
                    return false
                }
            }            
        }
        var approve = function(id) {
            // if(isApproved())
            global.subData('/approve',{postid : id}, function(data) {
                if (data.ret == 200 && data.data) {
                    //样式更新或者如何
                    swal('点赞成功')

                } else {
                    sweetAlert('错误', '点赞失败', 'error');
                }                                   
            });            
        }
        var isCollected = function(domNode) {
            if(domNode.tagName.toLowerCase() != "ul" || domNode.className != 'index-collect-btn') {
                return isCollected(domNode.parentNode);
            } else {
                if(domNode.className == 'done') {
                    return true;
                } else {
                    return false
                }
            }            
        }
        var collect = function(id) {
            global.subData('/collect',{postid : id}, function(data) {
                if (data.ret == 200 && data.data) {
                    //样式更新或者如何
                    swal('收藏成功');

                } else {
                    sweetAlert('错误', '收藏失败', 'error');
                }                                   
            });            
        }


        var index = {
            indexEntries: $(".index-entries"),
            loadedpn: 1,

            getServerData: function(param, cb) {
                
            },
            bindEvent: function() {
                var self = this;   

            },
            init: function() {
                var self = this;
                var loadtype = window.location.pathname;



                var rebind = function() {

                    $(".index-entry").off("touchend");
                    //绑定每个index-entry的收藏操作
                    $(".index-entry").on("touchend","#index-collect-btn",function(e){
                        var indexid = getEntryId(e.target);
                        collect(indexid);
                    });
                    //绑定每个index-entry的回复操作
                    $(".index-entry").on("touchend","#index-reply-btn",function(e){
                        var indexid = getEntryId(e.target);
                        window.location.href = '/posts/' + indexid;
                    });
                    //绑定每个index-entry的点赞操作
                    $(".index-entry").on("touchend","#index-approve-btn",function(e){
                        var indexid = getEntryId(e.target);
                        approve(indexid);
                    });
                    $(".index-entry-content").on("touchend",function(e){
                        window.location.href = '/posts/' + e.currentTarget.parentElement.id.slice(e.currentTarget.parentElement.id.indexOf('-')+1);
                    });
                };
                //分页加载
                function demo(curr){
                    global.subData(loadtype,{pn : self.loadedpn}, function(data) {
                        if(self.loadedpn<=data.data.page_count){
                            result = template("index-entry-tpl",data.data);
                            self.loadedpn++;
                        }
                        //插入数据
                        $('.index-entry').remove();
                        $('#myplanet').prepend(result);   
                        laypage({
                            cont: document.getElementById('demo1'), //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                            pages: 10, //通过后台拿到的总页数
                            curr: curr || 1, //当前页
                            jump: function(obj, first){ //触发分页后的回调
                                if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                                    demo(obj.curr);
                                }
                            }
                        });
                        rebind();
                    });
                };
                demo();

                //self.bindEvent();    
            }
        }
        index.init();
    })();
</script>

<%- include base/footerMobile.ejs %>
