<%- include base/headerMobile-default.ejs %>
        <div class="inviteCode-default-container">
            <div class="code-producer">
                <div class="code-tip">
                    <span>您的邀请码是：</span>
                </div>
                <div class="code-genetate">
                    <span></span>
                </div>
            </div>
        </div>
<%- include base/baseJSMobile-default.ejs %>

<script>
	(function() {
		var inviteCode = {

            inviteCode: $('.code-producer>.code-genetate >span'),

			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {
                var self = this;
			},
			init: function() {
                var that = this;

                wuanHeadFun.title("邀请好友");
				that.bindEvent();

                global.subData('/personal/invite',{
                    <% if(user){%>
                        userId : <%= user.user_id%>,
                    <%}%>
                    
                },function(data){
                    if(data.ret === 200 && data.data){
                        that.inviteCode.html(data.data.i_code);
                        //alert(data.msg);
                    }else{
                        alert('请求错误');
                    }
                });
			}
		}

		inviteCode.init();
	})();
</script>
<%- include base/footerMobile.ejs %>