<%- include base/header.ejs %>
<div class="content">
	<div class="section">
		<div class="section-hd">
                <span>加入私密星球</span>
                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">
                </div> 
        </div>
        <div class="section-content">
                        <form id="join-form">
        		<div class="verifi-msg">
        			<span>验证信息</span>
        			<input type="text" name="" id="message">
        			<button type="submit">申请加入</button>
        		</div>
                        </form>
        		<div class="group-msg">
        			<div class="group-img">
        				<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        			</div>
        			<h2 class="group-head">我们都是技术宅aaaaaa</h2>
        			<div class="group-number">
        				<span>999+ 成员</span>
        				<span>999+ 话题</span>
        			</div>
        			<div class="group-intro">
        				我们是介绍啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
        			</div>
        			<div class="group-creater">
        				星球主：三木
        			</div>
        		</div>
        		<div class="message">加入该星球后方可浏览内容</div>
        	</div>
	</div>
</div>
<%- include base/baseJS.ejs %>
<script type="text/javascript">
  (function(){
    var users={
      loading:HJLoading,
      //通过渲染获得groupid
      groupid:390,
      text:$("#message").val(),
      verifi:function(){
        if($("#message").val().length>50){
          sweetAlert('格式错误','申请信息不能超过50个字','warning');
          return false;
        }
        return true;
      },
      //提交数据
      bindEvent:function(){
        var self=this;
        $("#join-form").submit(function(e){
          e.preventDefault();
          if(self.verifi()){
            /*self.loading.start({
                loadingTPLId : 0,
                target : $(".joinPensonalG-content"),
                loadingId : 'self'
              });*/
            self.text=$("#message").val();
            global.getData('joinPensonalGroup/sub',{
              group_id:self.groupid,
              text:self.text
              },function(data){
              /*self.loading.stop('self');*/
              if(data.data.code==1){
                sweetAlert('成功',data.msg,'success');
                //转向星球详情页，这里暂时转到临时页
                var t=setTimeout(function(){
                    window.location.href="/groups/1/set";
                  },5000);
              }else{
                sweetAlert('提示', data.msg, 'warning');
              }
            });
          }
      });
      },
      init:function(){
        this.bindEvent();
        //wuanHeadFun.title("加入星球");
      }
    };
    users.init();
  })()
</script>
<%- include base/footerMobile.ejs %>