<%- include base/header.ejs %>
<div class="content">
	<div class="section">
		<div class="section-hd">
                <span>加入私密星球</span>
                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">
                </div> 
        </div>
        <div class="section-content">
        		<div class="verifi-msg">
        			<span>验证信息</span>
        			<input type="text" name="">
        			<button>申请加入</button>
        		</div>
        		<div class="group-msg">
        			<div class="group-img">
        				<button type="button" style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493741058612&di=fbe09f507e51e9f8516a0fbd9c2e6af0&imgtype=0&src=http%3A%2F%2Fscimg.jb51.net%2Fallimg%2F160404%2F14-160404103545501.jpg);"></button>
        			</div>
        			<h2 class="group-head">我们都是技术宅aaaaaa</h2>
        			<div class="group-number">
        				<span>999+ 成员</span>
        				<span>999+ 话题</span>
        			</div>
        			<div class="group-intro">
        				我们是介绍啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
        			</div>
        			<div class="group-creater">
        				星球主：三木
        			</div>
        		</div>
        		<div class="message">加入该星球后方可浏览内容</div>
        	</div>
	</div>
</div>
<%- include base/baseJS.ejs %>
<%- include base/footerMobile.ejs %>