<%- include base/headerMobile.ejs %>
<nav class="personal-navbar">
                    <button class="personal-icon-back" type="button">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-goback">
                            </use>
                        </svg>
                    </button>
                    <div class="personal-navbar-brand">
                        <h1>
                            加入星球
                        </h1>
                    </div>
        </nav>
       <div class="joinPensonalG-content">
           <div class="joinPensonalG-msg">
             <span>验证信息</span>
             <input type="text" value="三木申请加入宇宙无敌组" />
           </div>
           <button>申请加入</button>
       </div>
<%- include base/baseJSMobile.ejs %>
<%- include base/footerMobile.ejs %>