<%- include base/headerMobile.ejs %>
        <nav class="navbar-default navbar-default-shadow">
            <div class="nav-container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <h1>
                            <span>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#icon-goback">
                                    </use>
                                </svg>
                            </span>
                            <span>
                                登录
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </nav>
        <div class="login-default-container">
            <div class="login-body">
                <form>
                    <div class="login-container">
                        <input id="email" type="email" class=" login-input">
                        <label for="email">邮箱</label>
                        <div class="foot-line"></div>
                    </div>
                    <div class="login-container">
                        <input id="pwd" class="login-input" type="password">
                        <label>密码</label>
                        <div class="foot-line"></div>
                    </div>
                    <div class="login-container">
                        <button class="registerBtn" type="button">登录</button>
                        <div class="login-others">
                            <span id="login-register">注册账号</span>
                            <span id="login-misspwd">忘记密码</span>
                        </div>
                    </div>
                </form>
 
            </div>
 
        </div>
<%- include base/baseJSMobile.ejs %>

<script>
    $('.login-input').on('click',function(e){
        $(this).siblings('label').removeClass('blur-label').addClass('active');
        $(this).siblings('.foot-line').removeClass('blur-line').addClass('highlight');
    });

    $('.login-input').on('blur',function(e){
        if(this.value === ""){
            $(this).siblings('label').removeClass('active').addClass('blur-label');
        }
        $(this).siblings('.foot-line').removeClass('highlight').addClass('blur-line');
    });
</script>

<script>
	(function() {
		var loginobj = {
            loginform : $('form')[0],

            loginemail : $('.login-container #email'),

            loginpwd : $('.login-container #pwd'),

            loginbtn : $('.login-container .registerBtn'),

            loginregister : $('#login-register'),

            loginforget : $('#login-misspwd'),

			getServerData: function(param, cb) {
				
			},

            validataFunc : function(){
                var self = this;
                var validator = new HJformcheck();

                validator.extend('isEmail',function(value,errorMsg){
                    if(!/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(value)){
                        return errorMsg;
                    }
                });

                validator.add(self.loginemail, [{
                strategy: 'isNonEmpty',
                errorMsg: '邮箱不能为空'
                },{
                strategy: 'isEmail',
                errorMsg: '邮箱格式有误，请重试'
                }]);

                validator.add(self.loginpwd, [{
                strategy: 'isNonEmpty',
                errorMsg: '密码不能为空'
                }]);

                var errorMsg = validator.start();

                return errorMsg;
            },


			bindEvent: function() {
                var self = this;
                self.loginregister.on('touchend',function(){
                    window.location.href = '/registerNew';
                });

                self.loginforget.on('touchend',function(){
                    window.location.href = '/retrievepassword';
                });

                self.loginbtn.on('touchend',function(e){
                    e.preventDefault();

                    var errorMsg = self.validataFunc();

                    if(!errorMsg){

                        HJLoading.start({
                        loadingId : 'loginLoading',
                        });

                        global.subData('/personal/login',{
                            email : self.loginemail.val(),
                            password : self.loginpwd.val(),
                        },function(data){
                            if(data.ret === 200 && data.data){
                                if(data.data.code == 1){
                                    //延迟3秒跳转
                                    setTimeout(function(){
                                        HJLoading.stop('loginLoading');
                                        window.location.href = '/';
                                    },3000);
                                    
                                }else{
                                    HJLoading.stop('loginLoading');
                                    alert(data.msg);
                                }
                            }else{
                                HJLoading.stop('loginLoading');
                                alert(data.msg);
                            }
                        });
                    }else{
                        alert(errorMsg);
                    }
                    
                });

			},
			init: function() {
                var self = this;
				this.bindEvent();                
			},
		}


		loginobj.init();

	})();
</script>
<%- include base/footerMobile.ejs %>