<%- include base/header.ejs %>
	<div class="main">
		<div class="main-mask"></div>
		<div class="login">
			<form class="login-form line-form" action="/login" title="" method="post">
				<div class="login-group line-fgroup">
					<label for="ce" class="login-label lable-e"></label>
					<input type="email" name="email" value="" placeholder="邮箱" class="login-input" id="email">
				</div>
				<div class="login-group line-fgroup">
					<label for="" class="login-label label-paw"></label>
					<input type="password" name="password" value="" placeholder="密码" class="login-input" id="pw">
				</div>
				<button id='login' type="submit" class="login-sub">登陆</button>
			</form>
		</div>
	</div>
	<%- include base/baseJS.ejs %>
		<script type="text/javascript">
			var login = {
				email: $("#email"),
				pw: $("#pw"),
				loginform: $(".login-form"),
				verificate: function() {
					var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
					if (!myreg.test(this.email.val())) {
						sweetAlert('格式错误', '请填写正确的邮箱！', 'warning');
						return false;
					}
					if (this.pw.val().length == 0) {
						sweetAlert('格式错误', '请填写密码！', 'warning');
						return false;
					}
					return true;
				},
				bindEvent: function() {
					var self = this;
					self.loginform.submit(function(event) {
						event.preventDefault();
						if (self.verificate()) {
							$.ajax({
								type: "post",
								url: "/login",
								async: true,
								data: {
									email: self.email.val(),
									password: self.pw.val()
								},
								success: function(data) {
									console && console.log(data);
									if (data.data.code == 0 && data.data.msg) {
										sweetAlert('提示', data.data.msg, 'warning');
									} else {
										window.location.href = '/';
										localStorage.setItem("userName",data.data.info.nickname);
										localStorage.setItem("userID",data.data.info.userID);
									}
								},
								error: function(x, h, r) {
									console && console.log(x, h, r);
								}
							});
						}
					});
				},
				init: function() {
					this.bindEvent();
				}
			}
			login.init();
		</script>
		<%- include base/footer.ejs %>