<%- include base/header.ejs %>
<div id="content" class="collection-content">
        <div class="section collection-content-container">
            <div class="section-hd">
                <span>我的收藏</span>
            </div>
            <div class="section-content collection-section">
                <div class="mycollection-container--PC">
                    <div class="mycollection-container-entry--PC">
                        <div class="entry-item mycollection-container-head--PC">
                            <h1>Ubuntu开荒笔记</h1>
                        </div>
                        <div class="entry-item mycollection-container-body--PC">
                            <p>
                                安装后。终端操作：sudo apt updatesudo apt upgrade重启，执行上述update命令一次，然后执行：sudo apt install ***常用的软件安装后。终端操作：sudo apt updatesudo apt upgrade重启，执行上述update命令一次，然后执行：sudo apt install ***常用的软件...
                            </p>
                        </div>
                        <div class="entry-item mycollection-container-foot--PC">
                            <span class="mycollection-planet--PC">鬼扯天地</span>
                            <span class="mycollection-date--PC">收藏于2017-01-28 22:41</span>
                        </div>
                    </div>
                    <div class="mycollection-container-entry--PC">
                        <div class="entry-item mycollection-container-head--PC">
                            <h1>Ubuntu开荒笔记</h1>
                        </div>
                        <div class="entry-item mycollection-container-body--PC">
                            <p>
                                安装后。终端操作：sudo apt updatesudo apt upgrade重启，执行上述update命令一次，然后执行：sudo apt install ***常用的软件安装后。终端操作：sudo apt updatesudo apt upgrade重启，执行上述update命令一次，然后执行：sudo apt install ***常用的软件...
                            </p>
                        </div>
                        <div class="entry-item mycollection-container-foot--PC">
                            <span class="mycollection-planet--PC">鬼扯天地</span>
                            <span class="mycollection-date--PC">收藏于2017-01-28 22:41</span>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
</div>
<%- include base/baseJS.ejs %>

<%- include base/footerMobile.ejs %>
