<%- include base/headerMobile-default.ejs %>

        <div class="mycollection-default-container">
            <div class="collection-entries">
                
            </div>
        </div>

<%- include base/baseJSMobile-default.ejs %>

<script type="text/html" id="mycollection-entry-tpl">    

    {{each posts as item i}}
        <div class="collection-entry" id="{{item.post_id}}">
            <div class="collection-entry-content">
                <div class="collection-entry-title">
                    <h1>{{item.p_title}}</h1>
                </div>
                <div class="collection-entry-brief">
                    <p>{{item.p_text}}</p>
                </div>
            </div>
            <div class="collection-entry-footer">
                <div class="collection-entry-where">
                    <p><span class="planet">{{item.g_name}}</span></p>
                </div>
                <div class="collection-entry-date">
                    <p>收藏于{{item.create_time}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</script>

<script>
	(function() {
		var index = {
            wrapper:$('.mycollection-default-container'),
            container:$('.collection-entries'),
            title : $('.collection-entry h1'),
            content: $('.collection-entry .collection-entry-brief p'),
            planetname : $('.collection-entry .collection-entry-where >p'),
            date:$('.collection-entry .collection-entry-date>p'),

			getServerData: function(param, cb) {
				
			},

			bindEvent: function() {
                var that = this;
                that.container.dropload({
                    scrollArea:window,
                    loadDownFn: function(me){
                        global.getData('',{},function(data){
                            setTimeout(function(){
                                alert(data);
                                me.resetload();
                            },1000);
                        });
                    }
                });
			},


			init: function() {
                var that = this;
                 wuanHeadFun.title("我的收藏");

				that.bindEvent();
                var user_id = <%= user.user_id%>;

                global.subData('/personal/mycollection',{
                    <% if(user){%>
                        userId : user_id,
                    <%}%>
                    pn:1,
                },function(data){
                    if(data.ret === 200 && data.data){
                        //显示返回至

                        that.container.empty();
                        var cur_post_page = data.data.current_page;
                        var total_page = data.data.page_count;
                        var post_length = data.data.posts.length;

                        if(post_length<=0){
                            var defaultHTML = "<div class='default'>你还没有收藏喔。。。</div>";
                            that.wrapper.css('background-color','white');
                            that.container.html(defaultHTML);
                            return;
                        }
                        var com = template("mycollection-entry-tpl",data.data);
                        that.container.html(com);
                        //绑定下拉加载
                        that.wrapper.dropload({
                            scrollArea: this,
                            domDown:{
                                domClass : 'dropload-down',
                                domRefresh : '<div class="dropload-refresh">上面有更多精彩...</div>',
                                domLoad    : '<div class="dropload-load"><span class="loading"></span>正在努力加载中...</div>',
                                domNoData  : '<div class="dropload-noData">再看也没有了...</div>',
                            },

                            loadDownFn:function(me){
                                cur_post_page++;
                                var result = '';
                                global.subData('/personal/mycollection',{
                                    userId:user_id,
                                    pn : cur_post_page,
                                },function(data){
                                    if(cur_post_page<=total_page){
                                        result += template("mycollection-entry-tpl",data.data);
                                    }else{
                                        me.lock();
                                        me.noData();
                                    }

                                    that.container.append(result);
                                    me.resetload();
                                });
                            }
                        }); 
                    }else{
                        sweetAlert('错误','数据获取失败','error');
                    }                    
                });
			}
		}
		index.init();
	})();
</script>
<%- include base/footerMobile.ejs %>