<%- include base/header.ejs %>
<div id="content" class="collection-content">
        <div class="section collection-content-container">
            <div class="section-hd">
                <span>我的收藏</span>
            </div>
            <div class="section-content collection-section">
                <div class="mycollection-container--PC">
                    <div id="pageLoad"></div>
                </div>
            </div>         
        </div>
</div>

<%- include base/baseJS.ejs %>

<script type="text/html" id="mycollection-entry-tpl">
    {{each posts as item i}}
    <div class="mycollection-container-entry--PC" id="post_{{item.post_id}}">
        <div class="entry-item mycollection-container-head--PC">
            <h1>{{item.p_title}}</h1>
        </div>
        <div class="entry-item mycollection-container-body--PC">
            <p>{{item.p_text}}</p>
        </div>
        <div class="entry-item mycollection-container-foot--PC">
            <span class="mycollection-planet--PC">{{item.g_name}}</span>
            <span class="mycollection-date--PC">收藏于{{item.create_time}}</span>
        </div>
    </div>
    {{/each}}
</script>


<script>
    (function() {
        var index = {
            page:1,
            wrapper:$('.collection-section'),
            container:$('.mycollection-container--PC'),
            title : $('.mycollection-container-head--PC h1'),
            content: $('.mycollection-container-body--PC p'),
            planetname : $('.mycollection-container-foot--PC > .mycollection-planet--PC'),
            date:$('.mycollection-container-foot--PC > .mycollection-date--PC'),

            getServerData: function(param, cb) {
                
            },

            bindEvent: function() {
                var that = this;
            },


            init: function() {
                var that = this;
                //wuanHeadFun.title("我的收藏");
                var loadUrl = window.location.pathname;

                that.bindEvent();
                var user_id = <%= user.user_id%>;

                var rebind = function() {
                    $(".mycollection-container-entry--PC").off("click");
                    //绑定每个index-entry的收藏操作
                    $(".mycollection-container-entry--PC").on("click",function(e){
                        var id = $(this).attr('id');
                        window.location.href = '/posts/' + id.slice(id.lastIndexOf('_')+1);
                    });
                };

                //分页加载
                function pageLoad(curr){
                    global.subData(loadUrl,
                        {
                            <% if(user){ %>
                                userId : user_id,
                            <% }%>
                            pn: that.page,
                        },function(data){
                            if(data.ret == 200 && data.data){
                                var result = '';
                                if(data.data.posts.length == 0){
                                    result = "<span id='noCollections'>没有收藏喔</span>";
                                    that.container.prepend(result);
                                    return;
                                }
                                if(that.page<=data.data.page_count){
                                    result = template("mycollection-entry-tpl",data.data);
                                    that.page++;
                                }
                                $('.mycollection-container-entry--PC').remove();
                                that.container.prepend(result);
                                laypage({
                                    cont:$('#pageLoad')[0],
                                    pages:data.data.page_count,
                                    curr:curr || 1,
                                    jump: function(obj,first){
                                        if(!first){
                                            pageLoad(obj.curr);
                                        }
                                    }
                                });

                            }
                            rebind();
                    });
                };
                pageLoad();
            }
        }
        index.init();
    })();
</script>

<%- include base/baseJS.ejs %>

