<%- include base/headerMobile.ejs %>
		<nav class="navbar-default navbar-default-shadow">
            <div class="nav-container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <h1>
                            <span>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#icon-goback">
                                    </use>
                                </svg>
                            </span>
                            <span>
                            　　　　星球通知
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </nav>
        <div class="default-container">
            <div class="message-board">

            </div>
        </div>
<%- include base/baseJSMobile.ejs %>

<script type="text/html" id="message-line-planet-tpl">

    {{each info as item i}}
    <div id="msg-{{item.messages.m_id}}" class="message-line">
        <img src="{{item.messages.image}}">
        <div class="message-line-header">
            <h1>{{item.users.user_name}}</h1>
        </div>
        <div class="message-line-short">
            <p>{{item.content}}</p>
        </div>
    </div>
    {{/each}}
</script>

<script>
	(function() {
		var messagePlanet = {
            messageBoard: $(".message-board"),
			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {

			},
			init: function() {
                var self = this;
                this.bindEvent();

                //请求初始数据
                global.subData("/mymessage/planet", {user_id: 1}, function(data) {
                    var message = data.data.info;
                    if (data.ret == 200 && data.data && data.data.code === 1) {

                        var compiled = template("message-line-planet-tpl", data.data);
                        self.messageBoard.html(compiled);

                    } else {
                        sweetAlert('错误', '数据获取失败', 'error');
                    }
                });
			}
		}
		messagePlanet.init();
	})();
</script>
<%- include base/footerMobile.ejs %>