<%- include base/headerMobile.ejs %>
        <nav class="navbar-default navbar-default-shadow">
            <div class="nav-container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <h1>
                            <span>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#icon-goback">
                                    </use>
                                </svg>
                            </span>
                            <span>
                            　　　　星球验证消息
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </nav>
        <div class="default-container">
            <div class="message-board">
                <div class="message-line">
                    <div class="message-line-verifyHeader">
                        <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1489392416&di=55b815450b09e849e0e953d4021138bd&src=http://pic38.nipic.com/20140214/4515680_112424512130_2.jpg">
                        <div class="message-line-verifyInfo">
                            <h1>格子</h1>
                            <p>asdihoawihdoqihdoiqwhdoiqwhdoiqwhdoiqhdwqasdasdasdasdd</p>
                        </div>
                    </div>
                    <div class="message-line-verifyButtons">
                        <button>同意</button>
                        <button>拒绝</button>
                    </div>
                </div>
                <div class="message-line">
                    <div class="message-line-verifyHeader">
                        <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1489392416&di=55b815450b09e849e0e953d4021138bd&src=http://pic38.nipic.com/20140214/4515680_112424512130_2.jpg">
                        <div class="message-line-verifyInfo">
                            <h1>格子</h1>
                            <p>asdihoawihdoqihdoiqwhdoiqwhdoiqwhdoiqhdwqasdasdasdasdd</p>
                        </div>
                    </div>
                    <div class="message-line-verifyButtons">
                        <p>已拒绝</p>
                    </div>
                </div>
            </div>
 
        </div>
<%- include base/baseJSMobile.ejs %>


<script>
    (function() {
        var index = {


            getServerData: function(param, cb) {
                
            },
            bindEvent: function() {

            },
            init: function() {
                this.bindEvent();
            }
        }
        index.init();
    })();
</script>
<%- include base/footerMobile.ejs %>