<%- include base/headerMobile.ejs %>
		<nav class="navbar-default navbar-default-shadow">
            <div class="nav-container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <h1>
                            <span>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#icon-goback">
                                    </use>
                                </svg>
                            </span>
                            <span>
                            　　　　帖子通知
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </nav>
        <div class="default-container">
            <div class="message-board">
            	<div class="message-line">
            		<img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1489392416&di=55b815450b09e849e0e953d4021138bd&src=http://pic38.nipic.com/20140214/4515680_112424512130_2.jpg">
            		<div class="message-line-header">
            			<h1>格子</h1>
            			<button>查看</button>
            		</div>
            		<div class="message-line-short">
            			<p>asdihoawihdoqihdoiqwhdoiqwhdoiqwhdoiqhdwqd</p>
            		</div>
            	</div>
            </div>
 
        </div>
<%- include base/baseJSMobile.ejs %>

<script type="text/html" id="mtype3">

    {{each info as item i}}
    <div id="msg-{{item.messages.m_id}}" class="message-line">
        <img src="{{item.messages.image}}">
        <div class="message-line-header">
            <h1>{{item.users.user_name}}</h1>
            <button>查看</button>
        </div>
        <div class="message-line-short">
            <p>{{item.posts.p_title}}</p>
        </div>
    </div>
    {{/each}}
</script>

<script>
	(function() {
		var messagePost = {
            messageBoard: $(".message-board"),

			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {
                $('.message-board').dropload({
                    scrollArea : window,
                    loadDownFn : function(me){
                        global.getData("/api/show_message-post", {}, function(data) {
                                //留出空间进行性能优化2333
                                setTimeout(function(){
                                    alert(data);
                                    // 每次数据加载完，必须重置
                                    me.resetload();
                                },1000);
                        })
                    }
                });
			},
			init: function() {
                var self = this;
				this.bindEvent();

                //请求初始数据
                global.subData("/mymessage/post", {user_id: 1}, function(data) {
                    var message = data.data.info;
                    if (data.ret == 200 && data.data && data.data.code === 1) {

                        var compiled = template("mtype3", data.data);
                        self.messageBoard.html(compiled);

                    } else {
                        sweetAlert('错误', '数据获取失败', 'error');
                    }
                });
			}
		}
		messagePost.init();
	})();
</script>
<%- include base/footerMobile.ejs %>