<%- include base/headerMobile.ejs %>
        <nav class="navbar-default">
            <div class="nav-container">
                <div class="navbar-header">
                    <button class="search-toggle" type="button">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-search">
                            </use>
                        </svg>
                    </button>
                    <div class="navbar-brand">
                        <h1>
                            首页
                        </h1>
                    </div>
                </div>
            </div>
        </nav>
        <div class="tab-head">
            <ul class="tab-head-bar">
                <li class="selected">                    
                    <svg aria-hidden="true" class="icon">
                        <use xlink:href="#icon-home">
                        </use>
                    </svg>
                </li>
                <li>                        
                    <svg aria-hidden="true" class="icon">
                        <use xlink:href="#icon-lightPlanet_blue">
                        </use>
                    </svg>
                </li>
                <li>
                    <svg aria-hidden="true" class="icon">
                        <use xlink:href="#icon-message_blue">
                        </use>
                    </svg>
                </li>
                <li>
                    <svg aria-hidden="true" class="icon">
                        <use xlink:href="#icon-me_blue">
                        </use>
                    </svg>
                </li>
            </ul>
        </div>
        <div class="tab-container">
            <div class="message-tab-board">
            	<div class="message-board-entry ">
	                <svg aria-hidden="true" class="icon">
	                    <use xlink:href="#icon-privatenotice"></use>
	                </svg>
            		<div class="message-board-info">
            			<div class="message-header">
            				<h1>私密星球申请</h1>
            			</div>
            			<div class="message-short">
            				<p>梁王　申请加入　咳咳</p>
            			</div>
            		</div>
            	</div>
            	<div class="message-board-entry ">
	                <svg aria-hidden="true" class="icon">
	                    <use xlink:href="#icon-planetnotice"></use>
	                </svg>
            		<div class="message-board-info">
            			<div class="message-header">
            				<h1>私密星球申请</h1>
            			</div>
            			<div class="message-short">
            				<p>梁王　申请加入　咳咳</p>
            			</div>
            		</div>
            	</div>
            	<div class="message-board-entry ">
	                <svg aria-hidden="true" class="icon">
	                    <use xlink:href="#icon-planetnotice"></use>
	                </svg>
            		<div class="message-board-info">
            			<div class="message-header">
            				<h1>私密星球申请</h1>
            			</div>
            			<div class="message-short">
            				<p>梁王　申请加入　咳咳</p>
            			</div>
            		</div>
            	</div>            
            </div>
        </div>
<%- include base/baseJSMobile.ejs %>


<script>
	(function() {
		var index = {


			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {

			},
			init: function() {
				this.bindEvent();
			}
		}
		index.init();
	})();
</script>
<%- include base/footerMobile.ejs %>