<%- include base/headerMobile.ejs %>
		<nav class="navbar-default navbar-default-shadow">
            <div class="nav-container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <h1>
                            <span>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#icon-goback">
                                    </use>
                                </svg>
                            </span>
                            <span>
                            　　　　帖子通知
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </nav>
        <div class="default-container">
            <div class="message-board">
            </div>
 
        </div>
<%- include base/baseJSMobile.ejs %>

<script type="text/html" id="message-line-post-tpl">

    {{each info as item i}}
    <div id="msg-{{item.messages.m_id}}" class="message-line">
        <img src="{{item.messages.image}}">
        <div class="message-line-header">
            <h1>{{item.users.user_name}}</h1>
            <button>查看</button>
        </div>
        <div class="message-line-short">
            <p>{{item.posts.p_title}}</p>
        </div>
    </div>
    {{/each}}
</script>

<script>
	(function() {
		var messagePost = {
            messageBoard: $(".message-board"),
            loadedpn: 1,
			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {

			},
			init: function() {
                var self = this;
				this.bindEvent();

                //绑定下拉加载
                $('.default-container').dropload({
                    scrollArea: window,
                    domDown:{
                        domClass : 'dropload-down',
                        domRefresh : '<div class="dropload-refresh">上面有更多精彩...</div>',
                        domLoad    : '<div class="dropload-load"><span class="loading"></span>正在努力加载中...</div>',
                        domNoData  : '<div class="dropload-noData">再看也没有了...</div>',
                    },

                    loadDownFn:function(me){
                        var result = '';
                        global.subData('./post',{pn : self.loadedpn}, function(data) {
                            if(self.loadedpn<=data.data.page_count){
                                result += template("message-line-post-tpl",data.data);
                                self.loadedpn++;
                            }else{
                                me.lock();
                                me.noData();
                            }
                            //插入数据
                            $('.message-board').append(result);
                            me.resetload();    

                        });
                    }
                }); 
			}
		}
		messagePost.init();
	})();
</script>
<%- include base/footerMobile.ejs %>