<%- include base/headerMobile-index.ejs %>
        <div class="tab-container">
            <div class="message-tab-board">
            	<div id="message-privateGroupApply" class="message-board-entry ">
	                <svg aria-hidden="true" class="icon">
	                    <use xlink:href="#icon-privatenotice"></use>
	                </svg>
            		<div class="message-board-info">
            			<div class="message-header">
            				<h1>私密星球申请</h1>
            			</div>
            			<div class="message-short">
            				<p>加载中...</p>
            			</div>
            		</div>
            	</div>
            	<div id="message-postNotice" class="message-board-entry ">
	                <svg aria-hidden="true" class="icon">
	                    <use xlink:href="#icon-postnotice"></use>
	                </svg>
            		<div class="message-board-info">
            			<div class="message-header">
            				<h1>贴子通知</h1>
            			</div>
            			<div class="message-short">
            				<p>加载中...</p>
            			</div>
            		</div>
            	</div>
            	<div id="message-groupNotice" class="message-board-entry ">
	                <svg aria-hidden="true" class="icon">
	                    <use xlink:href="#icon-planetnotice"></use>
	                </svg>
            		<div class="message-board-info">
            			<div class="message-header">
            				<h1>星球通知</h1>
            			</div>
            			<div class="message-short">
            				<p>加载中...</p>
            			</div>
            		</div>
            	</div>            
            </div>
        </div>
<%- include base/baseJSMobile-index.ejs %>


<script>
	(function() {
		var mymessage = {
            message_privateGroupApply: $("#message-privateGroupApply"),
            message_privateGroupApply_content: $("#message-privateGroupApply .message-short p"),

            message_postNotice: $("#message-postNotice"),
            message_postNotice_content: $("#message-postNotice .message-short p"),
            
            message_groupNotice: $("#message-groupNotice"),
            message_groupNotice_content: $("#message-groupNotice .message-short p"),

			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {
                var self = this;
                //这里应该可以封装一下
                self.message_privateGroupApply.on('touchend', function(e) {
                    window.location.href = window.location.pathname + "/verify";
                });
                self.message_postNotice.on('touchend', function(e) {
                    window.location.href = window.location.pathname + "/post";
                });
                self.message_groupNotice.on('touchend', function(e) {
                    window.location.href = window.location.pathname + "/planet";
                });
			},
			init: function() {
                var self = this;
                wuanTabfun.tabHighlight("tab-head-myself");
                wuanTabfun.title("我的消息");
				this.bindEvent();

                //请求初始数据
                global.subData("/mymessage", {user_id: 1}, function(data) {
                    var message = data.data.info;
                    //私密星球申请消息
                    if(message.apply !== null) {
                        self.message_privateGroupApply_content.html(message.apply.users.user_name + " 申请加入 " + message.apply.groups.g_name)
                    } else {
                        self.message_privateGroupApply_content.html("无")
                    }
                    //贴子通知
                    if(message.reply !== null) {
                        self.message_postNotice_content.html(message.reply.users.user_name + " 回复了你")
                    } else {
                        self.message_postNotice_content.html("无")
                    }
                    //星球通知
                    if(message.notice !== null) {
                        self.message_groupNotice_content.html(message.notice.content)
                    } else {
                        self.message_groupNotice_content.html("无")
                    }
                });
			}
		}
		mymessage.init();
	})();
</script>
<%- include base/footerMobile.ejs %>