<%- include base/headerMobile-index.ejs %>
        <div class="tab-container">
            <div class="myplanet-board">
                <div class="myplanet-item">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1489315779999&di=0cd61fda522ec46a58ed29dc5d7be222&imgtype=0&src=http%3A%2F%2Fpic.qiantucdn.com%2F58pic%2F11%2F55%2F57%2F02v58PIC8Hc.jpg">
                    <p>whatthefuck</p>
                </div>
            </div>
        </div>       
<%- include base/baseJSMobile-index.ejs %>

<script type="text/html" id="myplanet-item-tpl">
    {{each groups as item i}}
    <div class="myplanet-item">
        <img src="{{item.g_image}}">
        <p>{{item.g_name}}</p>
    </div>
    {{/each}}
</script>

<script>
	(function() {
		var index = {
            loadedpn: 1,

			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {

			},
			init: function() {
                var self = this;
				this.bindEvent();

                wuanHeadFun.tabHighlight("tab-head-myplanet");
                wuanHeadFun.title("星球");

                //绑定下拉加载
                $('.tab-container').dropload({
                    scrollArea: window,
                    domDown:{
                        domClass : 'dropload-down',
                        domRefresh : '<div class="dropload-refresh">上面有更多精彩...</div>',
                        domLoad    : '<div class="dropload-load"><span class="loading"></span>正在努力加载中...</div>',
                        domNoData  : '<div class="dropload-noData">再看也没有了...</div>',
                    },

                    loadDownFn:function(me){
                        var result = '';
                        global.subData('/myplanet',{pn : self.loadedpn}, function(data) {
                            if(self.loadedpn<=data.data.page_count){
                                result += template("myplanet-item-tpl",data.data);
                                self.loadedpn++;
                            }else{
                                me.lock();
                                me.noData();
                            }
                            //插入数据
                            $('.myplanet-board').append(result);
                            me.resetload();    

                            $(".myplanet-item").off("touchend");
                            //绑定每个index-entry的收藏操作
                            $(".myplanet-item").on("touchend","#index-collect-btn",function(e){
                                var indexid = getEntryId(e.target);
                                collect(indexid);
                            });
                        });
                    }
                }); 
			}
		}
		index.init();
	})();
</script>
<%- include base/footerMobile.ejs %>