<%- include base/headerMobile.ejs %>
        <nav class="navbar-default navbar-default-shadow">
            <div class="nav-container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <h1>
                            <span>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#icon-goback">
                                    </use>
                                </svg>
                            </span>
                            <span>
                                鬼扯天地
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </nav>
        <div class="default-container">
            <div class="postdetails">
                <div class="postdetails-header">
                    <h1>asdasfwqefoqweuhfoiqwhefoiwqheoifhqwoeifhoiqwehfoiqwhefoiqhweoifhqwoiefhqowifheoiqhfoi</h1>
                    <div class="postdetails-info">
                        <p>爱仕达所多</p>
                    </div>
                    <div class="postdetails-date">
                        <p>2017-03-15</p>
                    </div>
                </div>
                <div class="postdetails-body">
                    <p> asdfiaohewfoihfowifhowqifhoqiwefhoiwefhoiqwe</p>
                </div>
                <div class="postdetails-footer">
                    <div class="postdetails-buttons">
                        <button>                    
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#icon-home">
                                </use>
                            </svg>
                            999+
                        </button>
                        <button>
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#icon-home">
                                </use>
                            </svg>   
                            999+                     
                        </button>
                    </div>
                    <div class="postdetails-operations">
                        <p id="op-setTop">置顶</p>
                        <p id="op-lock">锁定</p>
                        <p id="op-edit">编辑</p>
                        <p id="op-delete">删除</p>
                    </div>
                </div>                
            </div>
            <div class="postreplies">
                <p class="postreplies-count">999+回复</p>
                <div class="postreply-entry">
                    <div class="postreply-entry-header">
                        <div class="postreply-name">
                            <p>梁王</p>
                        </div>
                        <div class="postreply-date">
                            <p>2017-03-17</p>
                        </div>
                    </div>
                    <div class="postreply-entry-body">
                        <p> asdfiaohewfoihfowifhowqifhoqiwefhoiwefhoiqwe</p>
                    </div>
                    <div class="postreply-entry-footer">
                        <div class="postreply-operations">
                            <p id="op-reply-delete">删除</p>
                            <p id="op-reply-reply">回复</p>
                        </div>
                    </div>
                </div>  
                <div class="postreply-entry">
                    <div class="postreply-entry-header">
                        <div class="postreply-name">
                            <p>梁王</p>
                        </div>
                        <div class="postreply-date">
                            <p>2017-03-17</p>
                        </div>
                    </div>
                    <div class="postreply-entry-body">
                        <p> asdfiaohewfoihfowifhowqifhoqiwefhoiwefhoiqwe</p>
                    </div>
                    <div class="postreply-entry-footer">
                        <div class="postreply-operations">
                            <p id="op-reply-delete">删除</p>
                            <p id="op-reply-reply">回复</p>
                        </div>
                    </div>
                </div>  
                <div class="postreply-entry">
                    <div class="postreply-entry-header">
                        <div class="postreply-name">
                            <p>梁王</p>
                        </div>
                        <div class="postreply-date">
                            <p>2017-03-17</p>
                        </div>
                    </div>
                    <div class="postreply-entry-body">
                        <p> asdfiaohewfoihfowifhowqifhoqiwefhoiwefhoiqwe</p>
                    </div>
                    <div class="postreply-entry-footer">
                        <div class="postreply-operations">
                            <p id="op-reply-delete">删除</p>
                            <p id="op-reply-reply">回复</p>
                        </div>
                    </div>
                </div>  
                <div class="postreply-entry">
                    <div class="postreply-entry-header">
                        <div class="postreply-name">
                            <p>梁王</p>
                        </div>
                        <div class="postreply-date">
                            <p>2017-03-17</p>
                        </div>
                    </div>
                    <div class="postreply-entry-body">
                        <p> asdfiaohewfoihfowifhowqifhoqiwefhoiwefhoiqwe</p>
                    </div>
                    <div class="postreply-entry-footer">
                        <div class="postreply-operations">
                            <p id="op-reply-delete">删除</p>
                            <p id="op-reply-reply">回复</p>
                        </div>
                    </div>
                </div>             
            </div>
        </div>
        <div class="fixed-footer reply-footer">
            <p>可以他喵的说点啥</p>
            <div></div>
            <button>                                
                <svg aria-hidden="true" class="icon">
                    <use xlink:href="#icon-goback"></use>
                </svg>
            </button>
        </div> 

<%- include base/baseJSMobile.ejs %>

<script>

</script>

<script>
	(function() {
		var index = {


			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {

			},
			init: function() {
				this.bindEvent();
			}
		}
		index.init();
	})();
</script>
<%- include base/footerMobile.ejs %>