<%- include base/header.ejs %>
<div id="content">
    <div class="section big-container">
        <div class="section-content bg-white">
            <div id="post-2" class="post-details">
                <div class="post-details-header">
                    <div class="post-details-info">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493652669637&di=4ce34348511e978ed2d319e3ed3cf379&imgtype=0&src=http%3A%2F%2Fmvimg2.meitudata.com%2F55df129d14f895616.jpg">
                        <p>666</p>
                    </div>
                    <div class="post-details-date">
                        <p>{{item.posts.create_time}}</p>
                    </div>
                </div>
                <div class="post-details-content">
                    <h1>{{item.posts.p_title}}</h1>
                    <div class="post-details-main">
                        <p>{{item.posts.p_text}}{{item.posts.p_text}}{{item.posts.p_text}}{{item.posts.p_text}}{{item.posts.p_text}}{{item.posts.p_text}}{{item.posts.p_text}}{{item.posts.p_text}}{{item.posts.p_text}}{{item.posts.p_text}}{{item.posts.p_text}}{{item.posts.p_text}}{{item.posts.p_text}}</p>
                    </div>
                </div>
                <div class="post-details-footer">
                    <div class="post-details-buttons">
                        <button>                    
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#icon-good">
                                </use>
                            </svg>
                            点赞
                        </button>
                        <button>
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#icon-home">
                                </use>
                            </svg>   
                            收藏                    
                        </button>
                    </div>
                    <div class="post-details-operations">
                        <p id="op-setTop">置顶</p>
                        <p id="op-lock">锁定</p>
                        <p id="op-edit">编辑</p>
                        <p id="op-delete">删除</p>
                    </div>
                </div>
            </div>
            <div class="post-replies">
                <div class="post-reply-header">
                    <h1>999+ 个回复</h1>
                </div>
                <div class="post-reply-entry">
                    <div class="post-reply-entry-header">
                        <div class="post-reply-name">
                            <p>{{item.user_name}}</p>
                        </div>
                        <div class="post-reply-date">
                            <p>{{item.create_time}}</p>
                        </div>
                    </div>
                    <div class="post-reply-entry-body">
                        <p>{{item.p_text}}</p>
                    </div>
                    <div class="post-reply-entry-footer">
                        <div class="post-reply-operations">
                            <p id="op-reply-delete">删除</p>
                            <p id="op-reply-reply">回复</p>
                        </div>
                    </div>
                </div>
                <div id="demo1"></div>
                <div class="post-reply-send">
                    <input id="post-reply-send-content" type="text" autocomplete="off" placeholder="">
                    <button id="post-reply-send-btn">回复</button>                    
                </div>    
            </div>                  
        </div>     
    </div>
</div>
<%- include base/baseJS.ejs %>

<%- include base/footerMobile.ejs %>

<script>
<script>
(function() {
    var postobj = {

        bindEvent: function() {
            var self = this;
        },
        init: function() {
            laypage({
                cont: document.getElementById('demo1'),
                pages: 100, //总页数
                groups: 5 //连续显示分页数
            });           
        },
    }


    postobj.init();

})();
</script>
</script>
