<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
        <link href="../public/stylesheets/dist/globalM.css" rel="stylesheet" type="text/css">
        <link href="../public/stylesheets/dist/styleMobile.css" rel="stylesheet" type="text/css">
        </link>
        <script src="../public/javascripts/iconfont.js">
        </script>
    </head>
    <body>
        <nav class="personal-navbar">
                    <button class="personal-icon-back" type="button">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-goback">
                            </use>
                        </svg>
                    </button>
                    <div class="personal-navbar-brand">
                        <h1>
                            发表帖子
                        </h1>
                        <button class="publishPost-btn">发表</button>
                    </div>
        </nav>
       <div class="publishPost-content">
          <input type="text" name="" value="帖子标题">
          <textarea>在这里写下你的故事</textarea>
          <svg aria-hidden="true" class="icon">
                <use xlink:href="#icon-picture">
                </use>
          </svg>
       </div>
    </body>
</html>