<%- include base/headerMobile.ejs %>
<nav class="personal-navbar">
                    <button class="personal-icon-back" type="button">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-goback">
                            </use>
                        </svg>
                    </button>
                    <div class="personal-navbar-brand">
                        <h1>
                            发表帖子
                        </h1>
                        <button class="publishPost-btn">发表</button>
                    </div>
</nav>
<div class="publishPost-content">
  <input type="text" name="" value="帖子标题">
  <textarea>在这里写下你的故事</textarea>
  <svg aria-hidden="true" class="icon">
        <use xlink:href="#icon-picture">
        </use>
  </svg>
</div>
<%- include base/baseJSMobile.ejs %>
<%- include base/footerMobile.ejs %>