<%- include base/header.ejs %>
<div id="publishPost" class="small-container">
    <div class="section section-small-center">
        <div class="section-hd">
            <span>发布帖子</span>
        </div>
        <div class="section-content form-height-section">
            <form>
                <div class="form-container">
                    <div class="form-container-hd">
                        <span>标题</span>
                    </div>
                    <div class="form-container-input">
                        <input type="text" name="title" id="title" placeholder="输入标题">
                    </div>
                </div>
                <div class="form-container">
                    <div class="form-container-hd">
                        <span>内容</span>
                    </div>
                    <div class="form-container-input" style="height: 300px">
                        <textarea id="content" placeholder="输入内容"></textarea>
                    </div>
                </div>
                <div class="form-container form-btn">
                    <button type="button">创建</button>
                </div>
            </form>
        </div>            
    </div>
</div>
<%- include base/baseJS.ejs %>

<%- include base/footerMobile.ejs %>


<script>
    (function() {
        var publishPost = {
            title: $("#title"),
            content: $("#content"),
            bindEvent: function() {
                var self = this;
                $(".form-btn > button").on("click", function() {
                    global.subData('/groups/'+'<%=groupID%>'+'/post',{
                        p_title: self.title.val(),
                        p_text: self.content.val(),
                    },function(data){
                        if (data.ret == 200 && data.data) {
                            if (data.data.code == 1) {
                                window.location.href = './';
                            } else{
                                self.loading.hide();
                                sweetAlert('错误', '发布失败', 'error');
                            }
                        } else{
                            self.loading.hide();
                            sweetAlert('错误', data.msg, 'error');
                        }
                    });
                })
            },
            init: function() {
                var self = this;

                this.bindEvent();                
            },
        }
        publishPost.init();

    })();
</script>
