<%- include base/header.ejs %>
<div id="publishPost" class="small-container">
    <div class="section section-small-center">
        <div class="section-hd">
            <span>发布帖子</span>
        </div>
        <div class="section-content form-height-section">
            <form>
                <div class="form-container">
                    <div class="form-container-hd">
                        <span>标题</span>
                    </div>
                    <div class="form-container-input">
                        <input type="text" name="title" id="title" placeholder="输入标题">
                    </div>
                </div>
                <div class="form-container">
                    <div class="form-container-hd">
                        <span>内容</span>
                    </div>
                    <div class="form-container-input">
                        <div class="quill-input">
                            
                        </div>
                    </div>
                </div>
                <div class="form-container form-btn">
                    <button type="button">创建</button>
                </div>
            </form>
        </div>            
    </div>
</div>
<%- include base/baseJS.ejs %>

<%- include base/footerMobile.ejs %>


<script>
    (function() {
        var imageUploadtoken;
        global.getData('/api/image/qiniutoken',{},function(data){
            if (data.ret == 200) {
                imageUploadtoken = data.token;
            } else{
                sweetAlert('错误', 'token获取失败', 'error');
            }
        });        
        var imageHandler = function(image, callback) {
            var formData = new FormData();
            formData.append('token', imageUploadtoken);
            formData.append('file', image, image.name);
            $.ajax({
                type:"post",
                url:"http://up.qiniu.com/",
                data: formData,
                async: false,  
                cache: false,  
                contentType: false,  
                processData: false,  
                success:function(data){
                    console.log(data);
                    var cursorIndex = quill.getSelection().index;
                    quill.insertEmbed(cursorIndex,'image', 'http://7xlx4u.com1.z0.glb.clouddn.com/' + data.key);
                    // 光标后移
                    quill.setSelection(cursorIndex + 1, 0);
                },
            });
        };
        var quill = new Quill('.quill-input', {
            modules: {
                toolbar: [
                    ['image']
                ]
            },
            placeholder: 'Compose an epic...',
            theme: 'snow',  // or 'bubble'
            imageHandler: imageHandler
        });
        var publishPost = {
            title: $("#title"),
            content: $("#content"),
            bindEvent: function() {
                var self = this;
                $(".form-btn > button").on("click", function() {
                    global.subData('/groups/'+'<%=groupID%>'+'/post',{
                        p_title: self.title.val(),
                        p_text: quill.container.firstChild.innerHTML,
                    },function(data){
                        if (data.ret == 200 && data.data) {
                            if (data.data.code == 1) {
                                window.location.href = './';
                            } else{
                                self.loading.hide();
                                sweetAlert('错误', '发布失败', 'error');
                            }
                        } else{
                            self.loading.hide();
                            sweetAlert('错误', data.msg, 'error');
                        }
                    });
                })
            },
            init: function() {
                var self = this;

                this.bindEvent();                
            },
        }
        publishPost.init();

    })();
</script>
