<%- include base/header.ejs %>
<div id="content" class="small-container">
    <div class="section section-small-center">
        <div class="section-hd">
            <span>注册</span>
        </div>
        <div class="section-content form-height-section">
            <form>
                <div class="form-container">
                    <div class="form-container-hd">
                        <span>邮箱</span>
                    </div>
                    <div class="form-container-input">
                        <input type="text" name="email" id="email">
                    </div>
                </div>
                <div class="form-container">
                    <div class="form-container-hd">
                        <span>昵称</span>
                    </div>
                    <div class="form-container-input">
                        <input type="text" name="nickname" id="nickname">
                    </div>
                </div>
                <div class="form-container">
                    <div class="form-container-hd">
                        <span>密码</span>
                    </div>
                    <div class="form-container-input">
                        <input type="password" name="pwd" id="pwd">
                    </div>
                </div>
                <div class="form-container">
                    <div class="form-container-hd">
                        <span>邀请码</span>
                    </div>
                    <div class="form-container-input">
                        <input type="text" name="code" id="code">
                    </div>
                </div>
                <div class="form-container form-btn">
                    <button type="button">注册</button>
                </div>
            </form>
        </div>            
    </div>
</div>
<%- include base/baseJS.ejs %>

<%- include base/footerMobile.ejs %>


<script>
	(function() {
		var register = {

            regform : $('form')[0],

            regpwd : $('#pwd'),

            regemail : $('#email'),

            regnickname : $('#nickname'),

            reginviteCode : $('#code'),

            regbtn : $('.form-btn button'),

			getServerData: function(param, cb) {
				
			},

            validataFunc : function(){
                var validator = new HJformcheck();
                var self = this;

                validator.extend('isEmail',function(value,errorMsg){
                    if(!/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(value)){
                        return errorMsg;
                    }
                });

                validator.extend('maxLength',function(value,length,errorMsg){
                    if(value.length>length){
                        return errorMsg;
                    }
                });

                validator.extend('isNickName',function(value,errorMsg){
                    if(!/^[0-9a-zA-Z\u4E00-\u9FA5\_]*$/.test(value)){
                        return errorMsg;
                    }
                });

                validator.add(self.regemail, [{
                strategy: 'isNonEmpty',
                errorMsg: '邮箱不能为空'
                }, {
                strategy: 'isEmail',
                errorMsg: '邮箱格式有误，请重试'
                }]);

                validator.add(self.regnickname,[{
                strategy: 'isNonEmpty',
                errorMsg: '昵称不能为空'
                },{
                strategy: 'maxLength:18',
                errorMsg: '请输入1-18位字符作为昵称'
                },{
                strategy: 'isNickName',
                errorMsg: '只允许中文、数字、字母和下划线'
                }]);

                validator.add(self.regpwd, [{
                strategy: 'isNonEmpty',
                errorMsg: '密码不能为空'
                }, {
                strategy: 'minLength:6',
                errorMsg: '密码长度不能小于6位'
                },{
                strategy: 'maxLength:20',
                errorMsg: '密码长度不能超过20位'
                }]);

                validator.add(self.reginviteCode,[{
                strategy: 'isNonEmpty',
                errorMsg: '邀请码不能为空'
                }]);

                var errorMsg = validator.start();

                return errorMsg;
            },

			bindEvent: function() {
                var self = this;
                self.regbtn.on('click',function(e){
                    e.preventDefault();

                    var errorMsg = self.validataFunc();
                    if(!errorMsg){

                        HJLoading.start({
                        loadingId : 'registerLoading',
                        loadingScale: 0.2,
                        });

                        global.subData('/register',{
                            nickname : self.regnickname.val(),
                            email : self.regemail.val(),
                            password : self.regpwd.val(),
                            inviteCode : self.reginviteCode.val(),
                        },function(data){
                            if(data.ret === 200 && data.data){
                                if(data.data.code == 1){
                                
                                    setTimeout(function(){
                                        HJLoading.stop('registerLoading');
                                        window.location.href = '/personal/login';
                                    },3000);

                                }else{
                                    HJLoading.stop('registerLoading');
                                    swal('错误',data.msg,'error');
                                }
                            }else{
                                HJLoading.stop('registerLoading');
                                swal('错误',data.msg,'error');
                            }
                        });
                    }else{
                        swal('提示',errorMsg,'warning');
                    }
                });
			},
			init: function() {
                var self = this;

                //wuanHeadFun.title("注册");
				self.bindEvent();


			},
		}
		register.init();
	})();
</script>
