<%- include base/header.ejs %>
<div id="content" class="small-container">
    <div class="section section-small-center">
        <div class="section-hd">
            <span>重置密码</span>
        </div>
        <div class="section-content form-height-section">
            <form>
                <div class="form-container">
                    <div class="form-container-hd">
                        <span>邮箱</span>
                    </div>
                    <div class="form-container-input">
                        <input type="text" name="email" id="email" placeholder="输入邮箱">
                    </div>
                </div>
                <div class="form-container form-btn">
                    <button type="button">找回密码</button>
                </div>
            </form>
        </div>            
    </div>
</div>
<%- include base/baseJS.ejs %>

<%- include base/footerMobile.ejs %>