<%- include base/headerMobile.ejs %>
        <nav class="navbar-default navbar-default-shadow">
            <div class="nav-container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <h1>
                            <span>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#icon-goback">
                                    </use>
                                </svg>
                            </span>
                            <span>
                                找回密码
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </nav>
        <div class="retrievepassword-default-container">
            <div class="retrieve-password-body">
                <form>
                    <div class="retrieve-password-container">
                        <input id="email" required="required" type="email" class=" retrieve-password-input">
                        <label for="email">邮箱</label>
                        <div class="foot-line"></div>
                    </div>
                    <div class="retrieve-password-container">
                        <button class="registerBtn">找回密码</button>
                    </div>
                </form>
 
            </div>
 
        </div>
<%- include base/baseJSMobile.ejs %>

<script>
    $('.retrieve-password-input').on('click',function(e){
        $(this).siblings('label').removeClass('blur-label').addClass('active');
        $(this).siblings('.foot-line').removeClass('blur-line').addClass('highlight');
    });

    $('.retrieve-password-input').on('blur',function(e){
        if(this.value === '')
        {
            $(this).siblings('label').removeClass('active').addClass('blur-label');
        }
        
        $(this).siblings('.foot-line').removeClass('highlight').addClass('blur-line');
    });
</script>

<script>
	(function() {
		var retrievePwd = {
            retPwdemail : $('.retrieve-password-container #email'),
            retPwdbtn : $('.registerBtn'),

            validataFunc : function(){
                var self = this;
                var validator = new HJformcheck();

                validator.extend('isEmail',function(value,errorMsg){
                    if(!/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(value)){
                        return errorMsg;
                    }
                });

                validator.add(self.retPwdemail, [{
                strategy: 'isNonEmpty',
                errorMsg: '邮箱不能为空'
                },{
                strategy: 'isEmail',
                errorMsg: '邮箱格式有误，请重试'
                }]);

                var errorMsg = validator.start();

                return errorMsg;
            },

			bindEvent: function() {
                var self = this;
                self.retPwdbtn.on('touchend',function(e){
                    e.preventDefault();

                    var errorMsg = self.validataFunc();

                    if(!errorMsg){

                        HJLoading.start({
                            loadingId : 'retPwdLoading',
                        });

                        global.subData('/retrievepassword',{
                            email: encodeURIComponent(self.retPwdemail.val()),
                        },function(data){
                            if(data.ret === 200 && data.data){
                                if(data.data.code == 1){
                                    //延迟3秒跳转
                                    setTimeout(function(){
                                        HJLoading.stop('retPwdLoading');
                                        window.location.href = '/';
                                    },3000);
                                    
                                }else{
                                    HJLoading.stop('retPwdLoading');
                                    alert(data.msg);
                                }
                            }else{
                                HJLoading.stop('retPwdLoading');
                                alert(data.msg);
                            }
                        });
                    }else{
                        alert(errorMsg);
                    }
                });
			},
			init: function() {
				this.bindEvent();
			}
		}
		retrievePwd.init();
	})();
</script>
<%- include base/footerMobile.ejs %>