<%- include base/headerMobile.ejs %>
        <nav class="navbar-default navbar-default-shadow">
            <div class="nav-container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <h1>
                            <span>
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#icon-goback">
                                    </use>
                                </svg>
                            </span>
                            <span>
                                找回密码
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </nav>
        <div class="modifypassword-default-container">
            <div class="modify-password-body">
                <form>
                    <div class="modify-password-container">
                        <input id="modify-password" required="required" type="password" class=" modify-password-input">
                        <label for="modify-password">新密码</label>
                        <div class="foot-line"></div>
                    </div>
                    <div class="modify-password-container">
                        <input id="modify-password-ack" required="required" type="password" class=" modify-password-input">
                        <label for="modify-password-ack">确认密码</label>
                        <div class="foot-line"></div>
                    </div>
                    <div class="modify-password-container">
                        <button type="button" class="registerBtn">找回密码</button>
                    </div>
                </form>
 
            </div>
 
        </div>
<%- include base/baseJSMobile.ejs %>
<script>
    $('.modify-password-input').on('click',function(e){
        $(this).siblings('label').removeClass('blur-label').addClass('active');
        $(this).siblings('.foot-line').removeClass('blur-line').addClass('highlight');
    });

    $('.modify-password-input').on('blur',function(e){
        if(this.value === '')
        {
            $(this).siblings('label').removeClass('active').addClass('blur-label');
        }
        
        $(this).siblings('.foot-line').removeClass('highlight').addClass('blur-line');
    });
</script>

<script>
	(function() {
		var retrievePwdreset = {

            retPwdpwd : $('.modify-password-body #modify-password'),
            retPwdpwdack : $('.modify-password-body #modify-password-ack'),
            retPwdbtn : $('.registerBtn'),

            validataFunc : function(){
                var self = this;
                var validator = new HJformcheck();


                validator.add(self.retPwdpwd, [
                    {
                        strategy: 'isNonEmpty',
                        errorMsg: '密码不能为空'
                    },
                ]);
                validator.add(self.retPwdpwd, [
                    {
                        strategy: 'isSame:' + self.retPwdpwd.val(),
                        errorMsg: '两次密码不相同'
                    },
                ]);

                var errorMsg = validator.start();
                return errorMsg;
            },
			bindEvent: function() {
                var self = this;
                self.retPwdbtn.on('touchend',function(e){
                    e.preventDefault();

                    var errorMsg = self.validataFunc();

                    if(!errorMsg){

                        HJLoading.start({
                            loadingId : 'retPwdresetLoading',
                        });

                        global.subData('/retrievepassword/reset',{
                            email: encodeURIComponent(self.retPwdemail.val()),
                        },function(data){
                            if(data.ret === 200 && data.data){
                                if(data.data.code == 1){
                                    //延迟3秒跳转
                                    setTimeout(function(){
                                        HJLoading.stop('retPwdresetLoading');
                                        window.location.href = '/';
                                    },3000);
                                    
                                }else{
                                    HJLoading.stop('retPwdresetLoading');
                                    alert(data.msg);
                                }
                            }else{
                                HJLoading.stop('retPwdresetLoading');
                                alert(data.msg);
                            }
                        });
                    }else{
                        alert(errorMsg);
                    } 
                });
			},
			init: function() {
				this.bindEvent();
			}
		}
		retrievePwdreset.init();
	})();
</script>
<%- include base/footerMobile.ejs %>