<%- include searchInputMobile.ejs %>

<div class="search-content-all">
	
</div>

<%- include base/baseJSMobile.ejs %>

<script type="text/html" id="showallplanets-tpl">

			{{each group as item i}}
    			<div class="content-planets-planetContainer" id="{{item.group_id}}">
					<div class="planets-planetContainer-img">
						<div><img src={{item.g_image}}></img></div>
					</div>
					<div class="planets-planetContainer-exp">
						<span>{{item.g_name}}</span>
					</div>
				</div>
    		{{/each}}
</script>


<script type="text/html" id="showallplanets-default-tpl">

			
<div class="content-planets-planetContainer" id="showallplanets-default-tpl">
	<div class="planets-planetContainer-img">
		<div><img style="background:red"></img></div>
	</div>
	<div class="planets-planetContainer-exp">
		<span>星球名字</span>
	</div>
</div>
 
</script>


<script type="text/html" id="posts-default-tpl">
		<div class="search-content-detail" id="post-default">
			<div class="content-detail-header">
				<div class="content-detail-header-content">
					<div>
						<img></img>
						<span class="search-content-header-user">这里显示发帖人</span>
					</div>
                    <span class="search-content-header-date">这里显示发帖时间</span>
				</div>
			</div>
			<div class="content-detail-content">
				<div class="content-detail-content-title">
                    <p>发帖标题</p>
                </div>
                <div class="content-detail-content-brief">
                    <div class="content-detail-content-exact">
                        帖子内容   
                    </div>
                </div>
			</div>
		</div>

</script>

<script type="text/html" id="posts-tpl">    

    {{each posts as item i}}

		<div class="search-content-detail" id="{{item.post_id}}">
			<div class="content-detail-header">
				<div class="content-detail-header-content">
					<div>
						<img></img>
						<span class="search-content-header-user">{{item.user_name}}发表于{{item.g_name}}</span>
					</div>
                    <span class="search-content-header-date">{{item.create_time}}</span>
				</div>
			</div>
			<div class="content-detail-content">
				<div class="content-detail-content-title">
                    <p>{{item.p_title}}</p>
                </div>
                <div class="content-detail-content-brief">
                    <div class="content-detail-content-exact">
                        {{item.p_text}}   
                    </div>
                </div>
			</div>
		</div>
    {{/each}}
</script>
<script>
	(function() {
		//存在问题。loading样式和默认占位元素设计
		var search = {
			searchAction:$('.search-action'),
			searchInput : $('#searchInput'),			
			searchValid: $('.search-action-valid'),
			searchContainer: $('.search-content-all'),
			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {
				var that = this;
				var pageWidth,pageHeight,postWidth,postHeight,planetWidth,planetHeight,pnum,row,col;

				var planetdefault,postsdefault;

				//posts和planets的外包装，不然插入有点不方便
				var postsContainerHeader = "<div class='search-content-details'><div class='content-details-content-label'><span>帖子</span></div>";


				//showallPlanets 的外包装。
				var allPlanetsContainerHeader = "<div class='searchPlanet-search-content-planets'><div class='content-planets-tag'><span>星球</span></div><div class='content-planets-total'>";

				var allPlanetsContainerFooter = "</div></div>";
				
				var postsContainerFooter = '</div>';

				//输入框改变时--框架已经打好
				that.searchInput.on('input propertychange',function(e){
					if(e.type === 'input' && that.searchInput.val() !== ''){
						//星球容器
						var planetContainer = 	"<div class='search-content-planets'><div class='content-planets-tag'><span>星球</span></div><div class='content-planets-planetContainers'></div><div class='content-planets-more'><div class='more-label get-more-planets'><span>查看更多星球</span></div><div class='more-next get-more-planets'><div class='more-next-pre'></div><div class='more-next-last'></div></div></div></div>";
						//清空数据
						that.searchContainer.empty();
						//插入dom框架
						that.searchContainer.append(planetContainer+postsContainerHeader+template('posts-default-tpl',{})+postsContainerFooter);

						//插入默认元素
						$('.content-planets-planetContainers').append(template('showallplanets-default-tpl'),{});

						postsdefault = $('.search-content-details');

						//根据屏幕显示(自适应)
						pagewidth = $(window).width();

						pageheight = $(window).height();

						var postdefault = $('#post-default');
						planetdefault = $('.content-planets-planetContainers');

						var postoffsetTop = postdefault.offset().top;
						var planetTop = planetdefault.offset().top;

						var planetContainerWidth = planetdefault.outerWidth();
						var planetContainerHeight = planetdefault.outerHeight();

						var container = planetdefault.find('.content-planets-planetContainer');
						planetHeight = container.outerHeight(true);
						planetWidth = container.outerWidth(true);

						pnum = Math.ceil((pageheight - postoffsetTop) / postdefault.outerHeight());
						//星球的行列数
						row = Math.ceil(planetContainerHeight / planetHeight);
						col = Math.floor(planetContainerWidth / planetWidth);


						handleEve(e);
					}
				});

				//处理宽高以自适应

				//执行搜索操作
				that.searchAction.on('touchend',function(e){
					if(that.searchInput.val()===''){
						alert('请输入搜索内容。。');
					}else{
						handleEve(e);
					}
					
				});

				function handleEve(e){
					e.preventDefault();
					var inputtext = that.searchInput.val();
					global.subData('/searchContent',{
						text : inputtext,
						gnum : row * col,
						pnum : 2 + pnum,
						pn : 1,
						gn : 1,
					},function(data){
						if(data.ret === 200){
							if(data.data){
								var posts_page = data.data.posts_page;
								
								var cur_post_page = data.data.p_current_page;

								var postsTPL = template("posts-tpl",data.data);
								

								var planetsTPL = template("showallplanets-tpl",data.data);
								//插入星球
								if(data.data.group){
									planetdefault.empty();
									planetdefault.append(planetsTPL);
								}
								
								//插入帖子
								if(data.data.posts){
									postsdefault.empty();
									postsdefault.append(postsTPL);
								
								
									//提前加载距离
									var pre_destance = 	$('.search-content-detail')?Math.ceil($('.search-content-detail').outerHeight()*2/3) : 180;
									//对返回的数据进行事件绑定
									$('.search-content-all').dropload({
										scrollArea : this,
										domUp: {

										},
										domDown : {
											domClass : 'dropload-down',
											domRefresh : '<div class="dropload-refresh">上拉加载更多内容。。。</div>',
            								domLoad    : '<div class="dropload-load"><span class="loading"></span>正在努力加载中。。。</div>',
            								domNoData  : '<div class="dropload-noData">没有数据啦。。。</div>',
										},

										loadDownFn : function(me){
											cur_post_page ++;
											var result = '';
											global.subData('/searchContent',{
												text : inputtext,
												gnum : 0,
												pnum : 2 + pnum,
												pn : cur_post_page,
												gn : 1,
											},function(data){
												var arrLen =  data.data.posts?data.data.posts.length:0;
												if(arrLen >0 && cur_post_page<=posts_page){
													result += template("posts-tpl",data.data);
												}else{
													me.lock();
													me.noData();
												}

												//插入数据
												$('.search-content-details').append(result);
												me.resetload();											
											});
										},

										distance:pre_destance,
									});
								}



								$('.get-more-planets').on('touchend',
								function(e){
										e.preventDefault();
										//星球容器
									var planetContainer = "<div class='showallplanets'><div class='planets-tag'><span>星球</span></div><div class='showallplanets-planetContainers'></div></div></div>";

									//清空数据
									that.searchContainer.empty();
									//插入dom框架
									that.searchContainer.append(planetContainer);
									var showallplanetsContainers = $('.showallplanets-planetContainers');
									//重新获取行数
									row = Math.ceil((pageheight - $('.showallplanets-planetContainers').offset().top)/planetHeight);

									global.subData('/searchContent',{
										text : inputtext,
										gnum : row*col,
										pnum : 0,
										pn: 1,
										gn:1,
									},function(data){
										var cur_planet_page = data.data.g_current_page;
										var group_page = data.data.group_page;


										if(data.ret===200){
											if(data.data){
												//插入星球

												showallplanetsContainers.empty();
												var allPlanetsTPL = template("showallplanets-tpl",data.data);
												showallplanetsContainers.append(allPlanetsTPL);

												//提前加载距离
												var pre_destance = planetHeight;

												$('.search-content-all').dropload({
													scrollArea: this,
													domDown:{
														domClass : 'dropload-down',
														domRefresh : '<div class="dropload-refresh">↑上拉加载更多-自定义内容</div>',
            											domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中-自定义内容...</div>',
            											domNoData  : '<div class="dropload-noData">暂无数据-自定义内容</div>',
													},
													loadDownFn : function(me){
														cur_planet_page ++;
														var result = '';
														global.subData('/searchContent',{
														text : inputtext,
														gnum :  row*col,
														pnum : 0,
														pn : cur_planet_page,
														gn : 1,
														},function(data){
															var arrLen = data.data.group?data.data.group.length:0;
															if(arrLen >0 && cur_planet_page<=group_page){
																result += template("showallplanets-tpl",data.data);
															}else{
																me.lock();
																me.noData();
															}
															//插入数据
															$('.showallplanets-planetContainers').append(result);
															me.resetload();											
														});
													},
													threshold :pre_destance,
												});

											}
										}else{
											alert('错误');
										}
									});
									
								});
							}
						}else{
							alert("搜索错误！");
						}
					});
				}
			},
			init: function() {
				var that = this;

				that.bindEvent();
			}
		}
		search.init();
	})();
</script>
<%- include base/footerMobile.ejs %>