<%- include searchInputMobile.ejs %>

<div class="search-content-all">
	<div class="search-content-planets">
		<div class="content-planets-tag">
			<span>星球</span>
		</div>
		<div class="content-planets-planetContainers">
			<!--模板入口-->
		</div>
		<div class="content-planets-more">
			<div class="more-label">
				<span>查看更多星球</span>
			</div>
			<div class="more-next">
				<div class="more-next-pre"></div>
				<div class="more-next-last"></div>
			</div>
		</div>
	</div>
	<div class="search-content-details">
		<div class="content-details-content-label">
			<span>帖子</span>
		</div>
		

	</div>
<div>

<%- include base/baseJSMobile.ejs %>

<script type="text/html" id="planets-tpl">    
	<!--需要鼠标悬挂时显示星球简介-->
    {{each group as item i}}
    	<div class="content-planets-planetContainer" id="{{item.group_id}}">
				<div class="planets-planetContainer-img">
					<div><img src={{item.g_image}}></img></div>
				</div>
				<div class="planets-planetContainer-exp">
					<span>{{item.g_name}}</span>
				</div>
		</div>
    {{/each}}
</script>


<script type="text/html" id="posts-tpl">    

    {{each posts as item i}}

		<div class="search-content-detail" id="{{item.post_id}}">
			<div class="content-detail-header">
				<div class="content-detail-header-content">
					<img></img>
					<span class="search-content-header-user">{{item.user_name}}发表于{{item.g_name}}</span>
                    <span class="search-content-header-date">{{item.create_time}}</span>
				</div>
			</div>
			<div class="content-detail-content">
				<div class="content-detail-content-title">
                    <p>{{item.p_title}}</p>
                </div>
                <div class="content-detail-content-brief">
                    <div class="content-detail-content-exact">
                        <p>{{item.p_text}}
                        </p>
                    </div>
                </div>
			</div>
		</div>
    {{/each}}
</script>
<script>
	(function() {
		var search = {
			planetsCon: $('.content-planets-planetContainers'),
			postsCon: $('.search-content-details'),
			searchAction:$('.search-action'),
			searchInput : $('#searchInput'),			
			searchValid: $('.search-action-valid'),
			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {
				var that = this;
				that.searchAction.on('touchend',function(e){
					e.preventDefault();
					global.subData('/searchContent',{
						text : that.searchInput.val(),
					},function(data){
						if(data.ret === 200){
							if(data.data){
								var groups = data.group;
								var posts = data.posts;
								var group_page = data.group_page;
								var posts_page = data.posts_page;
								var curr_page = data.g_current_page;

								var planetsTPL = template("planets-tpl",data.data);
								var postsTPL = template("posts-tpl",data.data);

								that.planetsCon.append(planetsTPL);
								that.postsCon.append(postsTPL);
							}
						}else{
							alert("搜索错误！");
						}
					});
				});
			},
			init: function() {
				var that = this;
				that.bindEvent();
			}
		}
		search.init();
	})();
</script>
<%- include base/footerMobile.ejs %>