<%- include searchInputMobile.ejs %>


<div class="searchPlanet-search-content-all">
	<div class="searchPlanet-search-content-planets">
		<div class="content-planets-tag">
			<span>星球</span>
		</div>
		<div class="content-planets-total">
			<div class="content-planets-single">
				<div class="content-planets-single-img">
					<div><img></img></div>
				</div>
				<div class="content-planets-single-exp">
					<span>我们都是技术宅<span>
				</div>
			</div>
			<div class="content-planets-single">
				<div class="content-planets-single-img">
					<div><img></img></div>
				</div>
				<div class="content-planets-single-exp">
					<span>我们都是技术宅<span>
				</div>
			</div>
			<div class="content-planets-single">
				<div class="content-planets-single-img">
					<div><img></img></div>
				</div>
				<div class="content-planets-single-exp">
					<span>我们都是技术宅<span>
				</div>
			</div>
			<div class="content-planets-single">
				<div class="content-planets-single-img">
					<div><img></img></div>
				</div>
				<div class="content-planets-single-exp">
					<span>我们都是技术宅<span>
				</div>
			</div>
			<div class="content-planets-single">
				<div class="content-planets-single-img">
					<div><img></img></div>
				</div>
				<div class="content-planets-single-exp">
					<span>我们都是技术宅<span>
				</div>
			</div>
			<div class="content-planets-single">
				<div class="content-planets-single-img">
					<div><img></img></div>
				</div>
				<div class="content-planets-single-exp">
					<span>我们都是技术宅<span>
				</div>
			</div>
		</div>
	</div>
</div>




<%- include base/baseJSMobile.ejs %>


<script>
	(function() {
		var index = {


			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {

			},
			init: function() {
				this.bindEvent();
			}
		}
		index.init();
	})();
</script>
<%- include base/footerMobile.ejs %>