<%- include searchInputMobile.ejs %>

<div class="search-content-all">
	
</div>

<%- include base/baseJSMobile.ejs %>

<script type="text/html" id="showallplanets-tpl">
	<div class="searchPlanet-search-content-planets">
		<div class="content-planets-tag">
			<span>星球</span>
		</div>
		<div class="content-planets-total">
			{{each group as item i}}
				<div class="content-planets-single" id="{{item.group_id}}">
					<div class="content-planets-single-img">
						<div><img src={{item.g_image}}></img></div>
					</div>
					<div class="content-planets-single-exp">
						<span>{{item.g_name}}</span>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</script>


<script type="text/html" id="planets-tpl">    
	<!--需要鼠标悬挂时显示星球简介-->
	<div class="search-content-planets">
		<div class="content-planets-tag">
			<span>星球</span>
		</div>
		<div class="content-planets-planetContainers">
			{{each group as item i}}
    			<div class="content-planets-planetContainer" id="{{item.group_id}}">
					<div class="planets-planetContainer-img">
						<div><img src={{item.g_image}}></img></div>
					</div>
					<div class="planets-planetContainer-exp">
						<span>{{item.g_name}}</span>
					</div>
				</div>
    		{{/each}}
		</div>
		<div class="content-planets-more">
			<div class="more-label get-more-planets">
				<span>查看更多星球</span>
			</div>
			<div class="more-next get-more-planets">
				<div class="more-next-pre"></div>
				<div class="more-next-last"></div>
			</div>
		</div>
	</div>
</script>


<script type="text/html" id="posts-tpl">    
<div class="search-content-details">
	<div class="content-details-content-label ">
		<span>帖子</span>
	</div>

    {{each posts as item i}}

		<div class="search-content-detail" id="{{item.post_id}}">
			<div class="content-detail-header">
				<div class="content-detail-header-content">
					<div>
						<img></img>
						<span class="search-content-header-user">{{item.user_name}}发表于{{item.g_name}}</span>
					</div>
                    <span class="search-content-header-date">{{item.create_time}}</span>
				</div>
			</div>
			<div class="content-detail-content">
				<div class="content-detail-content-title">
                    <p>{{item.p_title}}</p>
                </div>
                <div class="content-detail-content-brief">
                    <div class="content-detail-content-exact">
                        {{item.p_text}}   
                    </div>
                </div>
			</div>
		</div>
    {{/each}}
</div>
</script>
<script>
	(function() {
		var search = {
			planetsCon: $('.content-planets-planetContainers'),
			postsCon: $('.search-content-details'),
			searchAction:$('.search-action'),
			searchInput : $('#searchInput'),			
			searchValid: $('.search-action-valid'),
			searchContainer: $('.search-content-all'),
			headerHeight : 140,
			headerAccupt : 310,
			postsHeight : 280,
			planetsHeight : 195,
			planetsWidth : 210,
			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {
				var that = this;
				//根据屏幕显示
				var width = $(window).width();

				var height = $(window).height();

				var totalHeight = that.headerHeight + that.headerAccupt + 105;

				var pnum = Math.ceil((height - totalHeight) / that.postsHeight);
				var gnum = Math.ceil((height - that.headerHeight - 105) / that.planetsHeight);
				var time = Math.floor(width / that.planetsWidth);
				alert(time);
				that.searchAction.on('touchend',function(e){
					e.preventDefault();
					var inputtext = that.searchInput.val();
					global.subData('/searchContent',{
						text : that.searchInput.val(),
						gnum : 5,
						pnum : 2 + pnum,
					},function(data){
						if(data.ret === 200){
							if(data.data){
								var groups = data.group;
								var posts = data.posts;
								var group_page = data.group_page;
								var posts_page = data.posts_page;
								var curr_page = data.g_current_page;

								var planetsTPL = template("planets-tpl",data.data);
								var postsTPL = template("posts-tpl",data.data);
								that.searchContainer.empty();
								that.searchContainer.append(planetsTPL);
								that.searchContainer.append(postsTPL);
								$('.get-more-planets').on('touchend',
								function(e){
										e.preventDefault();
									global.subData('/searchContent',{
										text : inputtext,
										gnum : (2 + gnum)*time,
										pnum : 0,
									},function(data){
										if(data.ret===200){
											if(data.data){
												that.searchContainer.empty();
												var allPlanetsTPL = template("showallplanets-tpl",data.data);
												that.searchContainer.append(allPlanetsTPL);
											}
										}else{
											alert('错误');
										}
									});
									
								});
							}
						}else{
							alert("搜索错误！");
						}
					});
				});
			},
			init: function() {
				var that = this;
				that.bindEvent();
			}
		}
		search.init();
	})();
</script>
<%- include base/footerMobile.ejs %>