<%- include base/headerMobile.ejs %>
<nav class="personal-navbar">
        <div class="personal-navbar-brand">
            <h1>
                确认验证
            </h1>
        </div>
</nav>
<div class="verifymail-content"></div>
<%- include base/baseJSMobile.ejs %>
<script type="text/javascript">
	(function(){
		var users={
			token:"<%=token%>"
		};
		global.getData('/users/verifyusermail/sub?token='+users.token,function(data){
			if(data.data.code==1){
				sweetAlert('成功',data.msg,'success');
			}else{
				sweetAlert('失败',data.msg,'error');
			}
		});
	})();
</script>
<%- include base/footerMobile.ejs %>