<%- include base/header.ejs %>
<div class="main">
    <div class="login">
        <form class="login-form line-form"  method="post">
            <div class="login-group line-fgroup">
                <label for="email" class="label-code"></label>
                <input type="text" name="code" placeholder="验证码" id="code">
            </div>
            <button type="submit">确认</button>
        </form>
    </div>
</div>
<%- include base/baseJS.ejs %>
<script type="text/javascript">
    var verify = {
        code:$("#code"),
        verifyForm: $(".login-form"),
        loading: $(".loading"),
        verificate: function() {
            if (this.code.val().length == 0) {
                sweetAlert('格式错误', '请填验证码！', 'warning');
                return false;
            }
            return true;
        },
        bindEvent: function() {
            var self = this;
            self.verifyForm.submit(function(event) {
                event.preventDefault();
                if (self.verificate()) {
                    self.loading.show();
                    global.subData('',{
                        email: self.email.val(),
                        password: self.pw.val()
                    },function(data){
                        console && console.log(data);
                        self.loading.hide();
                        if (data.ret == 200 && data.data) {
                            if (data.data.code == 1) {
                                window.location.href = '/'; //登录成功
                            } else {
                                sweetAlert('提示', data.data.msg, 'warning');
                            }
                        } else {
                            sweetAlert('错误', data.msg, 'error');
                        }
                    });
                }
            });
        },
        init: function() {
            this.bindEvent();
        }
    }
    verify.init();
</script>
<%- include base/footer.ejs %>