
/*文章*/
.chapter{
    padding:0.305556rem 0 0.240741rem;
    border-bottom: 1px solid #e8e8e8;
}
[data-dpr="2"] .chapter{
    border-bottom-width: 2px;
}
[data-dpr="3"] .chapter{
    border-bottom-width: 3px;
}
.chapter>h2{
    font-size: 0.462963rem;
    margin-bottom: 0.185185rem;
    font-weight: bold;
}
.chapter>h2>a{
    color:#363636;
}
/*列表正文*/
.chapter-text{
    font-size: 0.37037rem;
    margin-bottom: 0.231481rem;
    color:#5c5c5c;
    word-wrap: break-word;
    text-overflow: ellipsis;
    /*white-space: pre-wrap;*/
}
.chapter-img{
    position: relative;
    margin-bottom: 0.37037rem;
}
.chapter-img img{
    width:2.12963rem;
    height:2.12963rem;
}
.chapter-img>a:first-child{
    float:left;
}
.chapter-img>a:nth-child(2){
    position: absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);        
    top:0;
}
.chapter-img>a:nth-child(3){
    float:right;
}
.chapter-info{
    font-size: 0.333333rem;
    color:#a7a7a7;
}
.chapter-info a{
    color:#a7a7a7;
}
.cha-time{
    float:right;
    margin-right: 0.092593rem;
}
@media (min-width:768px){
    .chapter{
        padding:17px 0 7px;
    }
    .chapter>h2{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .chapter>h2>a{
        color:#5ab8fe;
    }
    /*列表正文*/
    .chapter-text{
        font-size: 14px;
        color:#5c5c5c;
        margin-bottom: 9px;
    }
    .chapter-img{
        margin-bottom: 10px;
    }
    .chapter-img img{
        width:100px;
        height:100px;
    }
    .chapter-img>a{
        float:left !important;
        position: static !important;
        margin-right: 35px;
        transform:none !important;
    }
    .chapter-info{
        font-size: 12px;
        color:#999999;
    }
    .chapter-info a{
        color:#999999;
    }
    .cha-time{
        margin-right: 0;
    }
}