html,body{
    height:100%;
}
body{
    font-family: 'Microsoft YaHei',sans-serif;
    line-height: 1.5;
    margin:0;
}
button{
    outline: none;
    border:none; 
}
input,textarea,button{
   font-family: 'Microsoft YaHei',sans-serif; 
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1,h2,h3,h4,h5,p,ul,li{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
*{
    box-sizing: border-box;
}
:before,:after{
    box-sizing: border-box;
}
.clearfix:before,.clearfix:after,.container:before,.container:after,.row:before,.row:after,.navbar:before,.navbar:after,.main:before,.main:after{
    display:table;
    content: "";
}
.clearfix:after,.row:after,.container:after,.navbar:after{
    clear:both;
}
.col-sm-4{
    width:33.33333333%;
    float:left;
}
.col-sm-3{
    width:25%;
    float:left;
}
/*文本单行超出省略号表示*/
.text-ellipsis{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.all-wrapper{
    position: relative;
    background-color: #f6fafb;
    height:100%;
}

/*******************************
**********移动端导航条*********
*********************************/
.navbar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:1.133333rem;
    text-align: center;
    background-color: #5ab8fe;
    color:#fff;
    -webkit-transition: left .15s linear; 
    transition: left .15s linear;
    z-index: 1;
}
.navbar h1{
    font-size: 0.56rem;
    line-height: 1.133333rem;
}
/*导航折叠按钮*/
.navbar-toggle{
    position: absolute;
    display:block;
    padding: 0 0.466667rem ;
    width:1.466667rem;
    left:0;
    top:0;
    bottom:0;
    cursor: pointer;
    background: url(../images/navBtn_03.png) no-repeat ;
    background-position: center;
    background-size: 0.613333rem 0.4rem;
    background-color: inherit;
}
/****************************
******移动端侧栏*
****************************/
.sidebarContainer{
    height:100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    overflow-y: auto; 
    background-color: #53aaeb; 
}
.sidebar{
    width:5.546667rem;
    background-color: #53aaeb;
    color:#fff;
    min-height: 100%;
    text-align: center;
    overflow-y: auto;
    position: relative;
    padding-bottom: 1.333333rem;
   /* z-index: 1;*/
}
.sidebar>h1{
    font-size: 0.64rem;
    height:3.6rem;
    line-height: 3.6rem;
    border-bottom: 1px solid ;
}
[data-dpr="2"] .sidebar>h1{
    border-bottom-width: 2px;
}
[data-dpr="3"] .sidebar>h1{
    border-bottom-width: 3px;
}
/*文字前方小图标*/
.navbar-icon:before{
    display:inline-block;
    content:'';
    vertical-align: bottom;
    background-size: 100% 100%;
}
/*侧栏选项*/
.navbar-option{
    padding:0.173333rem 0 0 0.373333rem;
    text-align: left;
    margin-bottom: 3.04rem;
    font-size:0.453333rem;
}
.navbar-option>li{
    padding:0.373333rem 0 ;
    border-bottom:1px solid;
}
[data-dpr="2"] .navbar-option>li{
    border-bottom-width: 2px;
}
[data-dpr="3"] .navbar-option>li{
    border-bottom-width: 3px;
}
.navbar-option-item{
    display:block;
    position: relative;
    height:0.533333rem;
    line-height: 0.533333rem;
    color:#fff;
}
.navbar-option-item:before{
    width:0.533333rem;
    height:0.533333rem;
    margin-right: 0.138889rem;
}
.navbar-option>li:nth-child(1) .navbar-option-item:before{
    background-image: url(../images/navbar-icons_03.png);
}
.navbar-option>li:nth-child(2) .navbar-option-item:before{
    background-image: url(../images/navbar-icons_06.png);
}
.navbar-option>li:last-child .navbar-option-item:before{
    background-image: url(../images/navbar-icons_09.png);
}
/*折叠账户*/
.navbar-account>li{
    margin-bottom: 0.37037rem;
    font-size: 0.462963rem; 
}
.navbar-account-item{
    display:block;
    width:3.703704rem;
    padding:0.185185rem 0 ;
    border-radius: 9px; 
    line-height: 0.509259rem;
    margin:0 auto;
}
a.navbar-account-item,button.navbar-account-item{
    background-color: #fff;
    color:#53aaeb;
    font-size: 0.462963rem; 
}
span.navbar-account-item{
    background-color: #5ab8fe;
    color:#fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
[data-dpr="2"] .navbar-account-item{
    border-radius: 18px;
}
[data-dpr="3"] .navbar-account-item{
    border-radius: 27px;
}
.navbar-account-item:before{
    /*height:0.5rem;*/
    height:0.509259rem;
    width:0.518519rem;
    margin-right: 0.166667rem;
}
.aNLog:nth-child(1) .navbar-account-item:before{
    background-image: url(../images/navbar-icons_02.png);
}
.aNLog:nth-child(2) .navbar-account-item:before{
    background-image: url(../images/navbar-icons_04.png);
}
.aLogged:nth-child(1) .navbar-account-item:before{
    background-image: url(../images/navbar-icons_05.png);
}
.aLogged:nth-child(2) .navbar-account-item:before{
    background-image: url(../images/exit_03.png);
}
.nav-anone{
    display:none;
}
.nav-ahidden{
    visibility: hidden;
}

/*************************
**********主栏*****
***************************/
.main{
    padding: 1.133333rem 0.466667rem 0;
    position: relative;
    left:0;
    background-color: inherit;
    -webkit-transition: left .15s linear; 
    transition: left .15s linear;
    width:100%;
    min-height: 100%;
}
.main-page{
    padding-bottom: 1.866667rem;
    position: relative;
}
/**************
*****折叠状态****
***************/
/*侧栏出现时main上层遮罩*/
.sidebar-extend .mask{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 1;
}
.sidebar-extend .main,.sidebar-extend .navbar{
     left:5.546667rem; 
    -webkit-animation: open .35s ease-in-out;
    animation: open .35s ease-in-out;
}
@-webkit-keyframes open {
    0%      {left:0;}
    70%    {left:6.5rem;}
    100%  {left:5.546667rem;}
}
@keyframes open {
    0%      {left:0;}
    70%    {left:6.5rem;}
    100%  {left:5.546667rem;}
}

/********************
*********当前位置***
*******************/
.location{
    padding:0.62963rem 0 0.351852rem;
}
.location>h1{
    font-size: 0.64rem;
    line-height: 1;
    float: left; 
    color:#5ab8fe; 
}
.location>h1>a{
   color:#5ab8fe; 
}
.location>button,.location>a{
    display:inline-block;
    color:#f6fafb;
    font-size: 0.333333rem;
    padding:0 0.2rem;
    height:0.64rem;
    line-height: 0.64rem;
    background-color: #5ab8fe;
    float:right;
    border-radius: 5px 5px;
}
[data-dpr="2"] .location>a,[data-dpr="2"] .location>button{
    border-radius: 10px 10px;
}
[data-dpr="3"] .location>a,[data-dpr="2"] .location>button{
    border-radius: 15px 15px;
}
/******************
********翻页模块***
*******************/
.page-turn{
    font-size: 0.453333rem;
    line-height: 1;
    color:#949494;
    text-align: center;
}
.page-turn>span{
    margin:0 0.4rem;
}
.page-turn button{
    font-size: 0.453333rem;
    line-height: 1;
    color:#5ab8fe;
    margin:0 0.4rem;
    padding:0;
    background-color: inherit;
    cursor:pointer;
}
/*不可点击的翻页*/
button.unCBtn{
    color:#bababa;
    cursor:default;
}
.main-page>.page-turn{
    position: absolute;
    bottom:0;
    width:100%;
    left:0;
    padding:0.48rem 0 0.933333rem;
}

/***************
*******空白页****
*****************/
.emptyPage{
    color:#cccccc;
    font-size: 0.48rem;
    text-align: center;
    position: absolute;
    width:100%;
    top:50%;
    left:0;
}
/****************
*********文章*****
******************/
.chapter{
    padding:0.305556rem 0 0.240741rem;
    border-bottom: 1px solid #e8e8e8;
}
[data-dpr="2"] .chapter{
    border-bottom-width: 2px;
}
[data-dpr="3"] .chapter{
    border-bottom-width: 3px;
}
.chapter>h2{
    font-size: 0.453333rem;
    margin-bottom: 0.185185rem;
    font-weight: bold;
}
.chapter>h2>a{
    color:#363636;
}
/*列表正文*/
.chapter-text{
    font-size: 0.373333rem;
   /* margin-bottom: 0.231481rem;*/
    color:#5c5c5c;
    word-wrap: break-word;
}
/*列表图片*/
.chapter-img{
    position:relative;
}
.chapter-img img{
    width:2.133333rem;
    height:2.133333rem;
    margin-bottom: 0.2rem;
    margin-top: 0.231481rem;
}
.chapter-img img:first-child{
    float:left;
}
.chapter-img img:nth-child(2){
    position: absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);        
    top:0;
}
.chapter-img img:nth-child(3){
    float:right;
}
/*列表信息*/
.chapter-info{
    font-size: 0;
    color:#a7a7a7;
    margin-bottom: 0.333333rem;
}
.chapter-info span{
    font-size: 0.333333rem;
    line-height: 0.5rem;
    height:0.5rem;
}
.chapter-info a{
    color:#a7a7a7;
   /* display:inline-block;*/
}
.chapter-info .text-ellipsis{
    display:inline-block;
    max-width: 2.133333rem;
    vertical-align: bottom;
}
.cha-icon{
    display:inline-block;
    vertical-align: bottom;
    margin-left: 0.4rem;
    margin-right: 0.066667rem;
    width:0.5rem;
    height:0.5rem;
    background:url(../images/cp_03.png) no-repeat;
    background-size: 100% 100%;
}
.cha-time{
    float:right;
    margin-right: 0.092593rem;
}


/*************************
*********全部星球********
************************/
/*星球单条选项*/
.planet{
    padding:0.4rem 0.506667rem 0.8rem;
}
.planet-item{
    margin-bottom: 0.426667rem;
}
.planet-pic{
    margin-right: 0.64rem;
    float:left;
}
.planet-pic img{
    width:1.466667rem;
    height:1.466667rem;
}
.planet-info{
    color:#bbbbbb;
    font-size: 0.32rem;
}
.planet-info h2{
    font-size: 0.453333rem;
    line-height: 0.466667rem;
    margin-bottom: 0.04rem;
    color:#5ab8fe;  
}
.planet-info a{
    color:#5ab8fe;    
}
.planet-info p{
    font-size: 0.32rem;
    height:0.96rem;
    line-height: 0.48rem;
    overflow:hidden;
}
/************************
登陆注册及创建星球底线表单
*************************/
.line-form .line-fgroup{
    position: relative;
    border-bottom: 1px solid #5ab8fe;
}
[data-dpr="2"] .line-form .line-fgroup{
    border-bottom-width: 2px;
}
[data-dpr="3"] .line-form .line-fgroup{
    border-bottom-width: 3px;
}
.line-form label{
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:0;
    left:0;
    cursor:pointer;
}
.line-form input{
    border:none;
    width:100%;
    background-color: transparent;
    color:#b4b4b4;
}
.line-form button[type="submit"]{
    width:100%;
    background-color: #5ab8fe;
    color:#f6fafb;
    border-radius: 5px;
    cursor:pointer;
}
[data-dpr="2"] .line-form button[type="submit"]{
    border-radius: 10px;
}
[data-dpr="3"] .line-form button[type="submit"]{
    border-radius: 15px;
}
/********************
****创建星球**********
**********************/
.create-p{
    padding:0.866667rem 0 2.0rem;
}
/*星球说明等标题*/
.create-p h4{
    font-size: 0.373333rem;
    line-height: 1;
    color:#b4b4b4;
    font-weight: normal;
}
.cp-form{
    width:8.533333rem;
    margin:0 auto;
}
/*输入星球名字*/
.cp-group{
    padding-bottom: 0.08rem;
    margin-bottom: 0.933333rem;
}
.cp-group label{
    width:0.64rem;
    height:0.64rem;
    background-image:url(../images/cp_03.png); 
}
.cp-group input{
    font-size: 0.373333rem;
    line-height: 0.64rem;
    height:0.64rem;
    padding-left: 0.933333rem;
}
/*创建星球按钮*/
.cp-form button[type="submit"]{
    font-size: 0.466667rem;
    line-height: 1.5;
    padding:0.24rem 0;
}
/*上传星球头像*/
.upPIcon{
    margin-bottom: 0.96rem;
}
.upPIcon h4{
    margin-bottom: 0.426667rem;
}
.upPIcon button{
    display:block;
    margin:0 auto;
    padding:0;
    border: 2px solid #5ab8fe;
    width:1.413333rem;
    height:1.413333rem;
    background-color: inherit;
    color:#5ab8fe;
    font-size: 0.533333rem;
    cursor:pointer;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
[data-dpr="2"] .upPIcon button{
    border-width: 4px;
}
[data-dpr="3"] .upPIcon button{
    border-width: 6px;
}
/*星球说明*/
.cp-des{
    margin-bottom: 1.333333rem;
}
.cp-des h4{
    margin-bottom: 0.426667rem;
}
.cp-des textarea{
    height:3.4rem;
}
/*******************
******登陆和注册***********
******************/
.login{
    position: absolute;
    top:50%;
    left:0;
    right:0;
    width:7.066667rem;
    margin: 0 auto ;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);  
}
.login-group{
    padding-bottom: 0.2rem;
    margin-bottom:0.426667rem;
}
.login-group label{
    width:0.64rem;
    height:0.64rem;
}
.lable-name{
    background-image: url(../images/login_01.png);
}
.lable-e{
    background-image: url(../images/login_03.png);
}
.label-paw{
    background-image: url(../images/login_06.png);
}
.login-group input{
    font-size: 0.373333rem;
    line-height: 0.64rem;
    height:0.64rem;
    padding-left: 1.133333rem;   
}

.login-form button[type="submit"]{  
    font-size: 0.453333rem;
    line-height: 1.2;
    padding:0.266667rem 0 ;
    margin-top:0.853333rem;
}
.login-form a{
    font-size: 0.32rem;
    color:#5ab8fe;
}
/*******************
****各种帖子中的表单***
*******************/
.form-control{
    display:block;
    width:100%;
    font-size:0.373333rem;
    line-height: 1.5;
    padding:0.293333rem;
    color:#b4b4b4;
    background-color: #f6fafb;
    border:1px solid #ccc;
    border-radius: 8px 7px;
}
[data-dpr="2"] .form-control{
    border-width: 2px;
    border-radius: 16px 14px;
}
[data-dpr="3"] .form-control{
    border-width: 3px;
    border-radius: 24px 21px;
}
.form-control:focus{
    border-color: #5ab8fe;
    outline:0;
    box-shadow: inset 0 0 2px 1px #5ab8fe,0 0 2px  #5ab8fe;
}
[data-dpr="2"] .form-control:focus{
    box-shadow: inset 0 0 4px 2px #5ab8fe,0 0 4px  #5ab8fe;
}
[data-dpr="3"] .form-control:focus{
    box-shadow: inset 0 0 6px 4px #5ab8fe,0 0 6px  #5ab8fe;
}
.post-sub{
    width:100%;
    background-color: #5ab8fe;
    color:#f6fafb;
    border-radius: 9px 8px;
    font-size: 0.453333rem;
    line-height: 1.5;
    padding:0.266667rem 0;
    cursor:pointer;
}
[data-dpr="2"] .post-sub{
    border-radius: 18px 16px;
}
[data-dpr="3"] .post-sub{
    border-radius: 27px 24px;
}
textarea.form-control{
    resize: none;
    word-wrap: break-word;
    white-space: pre-wrap;
}

/*******************
帖子详情
*******************/
.post-detail{
    padding:0.4rem 0 0.933333rem;
}
/*帖子内容模块*/
.post-md{
    margin-bottom: 0.533333rem;
}
.post-title{
    font-size: 0.56rem;
    color: #363636;
    margin-bottom: 0.36rem;
}
.post-info{
    font-size: 0.32rem;
    color:#a7a7a7;
    margin-bottom: 0.373333rem;
}
.post-info .text-ellipsis{
    display:inline-block;
    max-width: 2.133333rem;
    vertical-align: bottom;
}
.postIn{
    display:inline-block;
    margin:0 0.133333rem;
}
.post-info a{
    color:#a7a7a7;
}
.post-time{
    float: right;
}
.post-content{
    word-wrap: break-word;
    font-size: 0.373333rem;
    color:#5c5c5c;
    margin-bottom: 0.866667rem;
}
.post-content img{
    max-width: 100%;
}
.post-opt{
    margin-right: -0.186667rem;
    margin-left: -0.186667rem;
    text-align: right;
}
.post-opt-item{
    font-size: 0.426667rem;
    color:#5ab8fe;
    display: inline-block;
    padding:0 0.186667rem;
    background-color: inherit;
    cursor:pointer;
}
/*帖子回复*/
.post-comment{
    margin-bottom: 0.72rem;
}
.post-comment>h2{
    color:#a7a7a7;
    font-size: 0.453333rem;
    line-height: 1.2;
    margin-bottom: 0.746667rem;
}
/*单条回复*/
.post-cm-item{
    padding:0.373333rem 0 0.266667rem;
    border-bottom: 1px solid #e8e8e8;
}
[data-dpr="2"] .post-cm-item{
    border-bottom-width: 2px;
}
[data-dpr="3"] .post-cm-item{
    border-bottom-width: 3px;
}
/*回复信息*/
.post-cm-info{
    font-size: 0.373333rem;
    color:#363636;
    margin-bottom: 0.146667rem;
}
.post-cm-info a{
    color:#363636;
}
.post-cm-time{
    float:right;
}
/*回复内容*/
.post-cm-content{
    font-size: 0.373333rem;
    word-wrap: break-word;
    white-space: pre-wrap;
    color:#5b5b5b;
}
/*回复内容的翻页*/
.post-comment .page-turn{
    padding:0.533333rem 0 0;
    text-align: right;
    font-size: 0;
}
.post-comment .page-turn span,.post-comment .page-turn button{
    margin:0 0.386667rem;
    font-size: 0.4rem;
}
/*我的回复*/
.my-comment>h2{
    color:#5ab8fe;
    font-size: 0.56rem;
    margin-bottom: 0.4rem;
}
/*表单*/
.post-detail-form textarea{
    margin-bottom: 1.2rem;
    height:3.466667rem;
}
/******************
创建及编辑帖子
******************/
.post-form input{
    margin-bottom: 0.48rem;
}
.post-form textarea{
    height:6.666667rem;
    margin-bottom: 1.173333rem;
}
.post{
    margin:1.333333rem 0 2.666667rem;
}
/***********************
********我的星球星球标签**
***************************/
.myPGroups{
    padding-bottom: 0.053333rem;
    border-bottom:1px solid #e6e6e6;
}
[data-dpr="2"] .myPGroups{
    border-bottom-width: 2px;
}
[data-dpr="3"] .myPGroups{
    border-bottom-width: 3px;
}
.myPGroup h2{
    font-size: 0.4rem;
    line-height: 0.666667rem;
    height:0.666667rem;
    color:#5ab8fe;
    margin-bottom: 0.306667rem;
}
.myPGroup h2 a{
    display:inline-block;
    width:0.666667rem;
    height:0.666667rem;
    background: url(../images/morePm_03.png) no-repeat;
    background-size: 100% 100%;
    float:right;
    vertical-align: top;
}
.planetTags{
    padding-bottom: 0.106667rem;
}
.planetTag{
    margin-bottom: 0.24rem;
    width:47%;
}
.planetTag:nth-of-type(2n+1){
    float:left;
}
.planetTag:nth-of-type(2n){
    float:right;
}
.planetTag a{
    display:block;
    font-size: 0.426667rem;
    line-height: 0.533333rem;
    color:#ffffff;
    background-color: #5ab8fe;
    border-radius: 4px;
    text-align: center;
    padding:0.266667rem 0; 
}
[data-dpr="2"] .planetTag a{
    border-radius: 8px;
}
[data-dpr="3"] .planetTag a{
    border-radius: 12px;
}
/***********************
********我加入的星球页面***
************************/
.myJoinMd{
    padding-bottom: 0.426667rem;
}