a {
    text-decoration: none;
}
.hjpage-box {
    display: flex;
    justify-content: center;
}
.hjpage-box span, .hjpage-box a {
    margin: 15px;
}
.hjpage-box span > a {
    margin: 0;
}
.hjpage-box > a {
    font-family:PingFangHK-Medium;
    font-size:14px;
    color:#000000;
    text-align:justify;
}
.hjpage-box > span {
    font-family:PingFangHK-Medium;
    font-size:14px;
    color:#8a94a9;
    text-align:justify;
}