.hjnotice-container {
    position: fixed;
    width: 350px;
    z-index: 100;
}
.hjnotice-container.top {
    top: 10%;
    right: 50%;
    margin-right: -175px; 
}
.hjnotice-container.right {
    top: 10%;
    right: 0;  
}
.hjnotice-container.bottom {
    top: 60%;
    right: 50%;
    margin-right: -175px;
}
.hjnotice-container.left {
    top: 10%;
    left: 0;  
}
.hjnotice-container .hjnotice-item {
  position: relative;
  font: 500 16px/1.8 "Georgia","Xin Gothic","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
  background: #fefefe;
  background: rgba(255,255,255,0.9);
  color: #565656;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
  text-align: center;
}
.hjnotice-item {
    margin: 10px 0;
    transition: all 1s ease-in-out;
}
/* colors from bootstrap */
.hjnotice-container .success,
.hjnotice-container .ok {
  background: #5cb85c;
  background: rgba(92, 182, 92, 0.9);
  border-color: #5cb85c;
  color: #fff;
}
.hjnotice-container .warning,
.hjnotice-container .warn {
  background: #f0ad4e;
  background: rgba(240, 173, 78, 0.9);
  border-color: #f0ad4e;
  color: #fff;
}
.hjnotice-container .danger,
.hjnotice-container .error {
  background: #d9534f;
  background: rgba(217, 83, 79, 0.9);
  border-color: #d9534f;
  color: #fff;
}
.hjnotice-container .info,
.hjnotice-container .blue {
  background: #5bc0de;
  background: rgba(91, 192, 222, 0.9);
  border-color: #5bc0de;
  color: #fff;
}

.hjnotice-container .hjnotice-content {
  color: inherit;
  text-decoration: none;
  margin: 0 auto;
  max-width: 650px;
}
.hjnotice-container .hjnotice-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font: 400 normal 22px/1.3 "Arial", sans-serif;
}
.hjnotice-container.top .hjnotice-dismiss {
  opacity: 0;
}
.hjnotice-container.right .hjnotice-dismiss {
  transform: translateX(100px);
  opacity: 0;
}
.hjnotice-container.bottom .hjnotice-dismiss {
  opacity: 0;
}
.hjnotice-container.left .hjnotice-dismiss {
  transform: translateX(-100px);
  opacity: 0;
}