.post-detail{
    padding:0.25rem 0 0.833333rem;
}
/*帖子内容模块*/
.post-md{
    margin-bottom: 0.296296rem;
}
.post-title{
    font-size: 0.555556rem;
    color: #363636;
    margin-bottom: 0.185185rem;
}
.post-info{
    font-size: 0.333333rem;
    color:#a7a7a7;
    margin-bottom: 0.37037rem;
}
.post-info a{
    color:#a7a7a7;
}
.post-time{
    float: right;
}
.post-content{
    word-wrap: break-word;
    /*white-space: pre-wrap;*/
    font-size: 0.37037rem;
    color:#5c5c5c;
    /*padding: 0 0.277778rem 0.898148rem;*/
    margin-bottom: 0.898148rem;
}
.post-opt{
    font-size: 0.425926rem;
    margin-right: -0.166667rem;
    margin-left: -0.166667rem;
    text-align: right;
}
.post-opt-item{
    color:#5ab8fe;
    display: inline-block;
    padding:0 0.166667rem;
}
/*帖子回复*/
.post-comment{
    margin-bottom: 0.462963rem;
}
.post-comment>h2{
    color:#a7a7a7;
    font-size: 0.462963rem;
    line-height: 1.2;
    margin-bottom: 0.203704rem;
}
/*单条回复*/
.post-cm-item{
    padding:0.333333rem 0 0.222222rem;
    border-bottom: 1px solid #e8e8e8;
}
[data-dpr="2"] .post-cm-item{
    border-bottom-width: 2px;
}
[data-dpr="3"] .post-cm-item{
    border-bottom-width: 3px;
}
/*回复信息*/
.post-cm-info{
    font-size: 0.37037rem;
    color:#363636;
    margin-bottom: 0.046296rem;
}
.post-cm-info a{
    color:#363636;
}
.post-cm-time{
    float:right;
}
/*回复内容*/
.post-cm-content{
    font-size: 0.37037rem;
    word-wrap: break-word;
    white-space: pre-wrap;
    color:#5b5b5b;
}
/*回复内容的翻页*/
.post-comment .page-turn{
    padding:0.37037rem 0 0;
    text-align: right;
    font-size: 0.425926rem;
}
/*我的回复*/
.my-comment{
    
}
.my-comment>h2{
    color:#5ab8fe;
    font-size: 0.555556rem;
    margin-bottom: 0.231481rem;
}
/*表单*/
.post-detail-form textarea{
    margin-bottom: 1.157407rem;
    height:3.472222rem;
}

@media (min-width:768px){
    .post-detail{
        padding:22px 0 93px;
    }
    /*帖子内容模块*/
    .post-md{
        margin-bottom: 68px;
    }
    .post-title{
        font-size:24px;
        margin-bottom: 0;
    }
    .post-info{
        font-size: 12px;
        margin-bottom: 9px;
    }
    .post-content{
        font-size: 14px;
        margin-bottom: 23px;
    }
    .post-opt{
        font-size: 18px;
        margin-right: -5px;
        margin-left: -5px;
    }
    .post-opt-item{
        padding:0 5px;
    }
    /*帖子回复*/
    .post-comment{
        margin-bottom: 20px;
    }
    .post-comment>h2{
        font-size: 18px;
        margin-bottom: 0;
    }
    .post-cm-item{
        padding:13px 0 4px;
    }
    .post-cm-info{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .post-cm-content{
        font-size: 12px;
    }
    /*帖子回复翻页*/
    .post-comment .page-turn{
        padding:10px 0 0;
        font-size: 16px;
    }
    /*我的回复*/
    .my-comment{
    
    }
    .my-comment>h2{
        font-size: 18px;
        margin-bottom: 14px;
    }
    /*表单*/
    .post-detail-form textarea{
        margin-bottom: 20px;
        height:161px;
    }
}