/* Layout */
$nav-height: 55px;

$title-font-size: 20px;

/* Form */
$form-input-height: 46px;
$form-input-font-size: 17px;
$form-input-placeholder-font-size: 12px;

/* Article */
$article-title-font-size: 16px;
$article-p-font-size: 12px;


$wl-blue: #5677fc;
$wl-blue-hover: #a9baff;
$wl-blue-active: #2953fc;