@import './variables.scss';

$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;

$panGreen: #30B08F;

@mixin colorBtn($color) {
  background: $color;
  &:hover {
    color: $color;
    &:before, &:after {
      background: $color;
    }
  }
}

button {
  transition: all 0.3s ease-in-out;
  &:focus {
    outline: none;
  }
}

// wuan button
button.wuan-button {
  background:#5677fc;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.28);
  border-radius:2px;
  border: none;
  padding: 7px;

  font-size:12px;
  color:#ffffff;
  &:hover {
    background: #3d53cf;
  }
}

button.func-button {
  background:#1b87f6;
  border-radius:4px;
  border: none;
  padding: 7px;

  font-size:12px;
  color:#ffffff;
  &:hover {
    background: #4db3ff;
  }
}

button.func-button.disabled {
  background: #d3d3d3;
  pointer-events: none;
}


button.wuan-loading {
  position: relative;
  pointer-events: none;
  &:before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: inherit;
    background-color: hsla(0,0%,100%,.35)
  }
}