 //覆盖一些element-ui样式
.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 8px;
  }
}

.small-padding {
  .cell {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;
    .el-tag {
      margin-right: 0px;
    }
  }
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}


// header avatar container part
.el-dropdown-menu.user-dropdown {
  border: none;
  margin: 0 0 -3px 0;
  padding: 0;
  width: 114px;
  background:#0074e9;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.26);
  border-radius:0 0 2px 2px;
}

// popover in post
.reviewPopover {
  margin-left: -5px;
  background:#ffffff;
  border:1px solid #97bce1;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.24);
  border-radius:4px 0 0 0 0 4px 4px 4px;
  padding: 16px 0;
  text-align: center;
  .popper__arrow {
    margin-left: 25px;
  }
}

//input表单
.form-inputy{
  label{
    float:none;
    font-size: 12px;
    margin-left: 145px;
    font-family:PingFangSC-Regular;
    color:#666666;
  }
  input{
    padding-left: 10px;
    margin-left: 45px;
    margin-top: 8px;
    width: 370px;
    height:60px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.28);
    border-radius:2px;
  }
  .el-form-item__error{
    margin-left: 50px;
  }
}
.form-btny{
  button{
    background:#5677fc;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.28);
    border-radius:2px;
    width:130px;
    height:36px;
    margin-left: 165px;
    font-family:PingFangSC-Regular;
    font-size:16px;
    color:#ffffff;
    margin-top: 36px;
  }
}
//创建星球表单，与修改星球信息可以复用
.form-inputc{
  label{
    float:none;
    font-family:PingFangSC-Regular;
    font-size:12px;
    color:#666666;
  }
  .el-input,textarea{
    margin-left: -100px;
    margin-top: 8px;
  }
  .resize-triggers{
    margin-left: -100px;
    margin-top: 8px;
  }
  .el-input__icon{
    margin-left: -200px;
  }
  .el-form-item__error{
    margin-left: -100px;
  }
  .name input{
    background:#ffffff;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.28);
    border-radius:2px;
    width:600px;
    height:60px;
  }
  .intro textarea{
    background:#ffffff;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.28);
    border-radius:2px;
    width:600px;
    height:120px;
    resize: none;
    padding-top: 18px;
    padding-left: 12px;
  }
  .join-c{
    input{
      height:60px;
    }
   .el-input{
    background:#ffffff;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.28);
    border-radius:2px;
    width:240px;
    height:60px;
    }
  }
  .el-button{
    margin-left: -100px;
    width: 124px;
  }
}
.el-scrollbar{
  width:240px;
  height:100px;
  ul{
    padding-top: 0px;
  li{
    padding-top: 16px;
    height: 50px;
   }
  }
}

//个人资料样式
.personalData-container{
    .el-form-item__label{
      font-family:PingFangHK-Semibold;
      font-size:16px;
      color:#000000;
      line-height: 22px;
    }
    .el-input__inner{
      font-family:PingFangHK-Regular;
      font-size:16px;
      color:#000000;
      background:#f2f2f2;
      border:1px solid #d8d8d8;
      border-radius:2px;
      padding: 6px 10px;
    }
    .el-input__inner::-webkit-input-placeholder{
      font-family:PingFangHK-Regular;
      font-size:16px;
      color:#000000;
    }
    .el-radio__label{
      font-family:PingFangHK-Semibold;
      font-size:16px;
      color:#000000;
    }
    .el-radio__inner{
      border:3px solid #979797;
      width:14px;
      height:14px;
      border-radius:100%;
    }
    .is-checked{
      .el-radio__inner{
        border:5px solid #20a0ff;
        width:14px;
        height:14px;
        border-radius:100%;
        &::after{
          width: 4px;
          height: 4px;
        }
      }
    }
    .birthday-input{
      position: relative;
      > .el-input__inner{
        padding: 0;
        border: none;
        background: #FFFFFF;
        font-family:PingFangHK-Semibold;
      }
      > .el-input__icon{
        border-right: 9px solid #5677fc;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        width:0px;
        height:11px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        &::before{
          content: "";
        }
      }
    }
}
