 //覆盖一些element-ui样式
.block-checkbox {
  display: block;
}

.operation-container {
  .cell {
    padding: 10px !important;
  }
  .el-button {
    &:nth-child(3) {
      margin-top: 10px;
      margin-left: 0px;
    }
    &:nth-child(4) {
      margin-top: 10px;
    }
  }
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 8px;
  }
}

.small-padding {
  .cell {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;
    .el-tag {
      margin-right: 0px;
    }
  }
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}


//文章页textarea修改样式
.article-textarea {
  textarea {
    padding-right: 40px;
    resize: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #bfcbd9;
  }
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// tab style
section.app-main {
  .el-tabs {
    .el-tabs__header {
      border: none;
      .el-tabs__active-bar {
        display: none;
      }
      .el-tabs__item {
        font-size:18px;
        color:#999999;
        margin-right: 22px;
        padding: 0;

        transition: all .28s ease-in-out;
        // animation for active
        &:after {
          content: '';
          height: 2px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background-clip: content-box;
          background-color: #5677fc;

          transform: scaleX(0);
          transition: all .4s ease-in-out;
        }
      }
      .el-tabs__item.is-active {
        font-size:18px;
        color:#5677fc;
        &:after { 
          transform: scaleX(1);
        }
      }
    }
    .el-tabs__content {
      .el-tab-pane {
      }
    }
  }
}

// header avatar container part
.el-dropdown-menu.user-dropdown {
  border: none;
  margin: 0 0 -3px 0;
  padding: 0;
  width: 114px;
  background:#0074e9;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.26);
  border-radius:0 0 2px 2px;
}

// popover in post
.reviewPopover {
  margin-left: -5px;
  background:#ffffff;
  border:1px solid #97bce1;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.24);
  border-radius:4px 0 0 0 0 4px 4px 4px;
  padding: 16px 0;
  text-align: center;
  .popper__arrow {
    margin-left: 25px;
  }
}

//input表单
.form-inputy{
  label{
    float:none;
    font-size: 12px;
    margin-left: 145px;
    font-family:PingFangSC-Regular;
    color:#666666;
  }
  input{
    padding-left: 10px;
    margin-left: 45px;
    margin-top: 8px;
    width: 370px;
    height:60px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.28);
    border-radius:2px;
  }
  .el-form-item__error{
    margin-left: 50px;
  }
}
.form-btny{
  button{
    background:#5677fc;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.28);
    border-radius:2px;
    width:130px;
    height:36px;
    margin-left: 165px;
    font-family:PingFangSC-Regular;
    font-size:16px;
    color:#ffffff;
    margin-top: 36px;
  }
}
//创建星球表单，与修改星球信息可以复用
.form-inputc{
  label{
    float:none;
    font-family:PingFangSC-Regular;
    font-size:12px;
    color:#666666;
  }
  .el-input,textarea{
    margin-left: -100px;
    margin-top: 8px;
  }
  .resize-triggers{
    margin-left: -100px;
    margin-top: 8px;
  }
  .el-input__icon{
    margin-left: -200px;
  }
  .el-form-item__error{
    margin-left: -100px;
  }
  .name input{
    background:#ffffff;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.28);
    border-radius:2px;
    width:600px;
    height:60px;
  }
  .intro textarea{
    background:#ffffff;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.28);
    border-radius:2px;
    width:600px;
    height:120px;
    resize: none;
    padding-top: 18px;
    padding-left: 12px;
  }
  .join-c{
    input{
      height:60px;
    }
   .el-input{
    background:#ffffff;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.28);
    border-radius:2px;
    width:240px;
    height:60px;
    }
  }
  .el-button{
    margin-left: -100px;
    width: 124px;
  }
}
.upload-c{
  margin-bottom:32px;
  button{
    margin-top: 8px;
    background:#ffffff;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.28);
    border-radius:100px;
    width:80px;
    height:80px;
    span{
      font-size: 30px;
      color: #5677fc;
    }
  }
}
.el-scrollbar{
  width:240px;
  height:100px;
  ul{
    padding-top: 0px;
  li{
    padding-top: 16px;
    height: 50px;
   }
  }
}