.wuanBlueBackground {
  background-color: #5677fc;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.alignCenter {
  align-items: center;
  display: flex;
}
.horizontalCenter {
  justify-content: center;
  display: flex;
}
.oneline-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.add-planet-body {
  width: 100%;
  height: 10.11111111rem;
  justify-content: center;
  display: flex;
}
.add-planet-body .body-tip {
  height: 0.77777778rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 3.75rem;
}
.add-planet-body .body-tip span {
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: rgba(86, 119, 251, 0.38);
}
[data-dpr="2"] .add-planet-body .body-tip span {
  font-size: 40px;
}
[data-dpr="2.5"] .add-planet-body .body-tip span {
  font-size: 50px;
}
[data-dpr="2.75"] .add-planet-body .body-tip span {
  font-size: 55px;
}
[data-dpr="3"] .add-planet-body .body-tip span {
  font-size: 60px;
}
[data-dpr="4"] .add-planet-body .body-tip span {
  font-size: 80px;
}
