.index-entries .index-entry-header,
.index-entries .index-entry-content {
  margin: 0 40px;
}
.index-entries .index-entry-header,
.index-entries .index-entry-content {
  margin: 0 40px;
}
.index-entries .index-entry-header .alignCenter .index-entry-info {
  float: left;
  display: inline;
}
.index-entries .index-entry-header .alignCenter .index-entry-info img {
  width: 60px;
  height: 60px;
}
.index-entries .index-entry-header .index-entry-date {
  float: right;
  display: inline;
}
.index-entries .index-entry-header p {
  display: inline;
  opacity: 0.25;
  font-family: PingFangHK-Regular;
  color: #000000;
  text-align: left;
  "font-size": 12px;
}
[data-dpr="2"] .index-entries .index-entry-header p {
  "font-size": 24px;
}
[data-dpr="2.5"] .index-entries .index-entry-header p {
  "font-size": 30px;
}
[data-dpr="2.75"] .index-entries .index-entry-header p {
  "font-size": 33px;
}
[data-dpr="3"] .index-entries .index-entry-header p {
  "font-size": 36px;
}
[data-dpr="4"] .index-entries .index-entry-header p {
  "font-size": 48px;
}
