.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.alignCenter {
  align-items: center;
  display: flex;
}
.horizontalCenter {
  justify-content: center;
  display: flex;
}
.index-entry {
  background-color: #ffffff;
}
.index-entry .index-entry-header,
.index-entry .index-entry-content {
  margin: 0 40px;
}
.index-entry .index-entry-header {
  padding: 10px 0 10px 0;
  min-height: 1px;
  zoom: 1;
}
.index-entry .index-entry-header:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.index-entry .index-entry-header .index-entry-info {
  height: 60px;
  float: left;
}
.index-entry .index-entry-header .index-entry-info img {
  width: 60px;
  height: 60px;
}
.index-entry .index-entry-header .index-entry-date {
  height: 60px;
  float: right;
}
.index-entry .index-entry-header p {
  display: inline;
  opacity: 0.25;
  font-family: PingFangHK-Regular;
  color: #000000;
  text-align: left;
  line-height: 60px;
  "font-size": 12px;
}
[data-dpr="2"] .index-entry .index-entry-header p {
  "font-size": 24px;
}
[data-dpr="2.5"] .index-entry .index-entry-header p {
  "font-size": 30px;
}
[data-dpr="2.75"] .index-entry .index-entry-header p {
  "font-size": 33px;
}
[data-dpr="3"] .index-entry .index-entry-header p {
  "font-size": 36px;
}
[data-dpr="4"] .index-entry .index-entry-header p {
  "font-size": 48px;
}
.index-entry .index-entry-content .index-entry-title h1 {
  "font-size": 16px;
  opacity: 0.87;
  font-family: PingFangHK-Medium;
  color: #2f2f2f;
  text-align: left;
}
[data-dpr="2"] .index-entry .index-entry-content .index-entry-title h1 {
  "font-size": 32px;
}
[data-dpr="2.5"] .index-entry .index-entry-content .index-entry-title h1 {
  "font-size": 40px;
}
[data-dpr="2.75"] .index-entry .index-entry-content .index-entry-title h1 {
  "font-size": 44px;
}
[data-dpr="3"] .index-entry .index-entry-content .index-entry-title h1 {
  "font-size": 48px;
}
[data-dpr="4"] .index-entry .index-entry-content .index-entry-title h1 {
  "font-size": 64px;
}
.index-entry .index-entry-content .index-entry-brief p {
  "font-size": 14px;
  opacity: 0.54;
  font-family: PingFangHK-Regular;
  color: #000000;
  letter-spacing: 0;
  text-align: justify;
}
[data-dpr="2"] .index-entry .index-entry-content .index-entry-brief p {
  "font-size": 28px;
}
[data-dpr="2.5"] .index-entry .index-entry-content .index-entry-brief p {
  "font-size": 35px;
}
[data-dpr="2.75"] .index-entry .index-entry-content .index-entry-brief p {
  "font-size": 39px;
}
[data-dpr="3"] .index-entry .index-entry-content .index-entry-brief p {
  "font-size": 42px;
}
[data-dpr="4"] .index-entry .index-entry-content .index-entry-brief p {
  "font-size": 56px;
}
.index-entry .index-entry-footer {
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px 0 10px 0;
}
.index-entry .index-entry-footer ul {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.index-entry .index-entry-footer ul li {
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.index-entry .index-entry-footer ul li svg {
  font-size: 25px;
}
.index-entry .index-entry-footer ul li p {
  "font-size": 12px;
  padding: 0 10px;
  opacity: 0.54;
  font-family: PingFangHK-Regular;
  color: #5677fc;
  text-align: justify;
}
[data-dpr="2"] .index-entry .index-entry-footer ul li p {
  "font-size": 24px;
}
[data-dpr="2.5"] .index-entry .index-entry-footer ul li p {
  "font-size": 30px;
}
[data-dpr="2.75"] .index-entry .index-entry-footer ul li p {
  "font-size": 33px;
}
[data-dpr="3"] .index-entry .index-entry-footer ul li p {
  "font-size": 36px;
}
[data-dpr="4"] .index-entry .index-entry-footer ul li p {
  "font-size": 48px;
}
