.wuanBlueBackground {
  background-color: #5677fc;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.alignCenter {
  align-items: center;
  display: flex;
}
.horizontalCenter {
  justify-content: center;
  display: flex;
}
.oneline-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input,
button {
  border: none;
}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
/**/
/*申请加入私密星球*/
/**/
.joinPensonalG-content {
  margin-top: 0.16666667rem;
  background-color: #ffffff;
  width: 100%;
  height: 16.66666667rem;
  position: relative;
}
.joinPensonalG-content .joinPensonalG-msg {
  height: 1.38888889rem;
  width: 8.5rem;
  margin: 0 auto;
  padding-top: 1.36111111rem;
  border-bottom: 4px solid rgba(86, 118, 252, 0.87);
}
.joinPensonalG-content .joinPensonalG-msg span {
  padding-left: 0.41666667rem;
  display: block;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: rgba(86, 119, 251, 0.87);
}
[data-dpr="2"] .joinPensonalG-content .joinPensonalG-msg span {
  font-size: 24px;
}
[data-dpr="2.5"] .joinPensonalG-content .joinPensonalG-msg span {
  font-size: 30px;
}
[data-dpr="2.75"] .joinPensonalG-content .joinPensonalG-msg span {
  font-size: 33px;
}
[data-dpr="3"] .joinPensonalG-content .joinPensonalG-msg span {
  font-size: 36px;
}
[data-dpr="4"] .joinPensonalG-content .joinPensonalG-msg span {
  font-size: 48px;
}
.joinPensonalG-content .joinPensonalG-msg input {
  padding-left: 0.41666667rem;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 0.27777778rem;
  width: 100%;
}
[data-dpr="2"] .joinPensonalG-content .joinPensonalG-msg input {
  font-size: 32px;
}
[data-dpr="2.5"] .joinPensonalG-content .joinPensonalG-msg input {
  font-size: 40px;
}
[data-dpr="2.75"] .joinPensonalG-content .joinPensonalG-msg input {
  font-size: 44px;
}
[data-dpr="3"] .joinPensonalG-content .joinPensonalG-msg input {
  font-size: 48px;
}
[data-dpr="4"] .joinPensonalG-content .joinPensonalG-msg input {
  font-size: 64px;
}
.joinPensonalG-content button {
  width: 8.44444444rem;
  height: 1.22222222rem;
  background: #5677fc;
  border-radius: 8px;
  margin-left: 0.77777778rem;
  margin-top: 3.81944444rem;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #ffffff;
}
[data-dpr="2"] .joinPensonalG-content button {
  font-size: 32px;
}
[data-dpr="2.5"] .joinPensonalG-content button {
  font-size: 40px;
}
[data-dpr="2.75"] .joinPensonalG-content button {
  font-size: 44px;
}
[data-dpr="3"] .joinPensonalG-content button {
  font-size: 48px;
}
[data-dpr="4"] .joinPensonalG-content button {
  font-size: 64px;
}
