.wuanBlueBackground {
  background-color: #5677fc;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.alignCenter {
  align-items: center;
  display: flex;
}
.horizontalCenter {
  justify-content: center;
  display: flex;
}
.oneline-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.auto-textbreak {
  word-wrap: break-word;
}
input,
button {
  border: none;
}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
/**/
/*个人资料*/
/**/
.personal-navbar {
  background-color: #5677fc;
  height: 1.36rem;
  width: 100%;
  background: #5677fc;
  box-shadow: 0 0 8px 0;
}
.personal-navbar .personal-navbar-brand {
  font-size: 20px;
  font-family: PingFangSC-Medium;
  opacity: 0.87;
  color: #ffffff;
  float: left;
  height: 0.74666667rem;
  margin-top: 0.37333333rem;
  margin-left: 0.42666667rem;
}
[data-dpr="2"] .personal-navbar .personal-navbar-brand {
  font-size: 40px;
}
[data-dpr="2.5"] .personal-navbar .personal-navbar-brand {
  font-size: 50px;
}
[data-dpr="2.75"] .personal-navbar .personal-navbar-brand {
  font-size: 55px;
}
[data-dpr="3"] .personal-navbar .personal-navbar-brand {
  font-size: 60px;
}
[data-dpr="4"] .personal-navbar .personal-navbar-brand {
  font-size: 80px;
}
.personal-navbar .personal-icon-back {
  height: 0.48rem;
  margin-top: 0.44rem;
  margin-bottom: 0.44rem;
  margin-left: 0.42666667rem;
  border: 0;
  float: left;
  background: transparent;
}
.personal-navbar .personal-icon-back svg {
  font-size: 18px;
}
[data-dpr="2"] .personal-navbar .personal-icon-back svg {
  font-size: 36px;
}
[data-dpr="2.5"] .personal-navbar .personal-icon-back svg {
  font-size: 45px;
}
[data-dpr="2.75"] .personal-navbar .personal-icon-back svg {
  font-size: 50px;
}
[data-dpr="3"] .personal-navbar .personal-icon-back svg {
  font-size: 54px;
}
[data-dpr="4"] .personal-navbar .personal-icon-back svg {
  font-size: 72px;
}
.personal-content {
  margin-top: 0.16rem;
  width: 100%;
  height: 14.90666667rem;
  background-color: #ffffff;
}
.personal-content .personal-image {
  width: 1.86666667rem;
  height: 1.86666667rem;
  margin-left: 2.8rem;
}
.personal-content .personal-image .img-upload-progress {
  width: 100%;
  height: 0.02666667rem;
  margin-bottom: 0.10666667rem;
  background-color: #1e88e5;
  visibility: hidden;
}
.personal-content .personal-image button {
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.personal-content .personal-email {
  width: 8.09333333rem;
  height: 1.2rem;
  margin-left: 0.74666667rem;
  margin-top: 1.10666667rem;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.38);
}
.personal-content .personal-email label {
  font-size: 12px;
  display: block;
  font-family: PingFangSC-Regular;
  color: rgba(0, 0, 0, 0.38);
  margin-left: 0.4rem;
}
[data-dpr="2"] .personal-content .personal-email label {
  font-size: 24px;
}
[data-dpr="2.5"] .personal-content .personal-email label {
  font-size: 30px;
}
[data-dpr="2.75"] .personal-content .personal-email label {
  font-size: 33px;
}
[data-dpr="3"] .personal-content .personal-email label {
  font-size: 36px;
}
[data-dpr="4"] .personal-content .personal-email label {
  font-size: 48px;
}
.personal-content .personal-email input {
  width: 3.92rem;
  height: 0.6rem;
  font-size: 16px;
  margin-left: 0.37333333rem;
  margin-top: 0.16rem;
  font-family: PingFangSC-Regular;
  color: rgba(0, 0, 0, 0.56);
  background-color: none;
  background-color: #ffffff;
  border: none;
}
[data-dpr="2"] .personal-content .personal-email input {
  font-size: 32px;
}
[data-dpr="2.5"] .personal-content .personal-email input {
  font-size: 40px;
}
[data-dpr="2.75"] .personal-content .personal-email input {
  font-size: 44px;
}
[data-dpr="3"] .personal-content .personal-email input {
  font-size: 48px;
}
[data-dpr="4"] .personal-content .personal-email input {
  font-size: 64px;
}
.personal-content .personal-email button {
  position: absolute;
  font-size: 12px;
  border: none;
  background: #5677fc;
  border-radius: 8px;
  width: 1.68rem;
  height: 0.66666667rem;
  font-family: PingFangHK-Regular;
  color: #ffffff;
  text-align: center;
  top: -0.4rem;
  right: 0rem;
}
[data-dpr="2"] .personal-content .personal-email button {
  font-size: 24px;
}
[data-dpr="2.5"] .personal-content .personal-email button {
  font-size: 30px;
}
[data-dpr="2.75"] .personal-content .personal-email button {
  font-size: 33px;
}
[data-dpr="3"] .personal-content .personal-email button {
  font-size: 36px;
}
[data-dpr="4"] .personal-content .personal-email button {
  font-size: 48px;
}
.personal-content .personal-sex {
  width: 8.09333333rem;
  height: 1.2rem;
  margin-left: 0.74666667rem;
  margin-top: 0.57333333rem;
}
.personal-content .personal-sex .label-1 {
  display: block;
  margin-left: 0.4rem;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  color: rgba(86, 119, 251, 0.87);
}
[data-dpr="2"] .personal-content .personal-sex .label-1 {
  font-size: 24px;
}
[data-dpr="2.5"] .personal-content .personal-sex .label-1 {
  font-size: 30px;
}
[data-dpr="2.75"] .personal-content .personal-sex .label-1 {
  font-size: 33px;
}
[data-dpr="3"] .personal-content .personal-sex .label-1 {
  font-size: 36px;
}
[data-dpr="4"] .personal-content .personal-sex .label-1 {
  font-size: 48px;
}
.personal-content .personal-sex input {
  margin-left: 0.46666667rem;
  margin-top: 0.4rem;
  font-size: 20px;
  width: 0.26666667rem;
  height: 0.26666667rem;
}
[data-dpr="2"] .personal-content .personal-sex input {
  font-size: 40px;
}
[data-dpr="2.5"] .personal-content .personal-sex input {
  font-size: 50px;
}
[data-dpr="2.75"] .personal-content .personal-sex input {
  font-size: 55px;
}
[data-dpr="3"] .personal-content .personal-sex input {
  font-size: 60px;
}
[data-dpr="4"] .personal-content .personal-sex input {
  font-size: 80px;
}
.personal-content .personal-sex span {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}
[data-dpr="2"] .personal-content .personal-sex span {
  font-size: 32px;
}
[data-dpr="2.5"] .personal-content .personal-sex span {
  font-size: 40px;
}
[data-dpr="2.75"] .personal-content .personal-sex span {
  font-size: 44px;
}
[data-dpr="3"] .personal-content .personal-sex span {
  font-size: 48px;
}
[data-dpr="4"] .personal-content .personal-sex span {
  font-size: 64px;
}
.personal-content .personal-birthday {
  width: 8.09333333rem;
  height: 1.2rem;
  margin-left: 0.74666667rem;
  margin-top: 0.4rem;
}
.personal-content .personal-birthday .label-year {
  margin-left: 0.4rem;
  display: block;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  color: rgba(86, 119, 251, 0.87);
}
[data-dpr="2"] .personal-content .personal-birthday .label-year {
  font-size: 24px;
}
[data-dpr="2.5"] .personal-content .personal-birthday .label-year {
  font-size: 30px;
}
[data-dpr="2.75"] .personal-content .personal-birthday .label-year {
  font-size: 33px;
}
[data-dpr="3"] .personal-content .personal-birthday .label-year {
  font-size: 36px;
}
[data-dpr="4"] .personal-content .personal-birthday .label-year {
  font-size: 48px;
}
.personal-content .personal-birthday #year {
  width: 60px;
  width: 2.41333333rem;
  height: 0.66666667rem;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 16px;
  border-bottom: 3px solid rgba(86, 118, 252, 0.87);
}
[data-dpr="2"] .personal-content .personal-birthday #year {
  font-size: 32px;
}
[data-dpr="2.5"] .personal-content .personal-birthday #year {
  font-size: 40px;
}
[data-dpr="2.75"] .personal-content .personal-birthday #year {
  font-size: 44px;
}
[data-dpr="3"] .personal-content .personal-birthday #year {
  font-size: 48px;
}
[data-dpr="4"] .personal-content .personal-birthday #year {
  font-size: 64px;
}
.personal-content .personal-birthday #month {
  width: 1.61333333rem;
  height: 0.66666667rem;
  font-size: 16px;
  border-bottom: 3px solid rgba(86, 118, 252, 0.87);
}
[data-dpr="2"] .personal-content .personal-birthday #month {
  font-size: 32px;
}
[data-dpr="2.5"] .personal-content .personal-birthday #month {
  font-size: 40px;
}
[data-dpr="2.75"] .personal-content .personal-birthday #month {
  font-size: 44px;
}
[data-dpr="3"] .personal-content .personal-birthday #month {
  font-size: 48px;
}
[data-dpr="4"] .personal-content .personal-birthday #month {
  font-size: 64px;
}
.personal-content .personal-birthday #day {
  width: 1.61333333rem;
  height: 0.66666667rem;
  font-size: 16px;
  border-bottom: 3px solid rgba(86, 118, 252, 0.87);
}
[data-dpr="2"] .personal-content .personal-birthday #day {
  font-size: 32px;
}
[data-dpr="2.5"] .personal-content .personal-birthday #day {
  font-size: 40px;
}
[data-dpr="2.75"] .personal-content .personal-birthday #day {
  font-size: 44px;
}
[data-dpr="3"] .personal-content .personal-birthday #day {
  font-size: 48px;
}
[data-dpr="4"] .personal-content .personal-birthday #day {
  font-size: 64px;
}
.personal-content button {
  margin-top: 0.8rem;
  margin-left: 0.74666667rem;
  background: #5677fc;
  border-radius: 8px;
  width: 8.10666667rem;
  height: 1.17333333rem;
  font-size: 16px;
  opacity: 0.87;
  font-family: PingFangSC-Regular;
  color: #ffffff;
}
[data-dpr="2"] .personal-content button {
  font-size: 32px;
}
[data-dpr="2.5"] .personal-content button {
  font-size: 40px;
}
[data-dpr="2.75"] .personal-content button {
  font-size: 44px;
}
[data-dpr="3"] .personal-content button {
  font-size: 48px;
}
[data-dpr="4"] .personal-content button {
  font-size: 64px;
}
