.wuanBlueBackground {
  background-color: #5677fc;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.alignCenter {
  align-items: center;
  display: flex;
}
.horizontalCenter {
  justify-content: center;
  display: flex;
}
.tab-container {
  margin-top: 0.15277778rem;
  position: fixed;
  width: 100%;
}
.personal-item {
  background-color: #ffffff;
  margin-bottom: 0.16666667rem;
}
.onlyBorder {
  width: 0rem;
  height: 0rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-style: solid;
}
.nextLabel {
  width: 0.27777778rem;
  height: 0.44444444rem;
}
.nextLabel .personal-next1,
.nextLabel .personal-next2 {
  width: 0rem;
  height: 0rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-style: solid;
  border-top-width: 0.22222222rem;
  border-bottom-width: 0.22222222rem;
  border-left-width: 0.25rem;
  border-right-width: 0.25rem;
}
.nextLabel .personal-next1 {
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.26);
}
.nextLabel .personal-next2 {
  position: relative;
  top: -0.44444444rem;
  right: 0.08333333rem;
  border-color: transparent transparent transparent #ffffff;
}
.personal-details .personal-detail {
  height: 1.66666667rem;
  margin-top: 0.01388889rem;
  width: 100%;
  align-items: center;
  display: flex;
}
.personal-details .personal-detail .personal-item-icon {
  margin-left: 0.55555556rem;
  width: 0.58333333rem;
  height: 0.44444444rem;
  background-color: blue;
}
.personal-details .personal-detail .personal-item-text {
  margin-left: 0.22222222rem;
  width: 1.45833333rem;
  height: 0.45833333rem;
  opacity: 0.87;
  font-family: PingFangHK-Regular;
  font-size: 12px;
  color: #000000;
  text-align: left;
}
[data-dpr="2"] .personal-details .personal-detail .personal-item-text {
  font-size: 24px;
}
[data-dpr="2.5"] .personal-details .personal-detail .personal-item-text {
  font-size: 30px;
}
[data-dpr="2.75"] .personal-details .personal-detail .personal-item-text {
  font-size: 33px;
}
[data-dpr="3"] .personal-details .personal-detail .personal-item-text {
  font-size: 36px;
}
[data-dpr="4"] .personal-details .personal-detail .personal-item-text {
  font-size: 48px;
}
.personal-details .personal-detail .personal-next {
  width: 0.27777778rem;
  height: 0.44444444rem;
  margin-left: 6.34722222rem;
}
.personal-details .personal-detail .personal-next .personal-next1,
.personal-details .personal-detail .personal-next .personal-next2 {
  width: 0rem;
  height: 0rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-style: solid;
  border-top-width: 0.22222222rem;
  border-bottom-width: 0.22222222rem;
  border-left-width: 0.25rem;
  border-right-width: 0.25rem;
}
.personal-details .personal-detail .personal-next .personal-next1 {
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.26);
}
.personal-details .personal-detail .personal-next .personal-next2 {
  position: relative;
  top: -0.44444444rem;
  right: 0.08333333rem;
  border-color: transparent transparent transparent #ffffff;
}
.personal-logstate {
  height: 1.94444444rem;
  align-items: center;
  display: flex;
}
.personal-logstate .personal-personIcon {
  width: 1.04166667rem;
  height: 1.06944444rem;
  position: relative;
  background-color: #ffffff;
  float: left;
  margin-left: 0.54166667rem;
}
.personal-logstate .personal-personIcon .personal-personIcon1,
.personal-logstate .personal-personIcon .personal-personIcon2,
.personal-logstate .personal-personIcon .personal-personIcon3 {
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 50%;
}
.personal-logstate .personal-personIcon .personal-personIcon1 {
  width: 0.36111111rem;
  height: 0.33333333rem;
  position: absolute;
  top: 0.30555556rem;
  left: 0.34722222rem;
}
.personal-logstate .personal-personIcon .personal-personIcon2 {
  width: 0rem;
  height: 0rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.26) #ffffff #ffffff #ffffff;
  border-width: 0.4375rem;
  position: absolute;
  top: 0.68055556rem;
  left: 0.08333333rem;
}
.personal-logstate .personal-personIcon .personal-personIcon3 {
  width: 0rem;
  height: 0rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-style: solid;
  position: absolute;
  border-width: 0.52777778rem;
  border-color: #ffffff;
  box-shadow: 1px -5px 10px rgba(0, 0, 0, 0.26);
}
.personal-logstate .personal-logfont {
  width: 1.16666667rem;
  height: 0.56944444rem;
  margin-left: 0.45833333rem;
  opacity: 0.87;
  font-family: PingFangHK-Medium;
  font-weight: bold;
  font-size: 28px;
  color: #000000;
  text-align: left;
}
.personal-logstate .personal-next {
  width: 0.27777778rem;
  height: 0.44444444rem;
  margin-left: 5.94444444rem;
}
.personal-logstate .personal-next .personal-next1,
.personal-logstate .personal-next .personal-next2 {
  width: 0rem;
  height: 0rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-style: solid;
  border-top-width: 0.22222222rem;
  border-bottom-width: 0.22222222rem;
  border-left-width: 0.25rem;
  border-right-width: 0.25rem;
}
.personal-logstate .personal-next .personal-next1 {
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.26);
}
.personal-logstate .personal-next .personal-next2 {
  position: relative;
  top: -0.44444444rem;
  right: 0.08333333rem;
  border-color: transparent transparent transparent #ffffff;
}
.personal-signBtn {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(255, 0, 0, 0);
  margin-top: 2.97222222rem;
}
.personal-signBtn button {
  width: 8.44444444rem;
  height: 1.23611111rem;
  background-color: #5677fc;
  opacity: 0.87;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
}
[data-dpr="2"] .personal-signBtn button {
  font-size: 32px;
}
[data-dpr="2.5"] .personal-signBtn button {
  font-size: 40px;
}
[data-dpr="2.75"] .personal-signBtn button {
  font-size: 44px;
}
[data-dpr="3"] .personal-signBtn button {
  font-size: 48px;
}
[data-dpr="4"] .personal-signBtn button {
  font-size: 64px;
}
