.wuanBlueBackground {
  background-color: #5677fc;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.alignCenter {
  align-items: center;
  display: flex;
}
.horizontalCenter {
  justify-content: center;
  display: flex;
}
.oneline-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input,
button {
  border: none;
}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
/**/
/*设置星球*/
/**/
.setgroup-content {
  margin-top: 0.16666667rem;
  background-color: #ffffff;
  width: 100%;
  height: 16.66666667rem;
  position: relative;
}
.setgroup-content span {
  display: block;
  width: 8.44444444rem;
  height: 0.625rem;
  margin: 0 auto;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.38);
  padding-left: 0.52777778rem;
  padding-top: 0.91666667rem;
  padding-bottom: 0.22222222rem;
}
[data-dpr="2"] .setgroup-content span {
  font-size: 32px;
}
[data-dpr="2.5"] .setgroup-content span {
  font-size: 40px;
}
[data-dpr="2.75"] .setgroup-content span {
  font-size: 44px;
}
[data-dpr="3"] .setgroup-content span {
  font-size: 48px;
}
[data-dpr="4"] .setgroup-content span {
  font-size: 64px;
}
.setgroup-content .setgroup-img {
  height: 4.93055556rem;
  width: 8.44444444rem;
  margin: 0 auto;
}
.setgroup-content .setgroup-img span {
  display: block;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.38);
  padding-left: 0.38888889rem;
  padding-top: 0.95833333rem;
}
[data-dpr="2"] .setgroup-content .setgroup-img span {
  font-size: 28px;
}
[data-dpr="2.5"] .setgroup-content .setgroup-img span {
  font-size: 35px;
}
[data-dpr="2.75"] .setgroup-content .setgroup-img span {
  font-size: 39px;
}
[data-dpr="3"] .setgroup-content .setgroup-img span {
  font-size: 42px;
}
[data-dpr="4"] .setgroup-content .setgroup-img span {
  font-size: 56px;
}
.setgroup-content .setgroup-img button {
  height: 1.94444444rem;
  width: 1.94444444rem;
  cursor: pointer;
  border-radius: 100%;
  background-color: #282828;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 3.25rem;
  margin-top: 0.41666667rem;
  text-align: center;
}
.setgroup-content .setgroup-img button svg {
  font-size: 14px;
}
[data-dpr="2"] .setgroup-content .setgroup-img button svg {
  font-size: 28px;
}
[data-dpr="2.5"] .setgroup-content .setgroup-img button svg {
  font-size: 35px;
}
[data-dpr="2.75"] .setgroup-content .setgroup-img button svg {
  font-size: 39px;
}
[data-dpr="3"] .setgroup-content .setgroup-img button svg {
  font-size: 42px;
}
[data-dpr="4"] .setgroup-content .setgroup-img button svg {
  font-size: 56px;
}
.setgroup-content .setgroup-intro {
  height: 3.22222222rem;
  width: 7.66666667rem;
  margin: 0 auto;
  background: #fafafa;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.38);
  padding: 0.38888889rem;
}
[data-dpr="2"] .setgroup-content .setgroup-intro {
  font-size: 28px;
}
[data-dpr="2.5"] .setgroup-content .setgroup-intro {
  font-size: 35px;
}
[data-dpr="2.75"] .setgroup-content .setgroup-intro {
  font-size: 39px;
}
[data-dpr="3"] .setgroup-content .setgroup-intro {
  font-size: 42px;
}
[data-dpr="4"] .setgroup-content .setgroup-intro {
  font-size: 56px;
}
.setgroup-content .setgroup-join {
  height: 1.33333333rem;
  width: 8.44444444rem;
  margin: 0 auto;
  background: #fafafa;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.38);
  margin-top: 0.83333333rem;
}
[data-dpr="2"] .setgroup-content .setgroup-join {
  font-size: 28px;
}
[data-dpr="2.5"] .setgroup-content .setgroup-join {
  font-size: 35px;
}
[data-dpr="2.75"] .setgroup-content .setgroup-join {
  font-size: 39px;
}
[data-dpr="3"] .setgroup-content .setgroup-join {
  font-size: 42px;
}
[data-dpr="4"] .setgroup-content .setgroup-join {
  font-size: 56px;
}
.setgroup-content .setgroup-join button {
  width: 100%;
  height: 100%;
  background: #fafafa;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.38);
}
[data-dpr="2"] .setgroup-content .setgroup-join button {
  font-size: 28px;
}
[data-dpr="2.5"] .setgroup-content .setgroup-join button {
  font-size: 35px;
}
[data-dpr="2.75"] .setgroup-content .setgroup-join button {
  font-size: 39px;
}
[data-dpr="3"] .setgroup-content .setgroup-join button {
  font-size: 42px;
}
[data-dpr="4"] .setgroup-content .setgroup-join button {
  font-size: 56px;
}
.setgroup-content .setgroup-join button svg {
  padding-left: 4.52777778rem;
}
.setgroup-content .setgroup-save {
  height: 1.33333333rem;
  width: 8.44444444rem;
  margin: 0 auto;
  background: #ffffff;
  margin-top: 0.91666667rem;
}
.setgroup-content .setgroup-save button {
  background: #5677fc;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
[data-dpr="2"] .setgroup-content .setgroup-save button {
  font-size: 32px;
}
[data-dpr="2.5"] .setgroup-content .setgroup-save button {
  font-size: 40px;
}
[data-dpr="2.75"] .setgroup-content .setgroup-save button {
  font-size: 44px;
}
[data-dpr="3"] .setgroup-content .setgroup-save button {
  font-size: 48px;
}
[data-dpr="4"] .setgroup-content .setgroup-save button {
  font-size: 64px;
}
