<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <link type="text/css" rel="stylesheet" href="__CSS__/group.css"/>
    <script>
        var group_lzl_order = "{:modC('GROUP_LZL_REPLY_ORDER',1,'GROUP')}";
        var group_lzl_show_count = "{:modC('GROUP_LZL_SHOW_COUNT',5,'GROUP')}";
    </script>
</head>
<body>
<!-- 头部 -->
<include file="Public/header"/>
<!-- /头部 -->
<include file="Public/nav"/>

<!-- 主体 -->
<div id="main-container" class="container">

    <include file="Public/group-header"/>

    <div class="row">
        <div class="col-md-8">
            <block name="body"></block>
        </div>
        <div class="col-md-4">
            <block name="side"></block>
            <include file="Public/group-side"/>

        </div>
    </div>

</div>
<script type="text/javascript">
</script>
<!-- /主体 -->
<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>