        <div class="loading" style='display: none;'>
            <div class='uil-default-css'>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript">
        !window.jQuery && document.write('<script src="/javascripts/jquery-3.1.1.min.js"><\/script>');
    </script>
	<script src="/javascripts/sweetAlert.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/template.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/wangEditor.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/javascripts/plupload/plupload.full.min.js"></script>
	<script type="text/javascript" src="/javascripts/plupload/i18n/zh_CN.js"></script>
	<script type="text/javascript" src="/javascripts/qiniu.js"></script>
	<script type="text/javascript">
		var global = (function($) {
            //下拉菜单
            $('[data-toggle="dropdown"]').on('mouseover',function(event) {
                event.preventDefault();
                /* Act on the event */
                $(this).addClass('open');
            });
            $('[data-toggle="dropdown"]').on('mouseleave',function(event) {
                event.preventDefault();
                /* Act on the event */
                $(this).removeClass('open');
            });
            var getData =  function(url,param,cb){
                $.getJSON(url, param, function(data) {
                    cb(data);
                });
            };
            //ajax提交数据
            var subData = function(url,data,success){
                $.ajax({
                    type:"post",
                    url:url,
                    data:data,
                    success:function(d){
                        success(d);
                    },
                    error:function(x,h,r){
                        console && console.log(x, h, r);
                    }
                });
            };
            //获取翻页页数
            var getPageNow = function(){
                var reg = /page=(\d+)/,
                    regMatch = reg.exec(location.search),
                    pageNow = regMatch === null ? 1:regMatch[1];
                return pageNow;
            };
            //翻页事件处理
            var everPushed = false;
            var changeEverPushed = function(){
                everPushed = true;
            }
            var pageTurning = function(pre,next,pageCount,updata){
                var self = this;
                var initialUrl = location.href;
                $(document).on('click', pre,function(event) {
                    event.preventDefault();
                    /* Act on the event */
                    var pageNow = global.getPageNow();
                    if (pageNow == 1) {
                        return;
                    } else{
                        pageNow--;
                        var newURL = location.pathname + '?page=' + pageNow;
                        history.pushState(null,'',newURL);
                        everPushed = true;
                        updata.apply(self,[]);
                    }
                });
                $(document).on('click',next,function(event) {
                    event.preventDefault();
                    /* Act on the event */
                    var pageNow = global.getPageNow();
                    if (pageNow == pageCount) {
                        return;
                    } else{
                        pageNow++;
                        var newURL = location.pathname + '?page=' + pageNow;
                        history.pushState(null,'',newURL);
                        everPushed = true;
                        updata.apply(self,[]);
                    }
                });
                //popstate
                $(window).on('popstate',  function(event) {
                    event.preventDefault();
                    /* Act on the event */
                    var onloadPop = !everPushed && location.href == initialUrl;
                    everPushed = true;
                    if (onloadPop) return;
                    updata.apply(self,[]);
                });
            };
			return {
                getData:getData,
                subData:subData,
                getPageNow:getPageNow,
                pageTurning:pageTurning,
                changeEverPushed:changeEverPushed
			}
		}(jQuery));
	</script>
    <% if (user) { %>
    <script>
        (function(){
            var socket = io(location.hostname+':'+location.port);
                socket.on('news',function(data){
                // console.log('accept');
                $('#mrp').css('display','block');
            });
            global.subData('/api/checkNewInfo',{},function(data){
                if (data.ret == 200 && data.data && data.data.num == 1) {
                    $('#mrp').css('display','block');
                }
            });
        }());
    </script>
    <% } %>