        <div class="loading">
            <div class='uil-default-css' style='display: none;'>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<%-path%>javascripts/zepto.min.js"></script>
    <script type="text/javascript" src="<%-path%>javascripts/zepto.touch.js"></script>
    <script src="<%-path%>javascripts/sweetAlert.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%-path%>javascripts/template.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var global = (function() {
            //本地存储用户昵称
            var userName = localStorage.getItem("userName");
            //本地存储用户ID
            var userID = localStorage.getItem("userID");
            //设置是否注销后跳转首页
            var GotoIndexVal = 0;
            var GotoIndex = function(){
                GotoIndexVal = 1;
            }
            // 设置loading位置
            var setCenterLoadingDiv = function() {
                var loadingClientheight = parseInt($(".uil-default-css").css("height"));
                var loadingClientwidth = parseInt($(".uil-default-css").css("width"));
                var centerheight = ($(window).height() / 2 - (loadingClientheight / 2)) + 'px'
                var centerwidth = ($(window).width() / 2 - (loadingClientwidth / 2)) + 'px';
                $(".uil-default-css").attr('style', '-webkit-transform:scale(0.3);transform: scale(0.3);margin-top:' + centerheight + ';margin-left: ' + centerwidth + ';');
            };
            //设置登录时页面状态
            var setLoginStatus = function() {
                $("#nav-login,#nav-register").addClass('nav-anone');
                $("#nav-userId,#nav-logout").removeClass('nav-anone');
                $("#nav-userId").children("span").text(userName);
                $("#nav-myP").children("a").attr("href", "/myGroup/" + localStorage.getItem("userID"));
            };
            //设置注销时页面状态
            var setLogoutStatus = function() {
                $("#nav-login,#nav-register").removeClass('nav-anone');
                $("#nav-userId,#nav-logout").addClass('nav-anone');
                $("#nav-userId").children("span").text("");
                $("#nav-myP").children("a").attr("href", "/login");
            }
            //注销登录
            var logout = {
                logout: $("#nav-logout"),
                bindEvent: function() {
                    var self = this;
                    self.logout.on("touchend", function(event) {
                        event.preventDefault();
                        $.ajax({
                            type: "get",
                            async: true,
                            url: "/logout",
                            success: function(data) {
                                console && console.log(data);
                                if (data.data.code == 0 && data.data.msg) {
                                    sweetAlert('提示', data.data.msg, 'warning');
                                } else {
                                    localStorage.removeItem("userName");
                                    localStorage.removeItem("userID");
                                    setLogoutStatus();
                                    if(GotoIndexVal){
                                        window.location.href = '/';
                                    }
                                }
                            },
                            error: function(x, h, r) {
                                console && console.log(x, h, r);
                            }
                        });
                    });
                },
                init: function() {
                    this.bindEvent();
                }
            }
            logout.init();
            //页面初始化
            if (window.localStorage) {
                if (userName != null) {
                    setLoginStatus();
                } else {
                    setLogoutStatus();
                }
            }
            return {
                setCenterLoadingDiv: setCenterLoadingDiv,
                GotoIndex: GotoIndex
            }
        }());
        $(document).ready(function() {
            global.setCenterLoadingDiv();
            $(".navbar-toggle").on("touchend", function() {
                $(".all-wrapper").toggleClass('sidebar-extend');
                if ($(".all-wrapper").hasClass('sidebar-extend')) {
                    $(".mask").on("touchend", function(e) {
                    //e.stopPropagation();
                        $(".all-wrapper").removeClass('sidebar-extend');
                        return false;//zepto return false 则会阻止事件冒泡以及默认操作
                    });
                }
            });
            $(window).resize(function(event) {
                global.setCenterLoadingDiv();
            });
            $("input,textarea").focus(function(event){
                $(".navbar").css("position","absolute");
            });
            $("input,textarea").blur(function(event){
                $(".navbar").css("position","fixed");
            });
        });
    </script>