<%- include headerMobile.ejs %>
        <nav class="navbar-default">
            <div class="nav-container">
                <div class="navbar-header">
                    <button class="search-toggle" type="button">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-search">
                            </use>
                        </svg>
                    </button>
                    <div class="navbar-brand">
                        <h1>
                            首页
                        </h1>
                    </div>
                </div>
            </div>
        </nav>
        <div class="tab-head">
            <ul class="tab-head-bar">
                <li id="tab-head-myindex">                    
                    <svg aria-hidden="true" class="icon">
                        <use xlink:href="#icon-home_blue">
                        </use>
                    </svg>
                </li>
                <li id="tab-head-myplanet">                        
                    <svg aria-hidden="true" class="icon">
                        <use xlink:href="#icon-lightPlanet_blue">
                        </use>
                    </svg>
                </li>
                <li id="tab-head-mymessage">
                    <svg aria-hidden="true" class="icon">
                        <use xlink:href="#icon-message_blue">
                        </use>
                    </svg>
                </li>
                <li id="tab-head-myself">
                    <svg aria-hidden="true" class="icon">
                        <use xlink:href="#icon-me_blue">
                        </use>
                    </svg>
                </li>
            </ul>
        </div>