<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
        <meta name="keywords" content="午安网">
        <link rel="stylesheet" type="text/css" href="/stylesheets/dist/global.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert2.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/dist/style.css">
        <% if( typeof title == 'undefined'){%>
        <title>午安网 - 过你想过的生活</title>
        <%}else{%>
        <title><%=title%> - 午安网 - 过你想过的生活</title>
        <%}%>
    </head>
    <body>
    <div class="wuan-nav">
        <div class="nav-wrap">
            <div class="nav-primary">
                <div class="nav-logo"></div>
                <div class="nav-search"></div>
                <div class="nav-info">
                    <!-- 未登录的时候，参照豆瓣读书
                    <a></a>
                    <a></a>
                    -->
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    <div id="wrapper">
        
    