<%- include headerMobile.ejs %>
        <nav class="navbar-default navbar-default-shadow">
            <div class="nav-container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <span>
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#icon-goback">
                                </use>
                            </svg>
                        </span>
                        <span class="header-default-title">
                            鬼扯天地
                        </span>
                    </div>
                </div>
            </div>
        </nav>