<extend name="Public/base"/>

<block name="body">

    <div class="main-title">
        <h2>上传表情包</h2>
    </div>
    <form action="{:U('admin/expression/upload')}" enctype="multipart/form-data" method="post">
        <div style="padding: 15px">
            <div class="form-item">
                <div class="controls">
                    名称：<input type="text" name="title" class="" value="">
                    <span class="check-tips">表情的中文名称</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="controls">
                <span class="pull-left" style="margin: 15px 5px 20px 0px;"> 上传表情包：</span>
                <span class="pull-left" id="upload_button"
                      style="width: 100px;height: 30px;background: #6fa7ce;color: #fff;line-height: 30px;text-align: center;cursor: pointer;margin: 10px 30px 20px 0px;display: inline-block">上传文件</span>
                <span class="pull-left" id="show_info" style="margin: 15px 30px 20px 0px;"></span>
                <span class="pull-left text-danger" style="margin: 15px 30px 20px 0px;"> 表情仅支持 <strong>*.zip</strong> 格式。</span>
                <input type="file" name="pkg" style="display: none" onchange="$('#show_info').html($(this).val())">


            </div>
            <div class="clearfix"></div>
            <div class="form-item">
                <button class="btn submit-btn" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</block>

<block name="script">
    <script>
        $('#upload_button').click(function () {
            $('input[type=file]').click();
        })
    </script>
    <script type="text/javascript">
        Think.setValue("type", {$info.type|default=0});
        Think.setValue("group",{$info.group|default=0});
        //导航高亮
        highlight_subnav('{:U('Config/index')}');
    </script>
</block>




