<extend name="Public/base"/>
<block name="body">
<!-- 标题 -->
<div class="main-title">
    <h2>
        表情包列表
    </h2>
</div>
<div class="with-padding">
    <div class="fl">
        <a href="{:U('admin/expression/add')}" class="btn">上传新表情</a>
    </div>
</div>
<!-- 数据表格 -->
<div class="with-padding">
    <table class="table table-bordered table-striped ">
        <!-- 表头 -->
        <thead>
        <tr>
            <th>中文名</th>
            <th>标题</th>
            <th>表情数量</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <!-- 列表 -->
        <tbody>
        <volist name="list" id="e">
            <tr>

                <td><a href="{:U('admin/expression/expressionlist',array('name'=>$e['name']))}">{$e['title']}</a></td>
                <td><a href="{:U('admin/expression/expressionlist',array('name'=>$e['name']))}">{$e['name']}</a></td>
                <td>{$e['count']}</td>
                <td>{$e['status']?'启用':'禁用'}</td>
                <td>
                    <php>if($e['name'] != 'miniblog'){</php>
                    <a href="{:U('admin/expression/editpackage',array('name'=>$e['name']))}">编辑</a>&nbsp;|&nbsp;<a class="ajax-get" href="{:U('admin/expression/delpackage',array('name'=>$e['name']))}">删除</a>
                    <php>}</php>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
</div>
</block>