@import '../../theme-default/element/button';

/*******************************
            Button
*******************************/

.wl-btn {
    // font
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    font-family: inherit;
    font-style: normal;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
    //box-model
    vertical-align: middle;
    margin-top: 66px;
    padding: 0;
    display: inline-block;
    min-height: 1em;
    height: 38px;
    width: 150px;
    background: $background;
    border: none;
    border-radius: 4px;
    box-shadow: $boxShadow;
    //user interaction
    outline: none;
    user-select: none;
    transition: all 0.3s ease-in-out;
}


/*******************************
            States
*******************************/


/*--------------
      Hover
---------------*/

.wl-btn:hover {
//  background-color: aquamarine;
    background-color: $hoverBackgroundColor;
    box-shadow: $hoverBoxShadow;
//  box-shadow: 1px 1px 1px red;
//  color: $hoverColor;
}


/*--------------
      Focus
---------------*/

.wl-btn:focus {
    background-color: $focusBackgroundColor;
//  color: black;
    box-shadow: $focusBoxShadow;
}


/*--------------
      Down
---------------*/

.wl-btn:active {

}
/*--------------
     Active
---------------*/

.wl-btn.active.button {
}
.wl-btn.active:hover {
}
.wl-btn.active:active {
}

/*--------------
     Disabled
---------------*/
.wl-btn.disabled {
    background-color: $disabledBackgroundColor;
    pointer-events: none;
}
