ul, li {
  list-style: none;
  margin: 0;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin: 0px;
}

.avatar-img {
  border-radius: 100%;
}

.body {
  background: #000;
}

.spliter {
  border-top: 1px solid #F2F2F2;
  width: 100%;
  margin-bottom: 5px;
}

.line_gray {

  width: 1px;
  height: 10px;
  display: inline-block;
  background: #e8e8e8;
  margin: 0 4px;
  vertical-align: 1px;
}

.house-mian-info {
  font-size: 12px;
  padding: 10px;
  border: dashed 1px #000;
  margin: 5px 0px;
}

.house-condition li {
  float: left;
  width: 270px;
  line-height: 28px;
  font-size: 14px;
}
.comm-area{
  font-size:12px;padding: 5px;border: 1px solid #c8c6c4;background-color: #FBFBFB;
  h5{
    margin:5px 0px;
  }
  p{
    margin: 0px;
  }
}
/*.comment-item{
  background-color: #ffffff;padding: 5px;border: 1px solid #F2F2F2;
  .content{
    padding: 5px;
  }
}*/
.cat-container {
  .search-btn {
    margin: 10px 0px;
  }
  .cat-content {
    margin-top: 10px;
    .am-tabs {
      .am-tabs-bd {
        border-bottom: none;
        ul li {
          border-bottom: solid 1px #cccccc;
          clear: both;
          .main {
            font-size: 12px;
            .img-box {
              padding: 5px;
              img {
                width: 100px;
                height: 75px;
              }
            }
            .detail {
              padding: 0px;
              text-align: left;
              .ispace p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; //限定行数
                -webkit-box-orient: vertical;
              }
              .info {
                .release-time {
                  color: #cccccc;
                }
                .house-price {
                  color: #E22;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: bold;
                }
              }
              .tag {
                span {
                  border: solid 1px #74cd00;
                  background: #ebfad7;
                  padding: 0px 5px;
                }
              }
            }
          }
          .deliver-area {
            text-align: left;
            color: #000000;
          }
        }

      }

    }
  }
}

.usercontent-container {
  background-color: #F2f2f2;
  .user-info {
    font-size: 13px;
    padding: 5px;
    border: solid 1px #F2F2F2;
    background-color: #FFFFFF;
    .avatar {
      .avatar-img {
        width: 55px;
      }

    }
    .info {
      margin-left: 10px;
    }
  }
  .center-info {
    font-size: 13px;
    margin: 10px 0;

    background-color: #FFFFFF;
    ul li {
      border-bottom: solid 1px #F2F2F2;
      padding: 8px 10px;
    }
  }
}

.release-container {

  .am-tabs {
    .am-tab-panel {
      ul li {
        border-bottom: solid 1px #ddd;
        .main {
          font-size: 12px;
          .img-box {

            img {
              width: 100px;
              height: 75px;
            }
          }
          .detail {
            margin: 5px;
            .ispace {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            .info {
              .release-time {

              }
              .house-price {
                color: #E22;
                font-size: 14px;
                font-style: normal;
                font-weight: bold;
              }
            }
            .tag {
              span {
                border: solid 1px #74cd00;
                background: #ebfad7;
                padding: 0px 5px;
              }
            }
          }
        }
      }
    }
  }

}

.collection-container {

  .am-tabs {
    .am-tab-panel {
      ul li {
        border-bottom: solid 1px #ddd;
        .main {
          font-size: 12px;
          .img-box {
            margin: 5px;
            img {
              width: 100px;
              height: 75px;
            }
          }
          .detail {
            margin: 5px;
            .ispace {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            .info {
              .release-time {

              }
              .house-price {
                color: #E22;
                font-size: 14px;
                font-style: normal;
                font-weight: bold;
              }
            }
            .tag {
              span {
                border: solid 1px #74cd00;
                background: #ebfad7;
                padding: 0px 5px;
              }
            }
          }
        }
      }
    }
  }

}

#doc-my-tabs {
  .current {
    background-color: white;
  }
}

#doc-my-tabs a {
  padding: 13px 0px;
  width: 20%;
  color: #000
}

.search-container {
  .am-radio-inline input[type=radio] {
    float: none;
  }

}

.ullist {
  z-index: 0;

  .infor {
    color: #000000;
    padding: 10px;
  }
  a {
    color: #000000;
  }
  .main {
    font-size: 12px;
    .img-box {

      img {
        width: 100px;
        height: 75px;
      }
    }
    .detail {

      .ispace p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; //限定行数
        -webkit-box-orient: vertical;
      }

      .info {
        .release-time {

        }
        .house-price {
          color: #E22;
          font-size: 14px;
          font-style: normal;
          font-weight: bold;
        }
      }
    }
  }
}

/*群组板块*/
#Q-list {
  position: fixed;
  bottom: 35px;
  background-color: #cccccc;
  left: 0px;

}

#Q-list ul li {
  text-align: center;
  border-bottom: solid 1px #FFFFFF;
  padding: 5px 5px;
  position: relative;

}

#Q-list ul {

  margin: 0px;
}

.Q-list-sec {
  position: absolute;
  bottom: 0px;
  background-color: #cccccc;
  display: none;
}

.sec ul {
  margin: 0px;
}

.sec ul li {
  text-align: center;
  border-bottom: solid 1px #FFFFFF;
  padding: 5px 5px;

}

#Q-type {
  position: relative;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #cccccc;
  position: absolute;
  top: 13px;
  left: -8px;
  display: none;

}

.group-admin {
  .am-nav-tabs {
    padding-bottom: 5px;
    margin-top: 5px;
    a {
      font-size: 13px;
      border: 1px solid transparent;
      border-radius: 0;
      display: block;
      width: 25%;
      float: left;
      text-align: center;
    }
    a:active {
      background: #000;
    }
  }
}

.f14px {
  font-size: 12px;
}

.cgrey {
  clear: both;
}

.keep-item {
  padding: 2px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #c8c6c4;
  height: 24px;
  line-height: 24px;
  margin-left: 2px;
}