ul,
li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}
.avatar-img {
  border-radius: 100%;
}
.body {
  background: #000;
}
.event_detail_type {
  position: absolute;
  margin-top: -30px;
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}
.selected {
  background-color: #cccccc;
  box-shadow: #cccccc;
}
.event_state {
  width: 106px;
  height: 32px;
  position: absolute;
  color: #fff;
  text-align: center;
  line-height: 32px;
  margin: -62px 0 0 0px;
}
.spliter {
  border-top: 1px solid #F2F2F2;
  width: 100%;
  margin-top: 10px;
}
.fs12 {
  font-size: 12px;
}
.user-mod {
  height: 40px;
  width: 100%;
}
#user-list {
  margin: 0px 0px 0px 0px;
  height: 35px;
}
#carousel {
  background-color: #F3F3F3;
}
#user-list a {
  width: 100px;
  line-height: 40px;
  padding: 0px;
  float: left;
  text-align: center;
  color: #000;
  display: inline-block;
}
.selected span {
  background-color: #FFFFFF;
  color: #2bb1e1;
}
.event-container {
  background: #f5f5f5;
}
.event-container .event-tab li {
  padding: 10px;
}
.event-container .event-tab li a {
  display: block;
}
.event-container .event-list {
  margin-top: 5px;
}
.event-container .event-list .event-box {
  padding: 3px;
  margin-bottom: 5px;
  background: #FFFFFF;
}
.event-container .event-list .event-box .cover {
  padding: 0px;
}
.event-container .event-list .event-box .content {
  padding: 0px 0px 0px 10px ;
  text-align: left;
}
.am-tabs-bd {
  border: none;
}
.am-tabs-bd .journey-tip {
  min-height: 200px;
  line-height: 200px;
}
.am-navbar-nav .event-detail {
  background-color: #FFFFFF;
}
.people-list li {
  padding: 3px;
}
.people-list li .people {
  position: relative;
  padding: 10px;
  border: 1px solid #cccccc;
  box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -moz-box-shadow: 0 0 10px #cccccc;
}
.people-list li .is-pass {
  position: absolute;
  right: 10px;
}
.team-list li {
  padding: 3px;
}
.team-list li .team {
  position: relative;
  padding: 10px;
  border: 1px solid #cccccc;
  box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -moz-box-shadow: 0 0 10px #cccccc;
}
.team-list li .is-pass {
  position: absolute;
  right: 10px;
  top: 20px;
}
.event_info {
  border: solid 1px #cccccc;
  padding: 5px;
  margin-bottom: 20px;
}
