ul,
li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
.avatar-img {
  border-radius: 100%;
}
.forum-body {
  background: #FFFFFF;
}
p {
  margin: 0px;
}
.small-btn {
  padding: 0px 10px;
  font-size: 15px;
}
.host {
  display: inline-block;
  padding: 0 5px;
  line-height: 18px;
  vertical-align: text-top;
  border-radius: 5px;
  font-size: 12px;
  background: #3C82F6;
  color: #ffffff;
}
.forum-type-list .type-list .forum-type {
  margin-bottom: 0px
    ;
}
.forum-type-list .type-list .forum-type .type {
  padding: 10px 65px 10px 10px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #e5e5e5;
}
/*帖子详情页*/
.post-container {
  background-color: #FFFFFF;
}
.post-container .post-title {
  padding: 10px;
}
.post-container .post-title .meta {
  height: 20px;
  padding: 10px 0;
  position: relative;
}
.post-container .post-title .meta .gray {
  float: left;
  padding-right: 10px;
  padding-top: 4px;
  background: #FFF;
  position: relative;
}
.post-container .post .post-box {
  background-color: #FFFFFF;
  padding: 10px;
  border: 1px solid #e5e5e5;
}
.post-container .post .post-box .info .part {
  font-size: 13px;
  text-align: right;
}
.post-container .post .post-box .interact-button {
  text-align: right;
}
.post-container .post .post-box .content {
  padding: 5px;
}
.post-container .comment-item {
  background-color: #ffffff;
  margin-top: 5px;
}
.post-container .comment-item .comment {
  border-bottom: 1px solid #F2F2F2;
  padding: 10px;
}
.post-container .comment-item .comment .info {
  font-size: 13px;
}
.post-container .comment-item .comment .info .part {
  font-size: 13px;
  text-align: right;
}
.post-container .comment-item .comment .interact-button {
  text-align: right;
}
.post-container .comment-item .comment .interact-button .small-btn {
  padding: 0 10px;
}
.post-container .comment-item .comment .content {
  padding: 10px;
  width: 100%;
}
.look-more {
  padding: 10px;
  color: #000;
  background-color: #FFFFFF;
  border: solid 1px #c2c2c2;
}
