
    <li style="border-bottom: solid 1px #ddd;color: #f5f5f5">
        <div class="infor" style="font-size: 12px">
            <div class="deliver-area">
                <a class="infor" href="">
                    <div class="iName">
                        <php>
                            $can_post = CheckCanRead(is_login(),$vl['id']);
                            if (!$can_post) {   </php>
                            <a href="javascript:void(0);" onclick="toast.error('您无阅读权限');"> <span>{$vl.title} </span></a>
                             <php>}else{</php>
                            <a href="{:U('cat/detail',array('info_id'=>$vl['id']))}" style=""> <span>{$vl.title} </span></a>
                          <php>}</php>

                    </div>
                    <div class="i_one am-cf">
                        {$vl.create_time|friendlyDate}
                                            <span class="iol">

                                                <i class="line_gray"></i>
                                                  <img src="{$vl.user.avatar32}"style="border-radius: 50%;width: 24px;height: 24px">{$vl.user.nickname}

                                            </span>
                    </div>
                </a>
            </div>
        </div>
    </li>
