<div class="">
    <div style="border-bottom:2px solid #s5194c4">
        <h1>
            为答案投票
        </h1>
    </div>
    <div class="am-g ">
        <div class="am-u-sm-6 am-text-center">
            <a class="up"  title="赞同">
                <i class="am-icon-thumbs-o-up"></i>
            </a>
            <div class="am-text-center">赞同</div>


        </div>
        <div class="am-u-sm-6 am-text-center">
            <a class="down" title="反对，不会显示你的姓名">
                <i class="am-icon-thumbs-o-down"></i>

            </a>
            <div class="">反对</div>

        </div>
    </div>
</div>