<ul class="nav nav-secondary">
    <php>
        switch($tab){
            case 'score':
                $scoreClass="active";
                break;
            case 'avatar':
                $avatarClass="active";
                break;
            case 'rank':
                $rankClass="active";
                break;
            case 'userTag':
                $userTagClass="active";
                break;
            case 'field':
                $fieldClass="active";
                break;
            case 'fieldRegister':
                $fieldRegisterClass="active";
                break;
            default:
                break;
        }
    </php>
    <li class="{$scoreClass}"><a href="{:U('Role/configScore',array('id'=>$this_role['id']))}">用户积分配置</a></li>
    <li class="{$avatarClass}"><a href="{:U('Role/configAvatar',array('id'=>$this_role['id']))}">用户默认头像配置</a></li>
    <li class="{$rankClass}"><a href="{:U('Role/configRank',array('id'=>$this_role['id']))}">用户默认头衔配置</a></li>
    <li class="{$userTagClass}"><a href="{:U('Role/configUserTag',array('id'=>$this_role['id']))}">可拥有标签配置</a></li>
    <li class="{$fieldClass}"><a href="{:U('Role/configField',array('id'=>$this_role['id']))}">扩展资料配置</a></li>
    <li class="{$fieldRegisterClass}"><a href="{:U('Role/configField',array('id'=>$this_role['id'],'type'=>1))}">注册时填写资料配置</a></li>
</ul>