<style>
    .modal-dialog {
        width: 430px;
    }

    .select_box_this {
        margin: 10px 0 20px;
        width: 100%;
        text-align: right;
        font-size: 16px;
    }

    .select_box_this .form-group {
        margin-top: 5px;;
    }

    .select_box_this .title {
        width: 100%;
        text-align: center;
        margin-top: -17px;
        margin-bottom: 10px;
        color: #A8A7A7;
    }
</style>

<div>
    <form id="create_code" action="__SELF__" method="post" class="ajax-form">
        <notempty name="invite_type['can_num']">
            <div class="select_box_this">
                <div class="title"><span style="font-size: 14px;">你当前该类型的可用邀请名额为{$invite_type['can_num']}~</span></div>
                <input type="hidden" name="invite_type" value="{$invite_type.id}">

                <div data-role="can_num" data-value="{$invite_type['can_num']}"></div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" style="text-align: right;">
                        生成个数：
                    </label>

                    <div class="col-xs-8">
                        <input type="text" name="code_num" class="form-control" value="1">

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" style="text-align: right;">
                        注册个数：
                    </label>

                    <div class="col-xs-8">
                        <input type="text" name="can_num" class="form-control" value="1">

                        <div class="clearfix"></div>
                    </div>
                    <div class="col-xs-8" style="color: #b3b3b3;margin-left: 41px;font-size: 14px;">每个邀请码允许注册个数</div>

                </div>
                <div class="clearfix"></div>
            </div>
            <div style="width: 100%;text-align: center;">
                <a class="btn btn-primary" data-role="submit">生成</a>
                <a onclick="$('.close').click();" class="btn btn-default">取消</a>
            </div>
            <else/>
            <div style="width: 100%;text-align: center;padding: 0 0 10px;"><span style="font-size: 14px;">你当前没有该类型的可用邀请名额，请先<a href="{:U('')}"></a>兑换邀请名额~</span></div>
            <div style="width: 100%;text-align: center;">
                <a class="btn btn-primary" disabled="disabled" data-role="submit">生成</a>
                <a onclick="$('.close').click();" class="btn btn-default">取消</a>
            </div>
        </notempty>


    </form>
</div>
<script>
    $(function () {
        $('[data-role="submit"]').click(function () {
            query = $('#create_code').serialize();
            var url = $('#create_code').attr('action');
            var num = $('[data-role="can_num"]').attr('data-value');
            var num_buy = $('[name="code_num"]').val();
            var can_num = $('[name="can_num"]').val();
            if (num_buy * can_num > num) {
                toast.error('邀请名额超过限制！');
            }
            $.post(url, query, function (msg) {
                if (msg.status) {
                    toast.success('生成成功！');
                    setTimeout(function () {
                        window.location.href = msg.url;
                    }, 1500);
                } else {
                    handleAjax(msg);
                }
            }, 'json');
        });
    });
</script>