$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;



$hoveredTextColor: #ffffff;


$boxShadow: 0 0 4px #888888;

/* Layout */
$nav-height: 55px;

$title-font-size: 18px;

/* Form */
$form-input-height: 46px;
$form-input-font-size: 17px;
$form-input-placeholder-font-size: 12px;

/* Article */
$article-title-font-size: 16px;
$article-p-font-size: 12px;


$wl-blue: #5677fc;
$wl-blue-hover: #a9baff;
$wl-blue-active: #2953fc;