<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>自动升级 - 完成</h2>
    </div>
    <div class="with-padding" style="width:700px;">
        <div class="alert alert-info">
            <p>当前的系统版本号：<strong>{$currentVersion.name}</strong></p>
        </div>
        <p><strong class="text-success">1.下载更新包，获取更新文件列表 -》 2.本地文件对比 -》 3.代码升级 -》 4.数据库升级 -》升级完成</strong></p>
        <h4>
            恭喜，升级成功，目前版本为 {$currentVersion.name}
        </h4>

        <p>如果发现升级之后出现问题，请找回备份文件，同时还原备份的数据库。</p>


        <p>
            {$path}/backup

        </p>

        <div class="row">
            <div class="col-xs-7">
                <a id="compare_btn" class="btn btn-success btn-block"
                  href="{:U('update')}">返回自动升级首页</a>
            </div>

        </div>

    </div>


    <script>
        function updateDB(obj) {
            if (!confirm('确定导入？强烈建议在导入之前进行数据库备份。')) {
                return false;
            } else {
                toast.showLoading();
                $(obj).attr('disabled', 'disabled');
                $(obj).text('正在升级数据库，请耐心等待……');
                $.post('__SELF__', function (msg) {
                    if (msg.status) {
                        $(obj).removeAttr('disabled');
                        toast.hideLoading();
                        toast.success('数据库升级成功。');
                        $(obj).text('升级数据库成功，进入下一步');
                        $(obj).attr('href',"{:U('finish')}");

                    } else {
                        toast.error('升级失败。请检测后再试。')
                    }
                })
            }
        }
        function writeFile($data) {
            $('#file').append('<div><i class="icon-file"></i> ' + $data + '</div>');
        }
        function writeMessage($data) {
            $('#message').append($data);
        }
        function replaceMessage($data) {
            $('#message').children().last().remove();
            $('#message').children().last().remove();
            $('#message').append($data);
        }
        var progress = {
            'show': function () {
                $('#progress').parent().show();
            },
            'setValue': function ($value) {
                $('#progress').css('width', $value);
            },
            'hide': function () {
                $('#progress').parent().hide();
            }
        };
        function enable() {
            $('#compare_btn').removeAttr('disabled', '');
        }
    </script>
</block>