<table class="table table-bordered table-striped table-hover ">
    <thead>
    <tr>
        <th style="width: 80px">版本号</th>
        <th style="width: 150px">发布时间</th>
        <th>更新日志</th>
    </tr>
    </thead>
    <volist name="versionList" id="vo">
        <tr>
            <td>{$vo.title}</td>
            <td>{$vo.create_time|friendlyDate}</td>
            <td>
                {$vo.log|formatLog}
            </td>
        </tr>
    </volist>
</table>
<div>
    <a href="{:U('Cloud/updateGoods',array('token'=>$token))}" class="btn btn-success btn-block">前往更新</a>
</div>