<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>自动升级</h2>
    </div>
    <div class="with-padding" style="width:800px;">
        <div class="alert alert-info">
            <p>当前远程最新版本：<strong>{$version.0.name}</strong></p>

            <p>当前的系统版本号：<strong>{$currentVersion}</strong></p>
        </div>
        <p class="alert alert-danger">在安装更新之前，请先<a target="_blank" href="{:U('database/index?type=export')}">备份数据库</a>，备份网站源码，以防数据或者二次开发内容丢失。
        </p>
        <p class="alert alert-danger">请先到后台<a target="_blank" href="{:U('config/group')}">系统设置</a>页面，关闭网站。如果不希望自动更新，请手动<strong>关闭自动更新</strong>。</p>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>编号</th>
                <th>
                    版本名
                </th>
                <th>
                    版本号
                </th>
                <th>
                    发布时间
                </th>
                <th>更新时间</th>
                <th>更新说明</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody>
            <volist name="version" id="vo">

                <tr class="{$vo.class}">
                    <td>
                        {$vo.number}
                    </td>
                    <td><a target="_blank" href="{$vo.url}">{$vo.title}</a>{$vo.word}</td>
                    <td>
                        <strong>{$vo.name}</strong>
                    </td>
                    <td>{$vo.create_time|friendlyDate}</td>
                    <td>{$vo.update_time|friendlyDate}</td>
                    <td>
                        <a data-remote="{:U('Cloud/version',array('name'=>$vo['name']))}" data-toggle="modal" data-title="{$vo.title}-{$vo.name} 更新日志">查看详情</a>
                    </td>
                    <td>
                        <if condition="$vo[name] eq $nextVersion['name']">
                            <a href="{:U('getFileList',array('version'=>$vo['name']))}">自动升级</a>&nbsp;|&nbsp;<a href="{$cloud}{:cloudU('Appstore/Update/download',array('number'=>$vo['number']))}" target="_blank">手动下载</a>
                            <else/>
                            <if condition="version_compare($vo['name'],$currentVersion) eq 0">
                                <i class="icon-arrow-left"></i> 当前版本
                                <else/>
                                <if condition="version_compare($vo['name'],$currentVersion) eq -1">
                                    历史版本
                                    <else/>
                                    未来版本
                                </if>


                            </if>
                        </if>
                      </td>
                </tr>

            </volist>
            </tbody>

        </table>

        <div style="margin-top: 10px">
            <div class="progress progress-striped active hide" style="border-radius: 3px">
                <div id="progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                     aria-valuemin="0" aria-valuemax="100" style="width:0">
                </div>
            </div>
        </div>

    </div>


    <script>
        function writeMessage($data) {
            $('#message').append($data);
        }
        function replaceMessage($data) {
            $('#message').children().last().remove();
            $('#message').children().last().remove();
            $('#message').append($data);
        }
        var progress = {
            'show': function () {
                $('#progress').parent().show();
            },
            'setValue': function ($value) {
                $('#progress').css('width', $value);
            },
            'hide': function () {
                $('#progress').parent().hide();
            }
        }
    </script>
</block>