<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>test</title>
	</head>
	<body>
		<div class="hi">
			<pre>
				1
				
				
				
				
				
				
				
				
				
				
				2
				
				
				
				
				
				
				
				
				
				
				
				
				3
				
				
				
				
				
				
				
				
				
				
				
				
				
				4
				
				
				
				
				
				
				
				
				
				
				
				5
			</pre>
		</div>
		<script type="text/javascript">
			window.onload = function () {
				console.log(document.body.scrollTop);
				console.log(document.documentElement.scrollTop);
			}
		</script>
	</body>
</html>
