
    <ul class="member-type-list am-avg-sm-2">
        <li class="member-type select">
            成员（{$memberCount}）
        </li>
        <li class="member-type">
            未审核成员（{$notAuditMemberCount}）
        </li>
    </ul>

<div class="member-content-box">
<div class="member-content">
    <ul class="" style="margin: 0px">
        <volist name="member" id="v4">
            <li style="border-bottom: solid 1px #cccccc">
                <div class="am-g" style="padding: 10px;font-size: 12px">
                    <div class="type-title am-fl am-cf ">
                        <img class="am-fl" src="{$v4.user.avatar64}" style="width:40px">

                        <div class="am-fl" style="padding-left: 10px">
                            <div>{$v4.user.nickname}</div>
                            <div> 加入时间 ： {$v4.create_time|friendlyDate}</div>
                        </div>
                    </div>
                    <div class="shortcut-btn " style="text-align: right">
                        <a class="remove" url="{:U('Mob/Group/removeGroupMember')}" data-uid="{$v4.uid}"
                           group-id="{$group_id}">移出群组</a>

                    </div>
                </div>
            </li>
        </volist>
    </ul>
</div>
<div class="member-content">
    <ul class="" style="margin: 0px">
        <volist name="notAuditMember" id="v5">
            <li style="border-bottom: solid 1px #cccccc">
                <div class="am-g" style="padding: 10px;font-size: 12px">
                    <div class="type-title am-fl am-cf ">
                        <img class="am-fl" src="{$v5.user.avatar64}" style="width:40px">

                        <div class="am-fl" style="padding-left: 10px">
                            <div>{$v5.user.nickname}</div>
                            <div> 申请时间 ： {$v5.create_time|friendlyDate}</div>
                        </div>
                    </div>
                    <div class="shortcut-btn " style="text-align: right">
                        <a class="receive" url="{:U('Mob/Group/receiveMember')}" data-uid="{$v5.uid}"
                           group-id="{$group_id}">审核通过</a>
                        <a class="remove" url="{:U('Mob/Group/removeGroupMember')}" data-uid="{$v5.uid}"
                           group-id="{$group_id}">移出群组</a>
                    </div>
                </div>
            </li>
        </volist>
    </ul>
</div>
</div>

<style>
    .member-type-list li{
        font-size: 13px;
        text-align: center;
        padding: 8px 0px;
    }
    .select{
        background-color: #00aaaa;
    }
    .member-content{
        display: none;
    }

</style>

<script>
    removeGroupMember();
    $(function () {
        var $li = $(".member-type-list li");
        $("div.member-content-box > .member-content")
                .eq(0).show();
        $li.click(function () {
            $(this).addClass("select")
                    .siblings().removeClass("select");
            var index = $li.index(this);
            $("div.member-content-box > .member-content")
                    .eq(index).show()
                    .siblings().hide();
        })
    });
</script>