<extend name="Public/base"/>

<block name="body">
    <div class="row">

        <div class="col-xs-12">

            <div class="fourm-top common_block_border" style="padding: 15px 20px;margin-top: 0;margin-bottom: 15px">
                <div>
                <h4>
                    群组管理
                </h4>
                  </div>
                <div>
                    <ul class="nav nav-tabs" role="tablist" style="font-size: 12px;">
                        <li role="presentation"><a href="{:U('Group/Manage/index',array('group_id'=>$_GET['group_id']))}">基本信息</a></li>
                        <li role="presentation" ><a href="{:U('Group/Manage/member',array('group_id'=>$_GET['group_id']))}">成员管理</a></li>
                        <li role="presentation"class="active"><a href="{:U('Group/Manage/notice',array('group_id'=>$_GET['group_id']))}">公告发布</a></li>
                        <li role="presentation" ><a href="{:U('Group/Manage/category',array('group_id'=>$_GET['group_id']))}">帖子分类管理</a></li>
                        <a href="{:U('group/index/group',array('id'=>$_GET['group_id']))}" class="btn btn-primary pull-right" style="margin-left: 10px;">返回群组</a>
                        <button class="btn btn-primary pull-right"  data-role="dismiss_group"
                                data-group-id="{$group_id}">解散群组</button>
                    </ul>
                </div>
                <hr style="border-top:0"/>

                <form class="form-horizontal ajax-form" role="form" action="{:U('Group/manage/notice')}" method="post" id="edit-article-form">
                    <input type="hidden" name="group_id" value="{$group_id}"/>
                    <h3>添加公告</h3>
                    <div class="row">
                        <!-- 帖子分类 -->
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <textarea name="notice" class="form-control" id="inputTitle" placeholder="公告内容" style="height: 200px;">{$notice.content}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="" style="margin-left: 0px">
                        <button type="submit" class="btn btn-large btn-primary" id="submit-button">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span id="submit-content">
                   保存
                            </span>
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script>
        $(function () {
            bind_group_manager();
        })
    </script>
</block>
