<meta charset="UTF-8">
<title>{$mob_seo['title']} | {:modC('WEBSITE_NAME','OpenSNS','Mob')}</title>
<meta name="keywords" content="{$mob_seo['keywords']}">
<meta name="description" content="{$mob_seo['description']}">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/amazeui.min.js"></script>
<script src="__PUBLIC__/js/com/com.functions.js"></script>
<script src="__JS__/toast.js"></script>
<script src="__JS__/apps/base.js"></script>
<script src="__JS__/fileupload/jquery.ui.widget.js"></script>
<script src="__JS__/fileupload/jquery.iframe-transport.js"></script>
<!--<script src="__JS__/fileupload/jquery.fileupload-image.js"></script>-->
<script src="__JS__/fileupload/jquery.load-image.all.min.js"></script>
<script src="__JS__/fileupload/jquery.canvas-to-blob.min.js"></script>
<script src="__JS__/fileupload/jquery.fileupload.js"></script>
<!--<script src="__JS__/fileupload/jquery.fileupload.ui.css"></script>-->
<script src="__JS__/fileupload/jquery.ui.widget.js"></script>
<script src="__JS__/fileupload/jquery.fileupload-process.js"></script>

<script src="__PUBLIC__/js/ext/magnific/jquery.magnific-popup.min.js"></script>
<script src="__JS__/toastr/toastr.min.js"></script>
<script src="__JS__/toast.js"></script>

<link rel="stylesheet" href="__CSS__/amazeui.min.css"/>




<link rel="stylesheet" href="__CSS__/app.css"/>
<link rel="stylesheet" href="__JS__/toastr/toastr.min.css" />
<link rel="stylesheet" href="__JS__/diyUpload.css"/>
<link rel="stylesheet" href="__CSS__/apps/core.css"/>
<link rel="stylesheet" href="__PUBLIC__/js/ext/magnific/magnific-popup.css"/>
<link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
<block name="mob_head"></block><!--用于加载顶部css和js-->
<include file="Public/mob_var"/>

<script>
    //全局内容的定义
    var _LOADING_ = "__IMG__/loading.jpg";
</script>