<php>
    $sideBarUser = query_user(array('nickname', 'uid', 'title', 'score', 'avatar128'), $uid);
    $call = $call ? $call : '我';
</php>

<div class="row ">
    <div class="col-xs-12">
        <div class="with-padding">
            <!--关注按钮，在登录状态-->
            <if condition="is_login() && $uid != get_uid()">

                <p class="text-center">

                    {:W('Common/Follow/follow',array('follow_who'=>$uid))}

                </p>
            </if>
            <h3 class="with-padding">
                用户中心
            </h3>
            <!--导航栏-->
            <ul class="nav nav-pills nav-stacked">

                <li id="side_message">
                    <a href="{:U('Ucenter/Message/message')}">
                        消息中心
                        <span class="icon-bullhorn pull-right"></span>
                    </a>
                </li>
                <li id="side_collection">
                    <a href="{:U('Ucenter/Collection/index')}">
                        我的收藏
                        <span class="icon-star pull-right"></span>
                    </a>
                </li>
                <li id="side_invite">
                    <a href="{:U('Ucenter/Invite/invite')}">
                        邀请好友
                        <span class="icon-star pull-right"></span>
                    </a>
                </li>
                <script>
                    $('#side_' + "{$tabHash}").addClass('active');
                </script>
            </ul>
        </div>
    </div>
</div>