<extend name="Base/mob_common"/>
<block name="mob_header">
    <div class="header">
        <div class="am-g">
            <h1>{:modC('WEB_SITE_NAME','OpenSNS')}</h1>
            <p>{:modC('SUMMARY','')}</p>
        </div>
        <hr/>
    </div>
</block>
<block name="mob_body">
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            <div style="text-align: center">
                <h3>找回密码</h3>
            </div>
            <form id="foundpassword" method="post" class="am-form" data-url="{:U('Mob/Member/foundpassword')}">
                <input class="am-radius" placeholder="{:L('username')}" type="text" name="username" id="text" value="">
                <br>
                <input class="am-radius" placeholder="{:L('email')}" type="email" name="email" id="email" value="">
                <br>
                <div>
                    <!--验证码-->
                    <div class="control-group login-input">
                        <div class="controls">
                            <input type="text" id="inputPassword" class="form-control" placeholder="请输入验证码"
                                   errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" name="verify">
                        </div>
                    </div>
                    <div class="control-group login-input">
                        <div class="controls"style="margin-top: 20px;">
                            <img class="verifyimg reloadverify" alt="点击切换" src="{:U('verify')}" style="cursor:pointer;">
                        </div>
                        <div class="controls Validform_checktip text-warning"></div>
                    </div>
                    <!--验证码结束-->
                </div>
                <br>

                <div class="am-cf">
                    <input type="button"  id="confirm" value="{:L('found')}"
                           class="am-btn am-radius am-btn-primary am-btn-sm am-fl am-btn-block">
                </div>
                <br>
            </form>
        </div>
    </div>
    <script type="text/javascript">



        $('#confirm').click(function () {
            var data = $("#foundpassword").serialize();
            var url = $("#foundpassword").attr('data-url');
            $.post(url, data, function (msg) {
                if (msg.status == 1) {
                    toast.success('密码找回邮件已发送，请耐心等待!');
                    setTimeout(function () {
                        window.location.href= "{:U('Mob/Member/index')}";
                    }, 1000);
                } else {
                    toast.error(msg.info);
                }
            }, 'json');
        });


            var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function () {
                if (verifyimg.indexOf('?') > 0) {
                    $(".verifyimg").attr("src", verifyimg + '&random=' + Math.random());
                } else {
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/, '') + '?' + Math.random());
                }
            });

    </script>
</block>
