<div class="footer-bar ">

    <div class="container">

        </div>

        <div class="row text-center">
            <hr>

            {$count_code}
            <div>
                Powered by <a href="http://www.opensns.cn">OpenSNS</a>
            </div>

        </div>
    </div>

</div>
<div>
    {:C('COUNT_CODE')}
</div>
<include file="Public/js"/>

<block name="script"><!-- 用于加载js代码 --></block>

<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
    <block name="hidden"></block>
</div>
