@import "publicM";
input,button{
	border:none;
}
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0
}
//水平垂直居中
.center {
    justify-content: center; //子元素水平居中
    align-items: center; //子元素垂直居中
    display: flex;
}

/**/
/*创建星球*/
/**/
.creatGroup-name{
	display: block;
	.px2rem(padding-top,29);
	.px2rem(margin-left,100);
	font-family:PingFangSC-Regular;
    .px2px(font-size,24);
    color:rgba(0,0,0,0.38);
}
.name-input{
	display: block;
	.px2rem(width,580);
	.px2rem(height,60);
	.px2rem(padding-left,35);
	font-family:PingFangSC-Regular;
	.px2px(font-size,32);
	color:rgba(0,0,0,0.56);
	margin: 0 auto;
	border-bottom:1px solid rgba(86,118,252,0.54);
}