@import "public"; // publicM.less

//iconfont　通用
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

//initial
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0
}

body {
    font: 12px"宋体", "Arial Narrow", HELVETICA;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2d374b;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

html, body {
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
html {
    background: #f8f9fa;
}

h1 {
    margin: 0;
}

//消除chrome蛋疼的黄框
*.focus {outline: none}
//按钮指针
button {
    cursor: pointer;
}


span.hoverabel {
    cursor: pointer;
    &:hover {
        color: #5677fc;
    }
}
/**
 * 导航栏
 */
#wrapper {
    padding: 0 150px;
    margin: 0 auto;
    .clearfix();
}
#content {
    .clearfix();
    display: flex;
}
.wuan-nav {
    height: 50px;
    background-color: #5677fc;;
}
.nav-wrap {
    height: 100%;
}
.nav-primary {
    height: 100%;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-info {
    font-family:PingFangHK-Regular;
    font-size:14px;
    color:#ffffff;
    text-align:left;
    #nav-login {
        border-right: 1px solid #ffffff;
    }
    #nav-login, #nav-register {
        padding: 0 1em;
        font-family:PingFangHK-Regular;
        font-size:14px;
        color:#ffffff;
        &:hover {
        }
    }
    #nav-register {
        margin-right: 36px;
        padding-left: 0.8em;
    }

}


/**
 * 背景及样式类
 */
.bg-white {
    background-color: #ffffff;
    border-radius:8px;
}


/**
 * section标签页
 */
.section {
    width: 100%;
    margin-top: 15px;
    .section-tab {
        li {
            cursor: pointer;
            margin-right: 10px;
            display: inline-block;
            zoom: 1;
            line-height: 1;
            padding: 5px;
            border-radius: 2px;
        }
        li.on {
            border-bottom: 2px solid #5677fc;
        }
        li.on > span{
             
        }
        li.off > span {
            color:#999999;
        }
    }
    .section-hd {
        margin-bottom: 20px;
        span {
            font-family:PingFangHK-Medium;
            font-size: 18px;
            color:#5677fc;
            text-align:left;
        }

    }
}

.article {
    flex: 1;
    min-width: 590px;
    padding-right: 60px;
}
.aside {
    flex: 0 0 250px;
    .section {
        margin-top: 19px;
        .section-hd {
            span{
                font-family:PingFangHK-Medium;
                font-size:14px;
                color:#5677fc;     
            }
        }
    }
}
.aside-group-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aside-groupdiscover-list {

}
.aside-groupdiscover-item {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    background:#ffffff;
    img {
        padding: 8px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    .aside-groupdiscover-item-content {
        margin-left: 8px;
    }
    h1 {
        font-family:PingFangHK-Medium;
        font-size:14px;
        color:#5992e4;
    }
    p {
        font-family:PingFangHK-Regular;
        font-size:14px;
        color:#666666;
    }
}
.big-container {
    margin-left: 0;
    margin-right: 0;
}
.mid-container {
    margin-left: 40px;
    margin-right: 40px;
}

/**
 * 头部logo
 */
.nav-logo {
    flex: 0 0 72px;
    height: 27px;
    background: url(../../images/logo.png) no-repeat;
    background-position: center center;
    background-size: cover;
    a {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        line-height: 100em;
    }
}


/**
 * 头部search
 */
.nav-search {
    flex: 0.84;
    padding-right: 150px;
    //消除输入栏和搜索图标的边框
    input {
        border: none;
    }
    form {
        border: none;
        padding: 0;
        margin: 0;
        position: relative;
    }
    .inp-btn {
        position: absolute;
        right: 10px;
        top: 9px;
        width: 21px;
        height: 20px;
        border: none;
        background-color: #fff;
        font-size: 0;
        overflow: hidden;
        input {
            color: transparent;
            background: url(../../images/search_blue.svg) no-repeat;
            background-size: contain;
            cursor: pointer;
        }
        

    }
    .inp {
        height: 34px;
        background: #fff;
        border: 1px solid #e1e9e1;
        text-align: left;
        border-radius:4px;
        input {
            width: 462px;
            height: 20px;
            padding: 6px 8px 6px 10px;
            outline: none;

        }
    }   

}
/**
 * 头部登陆后下拉栏部分
 */
[data-toggle] {
    width:114px;
    text-align: center;
    .navbar-account-item {
        font-family:PingFangHK-Medium;
        font-size:14px;
        color:#ffffff;
        text-align:left;
    }

    .dropdown-account {
        z-index: 100;
        position: absolute;
        width: 114px;
        color: #fff;
        background-color: #0074e9;
        text-align: left;
        border-radius: 0 0 4px 4px;
        display: none;
        li {
            display: flex;
            align-items: center;
            padding: 0 16px;
            justify-content: center;
            background:#0074e9;
            box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.09);
            border-radius:2px 2px 0 0;
            height:43px;

            border-bottom: 1px solid #3b52ab;
            a {
                margin-left: 12px;
                font-family:PingFangHK-Medium;
                font-size:14px;
                color:#ffffff;
                text-align:left;
            }     
        }
    }
}
.open[data-toggle] {
    background:#0074e9;
    box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.09);
    border-radius:2px 2px 0 0;   
}
.open .dropdown-account {
    display: block;
}


/**
 * aside
 */
.aside-btn {
    background:#ffffff;
    border-radius:4px;
    margin-bottom: 0.5em;
    width:116px;
    height:34px;

    font-family:PingFangHK-Medium;
    font-size:12px;
    color:#5992e4;
    text-align:center;
}

.aside-btn-blue {
    background:#5677fc;

    font-family:PingFangHK-Medium;
    font-size:12px;
    color:#ffffff;
    text-align:center;
}




/**
 * Dropload样式
 */
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;   
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.dropload-down{
    height: 50px;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    color: @wuanBlue;
    font-size: 24;
}

.dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}


/**
 * left and right margin
 */
.margin-H-16px {
    margin-left: 16px;
    margin-right: 16px; 
}
.display-none {
    display: none;
}

//卡片样式
.card {
    background:#ffffff;
    border:1px solid #f0f6fd;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.24);
    border-radius:4px;
    width: 100%;
    max-height: 350px;

    padding: 14px;
    box-sizing: border-box;
}

//textarea样式
textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    box-sizing: border-box;
}
.bell {
    position: absolute;
    a {
        display: inline-block;
    }
}
.mNote {
    position: relative;
    display: inline-block;
    height: 27px;
    width: 22px;
    vertical-align: bottom;
    background-image: url(../../images/bell_05.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.red-point {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #ff0000;
    display: none;
}