.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  font: 12px "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #2d374b;
  text-decoration: none;
}
a:hover {
  color: #cd0200;
  text-decoration: underline;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
body {
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
h1 {
  margin: 0;
}
.wuanBlueBackground {
  background-color: #5677fc;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.alignCenter {
  align-items: center;
  display: flex;
}
.horizontalCenter {
  justify-content: center;
  display: flex;
}
/**
分割
**/
.navbar-default {
  background-color: #5677fc;
  position: fixed;
  top: 0;
  height: 102px;
  width: 100%;
  z-index: 100;
}
.navbar-default .nav-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-default .nav-container .navbar-header {
  min-height: 1px;
  zoom: 1;
  align-items: center;
}
.navbar-default .nav-container .navbar-header:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.navbar-default .nav-container .navbar-header .toggle {
  margin-right: -15px;
  margin-left: -15px;
}
.navbar-default .nav-container .navbar-header svg {
  font-size: 36px;
}
.navbar-search {
  background-color: #5677fc;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  height: 128px;
  width: 100%;
  box-shadow: 0 0 8px 0;
}
.navbar-search .nav-container {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-search .nav-container .navbar-header .toggle {
  margin-right: -15px;
  margin-left: -15px;
}
.back-toggle {
  height: 36px;
  margin: 48px 0 48px 10px;
  border: 0;
  float: left;
  position: relative;
  background: transparent;
}
.navbar-brand {
  font-size: 20px;
  font-family: PingFangSC-Medium;
  opacity: 0.87;
  color: #ffffff;
  float: left;
  height: 54%;
  padding: 23px 0 23px 40px;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
[data-dpr="2"] .navbar-brand {
  font-size: 40px;
}
[data-dpr="2.5"] .navbar-brand {
  font-size: 50px;
}
[data-dpr="2.75"] .navbar-brand {
  font-size: 55px;
}
[data-dpr="3"] .navbar-brand {
  font-size: 60px;
}
[data-dpr="4"] .navbar-brand {
  font-size: 80px;
}
.icon-back {
  font-size: 36px;
  top: -3px;
  color: rgba(255, 255, 255, 0.8);
}
.search-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 16px 0;
  height: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
}
input[type=search] {
  appearance: textfield;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::search-decoration,
input::search-cancel-button {
  display: none;
}
.tab-head {
  margin-top: 102px;
  height: 96px;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 8px 0;
}
.tab-head ul.tab-head-bar {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #5677fc;
  margin: 0 auto;
}
.tab-head ul.tab-head-bar li {
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.tab-head ul.tab-head-bar li a {
  display: inline-block;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  color: #FFF;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  font-size: 16px;
}
.tab-head ul.tab-head-bar li a:hover {
  background: #0095BB;
}
.tab-head ul.tab-head-bar li svg {
  font-size: 40px;
}
.navbar-search-header {
  min-height: 1px;
  zoom: 1;
  height: 100%;
}
.navbar-search-header:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.searcher {
  float: right;
  position: absolute;
  left: 96px;
  right: 16px;
  height: 96px;
  margin: 16px 0;
}
.searcher form {
  display: flex;
  height: 100%;
  width: 100%;
  background: #fafafa;
  box-shadow: 0 0 2px 0;
  border-radius: 4px;
}
.searcher form input,
.searcher form button {
  border: none;
  float: left;
  background: #fafafa;
}
.searcher form input[type=search] {
  height: 95%;
  width: 90%;
  margin-left: 10px;
  appearance: none;
}
.searcher form button {
  margin: 0 32px 0 0;
}
.searcher form svg {
  font-size: 36px;
}
.search-container {
  position: relative;
  top: 140px;
}
.tab-container {
  position: relative;
  top: 210px;
}
