@wuanBlue: #5677fc;
@bgWhite: #ffffff;
//字体适配
//使用时.px2px(font-size, 32);
.px2px(@name, @px) {
    @{name}: round(@px / 2) * 1px;
    [data-dpr="2"] & {
        @{name}: @px * 1px;
    }
    // for mx3
    [data-dpr="2.5"] & {
        @{name}: round(@px * 2.5 / 2) * 1px;
    }
    // for 小米note
    [data-dpr="2.75"] & {
        @{name}: round(@px * 2.75 / 2) * 1px;
    }
    [data-dpr="3"] & {
        @{name}: round(@px / 2 * 3) * 1px
    }
    // for 三星note4
    [data-dpr="4"] & {
        @{name}: @px * 2px;
    }
}

//iconfont　通用
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

//initial
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0
}

body {
    font: 12px"宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2d374b;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

body {
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

h1 {
    margin: 0;
}

.wuanBlueBackground {
    background-color: @wuanBlue;
}

//圆角
.border-radius(@radius: 2px) {
    border-radius: @radius;
}

//水平垂直居中
.center {
    justify-content: center; //子元素水平居中
    align-items: center; //子元素垂直居中
    display: flex;
}

//清除浮动，在父元素里面放
.clearfix() {
    min-height: 1px;
    zoom: 1;
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }
}

.bottom-shadow(@hshadow: 8px) {
    box-shadow: 0 0 @hshadow 0;
}

/**
分割
**/


@navbar-header-height: 102px;
@navbar-search-height: 128px;
.navbar-default {
    .wuanBlueBackground;
    position: fixed;
    top: 0;
    height: @navbar-header-height;
    width: 100%;
    z-index: 100;
    .nav-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        .navbar-header {
            .clearfix();
            align-items: center; //子元素垂直居中
            .toggle {
                margin-right: -15px;
                margin-left: -15px;
            }
            svg {
                font-size: 36px;
            }
        }
    }
}



.navbar-search {
    .wuanBlueBackground;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    height: @navbar-search-height;
    width: 100%;
    .bottom-shadow();
    .nav-container {
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        .navbar-header {
            .toggle {
                margin-right: -15px;
                margin-left: -15px;
            }
        }
    }
}

.back-toggle {
    height: 36px;
    margin: 48px 0 48px 10px;
    border: 0;
    float: left;
    position: relative;
    background: transparent;
}



.navbar-brand {
    .px2px(font-size, 40);
    font-family: PingFangSC-Medium;
    opacity: 0.87;
    color: #ffffff;
    float: left;
    height: 100% - 46px;
    padding: 23px 0 23px 40px;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

//this should be modified later
.icon-back {
    font-size: 36px;
    top: -3px;
    color: rgba(255, 255, 255, 0.8);
}

.search-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 16px 0;
    height: @navbar-header-height - 32px;
    .center
}

input[type=search] {
    appearance: textfield;
    box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::search-decoration, input::search-cancel-button {
    display: none;
}



.tab-head {
    margin-top: 102px;
    height: 96px;
    width: 100%;
    position: fixed;
    .bottom-shadow;

    ul.tab-head-bar {
        display: -webkit-flex;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: @wuanBlue;
        margin: 0 auto;
        li {
            flex: 1;
            height: 100%;
            .center;
            a {
                display: inline-block;
                padding: 0 20px;
                height: 60px;
                line-height: 60px;
                color: #FFF;
                font-family: "\5FAE\8F6F\96C5\9ED1";
                font-size: 16px;
            }
            a:hover {
                background: #0095BB;
            }
            svg {
                font-size: 40px;
            }
        }
    }
}

.navbar-search-header {
    .clearfix();
    height: 100%;
}

.searcher {
    float: right;
    position: absolute;
    left: 96px;
    right: 16px;
    height: 96px;
    margin: 16px 0;
    form {
        display: flex;
        height: 100%;
        width: 100%;
        background: #fafafa;
        .bottom-shadow(@hshadow: 2px);
        .border-radius(@radius: 4px);
        input, button {
            border: none;
            float: left;
            background: #fafafa;
        }
        input[type=search] {
            height: 95%;
            width: 90%;
            margin-left: 10px;
            appearance: none;
        }
        button {
            margin: 0 32px 0 0;
        }
        svg {
            font-size: 36px;
        }
    }
}

.search-container {
    margin-top: 138px;
}