@import "public"; // publicM.less

//iconfont　通用
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

//initial
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0
}

body {
    font: 12px"宋体", "Arial Narrow", HELVETICA;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2d374b;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

html, body {
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
html {
    background: #f8f9fa;
}

h1 {
    margin: 0;
}

//消除chrome蛋疼的黄框
*.focus {outline: none}

/**
分割
**/
#wrapper {
    width: 950px;
    margin: 0 auto;
    .clearfix();
}
#content {
    .clearfix();
}
.nav-wrap {
    height: 100%;
}
.nav-primary {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 150px;
}


/**
 * section标签页
 */
.section {
    margin-top: 15px;
    .section-tab {
        li {
            cursor: pointer;
            margin-right: 10px;
            display: inline-block;
            zoom: 1;
            line-height: 1;
            padding: 5px;
            border-radius: 2px;
        }
        li.on > span{
             
        }
        li.off > span {
            color:#999999;
        }
    }
    .section-hd {
        margin-bottom: 20px;
        span {
            font-family:PingFangHK-Medium;
            font-size: 18px;
            color:#5677fc;
            text-align:left;           
        }

    }
}

.article {
    float: left;
    width: 590px;
    padding-right: 40px;
}
.aside {
    float: right;
    width: 310px;
}
.big-container {
    margin-left: 0;
    margin-right: 0;
}
.mid-container {
    margin-left: 40px;
    margin-right: 40px;
}

/**
 * 头部logo
 */
.nav-logo {
    float: left;
    height: 27px;
    width: 72px;
    margin: 0 3% 0 0;
    background: url(https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1361763051,2365245678&fm=23&gp=0.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    a {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        line-height: 100em;
}
}


/**
 * 头部search
 */
.nav-search {
    //消除输入栏和搜索图标的边框
    input {
        border: none;
    }
    form {
        border: none;
        padding: 0;
        margin: 0;
        position: relative;
    }
    .inp-btn {
        position: absolute;
        left: 448px;
        top: 7px;
        width: 21px;
        height: 20px;
        border: 1px solid #e1e9e1;
        border-left: none;
        background-color: #fff;
        font-size: 0;
        overflow: hidden;
        input {
            color: transparent;
            background: url(../../images/search_blue.svg) no-repeat;
            background-size: contain;
            cursor: pointer;
        }
        

    }
    .inp {
        width: 480px;
        height: 34px;
        background: #fff;
        border: 1px solid #e1e9e1;
        text-align: left;
        border-radius:4px;
        input {
            width: 430px;
            height: 20px;
            padding: 6px 8px 6px 10px;
            outline: none;

        }
    }   

}


/**
 * aside
 */
.aside-btn {
    background:#ffffff;
    border-radius:4px;
    width:116px;
    height:34px;

    font-family:PingFangHK-Medium;
    font-size:12px;
    color:#5992e4;
    text-align:center;
}

.aside-btn-blue {
    background:#5677fc;

    font-family:PingFangHK-Medium;
    font-size:12px;
    color:#ffffff;
    text-align:center;
}








/**
 * Dropload样式
 */
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;   
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.dropload-down{
    height: 50px;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    color: @wuanBlue;
    font-size: 24;
}

.dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}


/**
 * left and right margin
 */
.margin-H-16px {
    margin-left: 16px;
    margin-right: 16px; 
}