@import "public"; // public.less

.index-entry {
    background-color: #ffffff;
    margin-top: 12;
    .index-entry-header, .index-entry-content {
    }
    .index-entry-header {
        max-width:  100%;
        display: flex;
        height: 26px;
        padding: 10px 0 10px 0;
        .clearfix();
        font-family:PingFangHK-Medium;
        font-size:12px;
        color:#999999;
        text-align:left;
        .index-entry-info {
            height: 26px;
            img {
                width: 26px;
                height: 26px;
                border-radius:100%;
            };
        };
        .index-entry-date {
            height: 26px;
            margin-left: 12px;
        };
        p {
            display: inline;
            font-family:PingFangHK-Medium;
            color:#999999;
            text-align:left;
            line-height: 26px;
            font-size: 12px;
        };
    };
    .index-entry-content {

        h1 {
            opacity:0.87;
            font-family:PingFangHK-Semibold;
            font-size:16px;
            color:#003585;
            text-align:left;
        };
        .index-entry-brief {
            p {
                font-size: 14px;
                opacity:0.54;
                font-family:PingFangHK-Regular;
                color:#000000;
                letter-spacing:0;
                text-align:justify;
            }
        };
    };
    .index-entry-footer {
        margin-top: 10px;
        border-top: 1px solid rgba(0,0,0,0.25);
        padding: 10px 0 10px 0;
        ul {
            display: -webkit-flex;
            display: flex;
            width: 100%;
            li {
                height: 100%;
                svg {
                    font-size: 25px;
                }
                p {
                    font-size: 14px;
                    padding: 0 10px;
                    opacity:0.54;
                    font-family:PingFangHK-Regular;
                    color:#5677fc;
                    text-align:justify;

                    width: 68px;
                    overflow-wrap: normal;
                    overflow: hidden;
                }
                //加入分割的点
                &:not(:first-child) {
                    &:before {
                        content: '·';
                        position: relative;
                        left: 5px;
                        float: left;
                        color: #999999;
                        font-size: 20px;
                        height: 19px;
                        border-radius: 100%;
                    }
                }
            }
            li.index-notdone {
                p {
                    color: #000000;
                }
            }
        }
    }
}
