@import "publicM";//publicM.less


.personal-tab-container{
	position:absolute;
	bottom:0;
	.px2rem(top,210);
	width:100%;
	background-color: #ffffff;
	.personal-items{
	    height: 100%;
    	position: absolute;
    	bottom: 0;
    	width: 100%;
    	display:flex;
    	flex-direction:column;
	}
}

.personal-item{
	.px2rem(margin-bottom,12);
}

.onlyBorder{
	.px2rem(width,0);
	.px2rem(height,0);
	line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-style:solid;
}

.nextLabel{
	.px2rem(width,20);
	.px2rem(height,32);
	.personal-next1, .personal-next2{
		.onlyBorder;
    	.px2rem(border-top-width,16);
		.px2rem(border-bottom-width,16);
		.px2rem(border-left-width,18);
		.px2rem(border-right-width,18);
	}
	.personal-next1{
		border-color:transparent transparent transparent rgba(0,0,0,0.26);
	}
	.personal-next2{
		position:relative;
		.px2rem(top,-32);
		.px2rem(right,6);
		border-color:transparent transparent transparent @bgWhite;
	}
}

.personal-details{
	.personal-detail{
		.px2rem(height,120);
		.px2rem(margin-top,1);
		width:100%;
		.alignCenter;
		justify-content: space-around;
		.personal-item-icon{
			.px2rem(margin-left,40);
			.px2rem(width,42);
			.px2rem(height,32);
			background-color:blue;
		}
		.personal-item-text{
			opacity:0.87;
			font-family:PingFangHK-Regular;
			.px2px(font-size,24);
			color:#000000;
		}
		.personal-next{
			.nextLabel;
			.px2rem(margin-left,457);
		}
	}
}



.personal-logstate{
	.px2rem(height,140);
	.alignCenter;
	justify-content: space-around;
	.personal-personIcon{
		.px2rem(width,75);
		.px2rem(height,77);
		position:relative;
		background-color:@bgWhite;
		float:left;
		.px2rem(margin-left,39);
		.personal-personIcon1, .personal-personIcon2, .personal-personIcon3{
			background-color: rgba(0,0,0,0.26);
			border-radius: 50%;
		}
		.personal-personIcon1{
			.px2rem(width,26);
			.px2rem(height,24);
			position:absolute;
			.px2rem(top,22);
			.px2rem(left,25);
			
		}

		.personal-personIcon2{
			.onlyBorder;
			border-color:rgba(0,0,0,0.26)  @bgWhite @bgWhite @bgWhite;
			.px2rem(border-width,31.5);
			position:absolute;
			.px2rem(top,49);
			.px2rem(left,6);
		}

		.personal-personIcon3{
			.onlyBorder;
			position:absolute;
			.px2rem(border-width,38);
			border-color:@bgWhite;
			box-shadow: 1px -5px 10px rgba(0,0,0,0.26);
		}
	}
	.personal-logfont{
		opacity:0.87;
		font-family:PingFangHK-Medium;
		font-weight:bold;
		font-size:28px;
		color:#000000;
		text-align:left;
	}

	.personal-next{
		.nextLabel;
		.px2rem(margin-left,428);
	}
}

.personal-signBtn{
	.center;
	flex-basis: auto;
	background-color: rgba(255, 0, 0, 0);
	button{
		.px2rem(width,608);
		.px2rem(height,89);
		.wuanBlueBackground;
		opacity:0.87;
		font-family:PingFangSC-Regular;
		.px2px(font-size,32);
		color:#ffffff;
		text-align:center;
		.border-radius(8px);
	}
}
