@import "searchInputMobile";

.searchPlanet-search-content-planets{

	background-color:@bgWhite;
	.content-planets-tag{
		.alignCenter;
		.px2rem(height,57);
		.px2px(font-size,40);
		.px2rem(margin-left,40);
		.px2rem(margin-top,12);
		opacity:0.87;
		font-family:PingFangSC-Medium;
		color:#5677fc;
	}

	.content-planets-total{
		display:flex;
		justify-content: flex-start;
		flex-wrap:wrap;
		align-content: flex-start;
		.px2rem(margin-top,24);
		.content-planets-single{
			box-sizing: border-box;
			background-color:@bgWhite;
			.px2rem(height,150);
			.px2rem(width,170);
			margin: 0.05rem 0.5rem 1.125rem;
			.content-planets-single-img{
				.px2rem(width,170);
				.center;
				.px2rem(height,99);
				div{
					.px2rem(width,99);
					.px2rem(height,99);
					background:red;
					border-radius:50%;
					img{
						width: 100%;
						height: 100%;
					}
				}
			}



			.content-planets-single-exp{		
				.px2rem(margin-top,17);
				.px2px(font-size,22);
				.px2rem(width,168);
				.horizontalCenter;
				text-align: center;
				color:rgba(40,40,40,0.87);
				span{
					display: inline-block;
					overflow: hidden;
    				text-overflow: ellipsis;
    				width: 100%;
    				height: 100%;
    				white-space: nowrap;
    				word-break: break-all;
				}
			}	
		}
	}
	
}

